<template>
  <a-pagination :total="500">
    <template #itemRender="{ page, type, originalElement }">
      <a v-if="type === 'prev'">Previous</a>
      <a v-else-if="type === 'next'">Next</a>
      <renderVNode v-else :vnode="originalElement"></renderVNode>
    </template>
  </a-pagination>
</template>
<script lang="ts">
import { defineComponent, ref, watch } from 'vue';

function renderVNode(_, { attrs: { vnode } }) {
  return vnode;
}
export default defineComponent({
  components: {
    renderVNode,
  },
});
</script>
<style scoped>

.ant-pagination-item a {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    position: relative;
    transform: translateZ(0);
    overflow: hidden;
}
/* Pagination-Btn Annimation */
.ant-pagination-item a:after,
.ant-pagination-item a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #389d29;
    z-index: -1;
    transform: translate3D(0,-100%,0);
    transition: all 0.2s ease-out;
}
.ant-pagination-item a:before {
    background: #151515;
    transform: translate3D(0,0,0);
}
.ant-pagination-item a:hover:after {
    transform: translate3D(0,0,0);
    transition: all 0.2s ease-out;
}
/*  */
/* Style Pagination Btn */
.ant-pagination-item-active a {
    background-color: #389d29;
    color: #fff;
}
:deep(.ant-pagination-item) {
    height: auto!important;
    border: 0;
}
/* Style Prev Btn */
:deep(.ant-pagination-prev a) {
    color: #fff!important;
    text-decoration: none;
}
:deep(.ant-pagination-prev) {
    border-radius: 5px;
    color: #fff!important;
    position: relative;
    overflow: hidden;
    padding: 5px 20px;
    height: 100%;
}
/* Previous-Btn Animation */
.ant-pagination-prev a:after,
.ant-pagination-prev a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #389d29;
    z-index: -1;
    transform: translate3D(0,-100%,0);
    transition: all 0.2s ease-out;
}
.ant-pagination-prev a:before {
    background: #151515;
    transform: translate3D(0,0,0);
}
.ant-pagination-prev a:hover:after {
    transform: translate3D(0,0,0);
    transition: all 0.2s ease-out;
}
/*  */
/* Style Next Btn */
:deep(.ant-pagination-next a) {
    color: #fff!important;
    border-radius: 5px;
    text-decoration: none;
}
:deep(.ant-pagination-next) {
    border-radius: 5px;
    color: #fff!important;
    position: relative;
    overflow: hidden;
    padding: 5px 20px;
    height: 100%;
}
/* Next-Btn Animation */
.ant-pagination-next a:after,
.ant-pagination-next a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #389d29;
    z-index: -1;
    transform: translate3D(0,-100%,0);
    transition: all 0.2s ease-out;
}
.ant-pagination-next a:before {
    background: #151515;
    transform: translate3D(0,0,0);
}
.ant-pagination-next a:hover:after {
    transform: translate3D(0,0,0);
    transition: all 0.2s ease-out;
}
/*  */


</style>