<template>
  <!-- New Table -->
  <div class="table w-100">
    <div class="row bookmaker-table-titles d-flex">
      <div class="cell-title-bookmaker hide-on-mobile">Bookmaker</div>
      <div class="cell-title-features hide-on-mobile">Features</div>
      <div class="cell-title-comments hide-on-mobile">Comments</div>
      <div class="cell-title-offers hide-on-mobile">New account offers</div>
      <div class="cell-title-actions hide-on-mobile">Actions</div>
    </div>
    <div class="table-content" v-for="item in items" :key="item">
      <div class="d-block d-md-flex">
        <div class="cell bookmaker-title center">
          {{ item.title }}
        </div>
        <div
          class="cell bookmaker-features center hide-on-mobile"
          v-if="item.features.length > 0"
        >
          <router-link
            :to="item.slug"
            v-for="feature in item.experiences"
            :key="feature"
            class="me-1"
          >
            <a-tooltip placement="top">
              <template #title> {{ feature.text }}</template>

              <font-awesome-icon
                class="icon me-2"
                :icon="['fas', nameToIcon(feature.pros)]"
              />
            </a-tooltip>
          </router-link>
        </div>
        <div class="cell bookmakers-comments text-center center hide-on-mobile">
          <font-awesome-icon :icon="['far', 'comment']" />
          {{ item.comments.length }}
        </div>
        <div class="cell bookmakers-offer d-block text-center">
          <span class="offer-value">{{ item.offerValue }}</span
          ><br />
          <span class="offer-info">{{ item.offerInfo }}</span>
        </div>
        <div class="cell bookmakers-action d-block text-center align-middle">
          <div class="buttons d-flex center">
            <a-button
              :href="item.referralLink"
              type="link"
              class="general-btn me-4"
              >Register</a-button
            >
            <a-button
              v-bind:href="
                $router.resolve({
                  name: 'Bookmaker',
                  params: {
                    slug: item.slug,
                  },
                }).href
              "
              class="review-btn centerV"
              >Review</a-button
            >
          </div>
          <a-tooltip class="info-tooltip" placement="bottom">
            <template #title
              ><span class="info-tooltip-text"
                >New Customer Offer.Exchange bets excluded.</span
              >
            </template>
            <span>T&C applies</span>
          </a-tooltip>
        </div>
      </div>
    </div>
  </div>
  <!-- End New Table -->
</template>
<script lang="ts">
import { defineComponent, PropType } from "@vue/runtime-core";
import { Bookmakers } from "../../types";
export default defineComponent({
  props: {
    items: {
      type: Object as PropType<Bookmakers>,
    },
  },
  methods: {
    nameToIcon(name: string): string {
      if (name === "Unlimited withdraw limits") {
        return "viruses";
      } else if (name === "Multiple withdraw methods") {
        return "euro-sign";
      } else if (name === "Live chat open 24/7") {
        return "heart";
      } else if (name === "Mobile-friendly design") {
        return "laptop";
      }
      return "minus";
    },
  },
});
</script>

<style scoped>
td {
  border: 1px solid #e6e6e6;
  padding: 25px;
}
.bookmaker-offers {
  text-align: center;
}

.table-head {
  font-weight: 400;
  font-size: 15px;
  padding: 10px 10px 10px 0;
}
.bookmaker-title {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  border: 1px solid #e6e6e6;
  border-bottom: 0px;
  width: 20%;
}
.bookmaker-title:last-child, .table {
  border-bottom: 1px solid #e6e6e6;
}
.bookmaker-features,
.bookmakers-offer {
  border: 1px solid #e6e6e6;
  border-bottom: 0px;
  border-left: 0;
  width: 20%;
}
.bookmakers-action {
  width: 30%;
  border: 1px solid #e6e6e6;
  border-bottom: 0px;
  border-left: 0;
}
.bookmakers-comments {
  width: 10%;
  border: 1px solid #e6e6e6;
  border-left: 0;
  border-bottom: 0;
}
.bookmaker-table-titles {
  margin-bottom: 10px;
}
.offer-value {
  font-size: 15px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 600;
  color: #606060;
}
.info-tooltip-text {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.offer-info {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 300;
  color: #686868;
}
.review-btn {
  margin: 0;
  padding: 4px 25px !important;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Raleway;
  height: fit-content;
  margin: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
}
.cell {
  padding: 25px;
}
.cell-title-bookmaker,
.cell-title-features {
  margin-right: 170px;
}
.cell-title-comments {
  margin-right: 20px;
}
.cell-title-offers {
  margin-right: 370px;
}
@media (max-width: 767.98px) {
  .bookmakers-comments {
    display: none;
  }
  .bookmaker-title,
  .bookmaker-features,
  .bookmakers-offer,
  .bookmakers-action,
  .bookmakers-offer {
    width: 100%;
  }
  .table {
    overflow: auto;
  }
}
.table-2 {
  overflow: auto;
}
</style>
