<template>
  <div v-if="!loading">
    <div v-if="!titleLoading">
      <SectionHeading
        class="section-heading"
        :title="titles.section[4].title"
        :subtitle="titles.section[4].subtitle"
        :description="titles.section[4].description"
      />
    </div>
    <a-row :gutter="23">
      <a-col class="big-col" :xl="16" :xs="24">
        <CardBlogPost 
        class="mb-4 mb-md-0 main-new"
          :type="'normal'"
          :title="latestNews[0].title"
          :thumbnail="latestNews[0].thumbnail"
          :description="latestNews[0].description"
          :tag="{ name: '/', href: '/' }"
          :author="{ name: latestNews[0].author.firstname + '  ' +  latestNews[0].author.lastname, href: '/' }"
          :details="{
            date: Date.parse(latestNews[0].publishedAt),
            commentNo: latestNews[0].comments.length,
          }"
          :href="{
            name: 'Blog',
            params: {
              slug: latestNews[0].slug,
            },
          }"
        ></CardBlogPost>
      </a-col>
      <a-col :xl="8" :xs="24" class="d-flex flex-column justify-content-between small-col">
        <div
          class="mini-card"
          v-for="item in latestNews.slice(1, 4)"
          :key="item"
        >
          <CardBlogPost
            class="mb-4 mb-md-0"
            :type="'mini'"
            :title="item.title"
            :thumbnail="item.thumbnail"
            :description="item.description"
            :author="{ name: item.author.firstname + '  ' +  item.author.lastname, href: '/' }"
            :details="{
              date: Date.parse(item.publishedAt),
              commentNo: item.comments.length,
              category: item.category.name,
            }"
            :href="{
              name: 'Blog',
              params: {
                slug: item.slug,
              },
            }"
          />
        </div>
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import CardBlogPost from "../../components/CardBlogPost/CardBlogPost.vue";
import fetchLatestNews from "../../misc/composition/fetchLatestNews";
import fetchHomeTitles from "../../misc/composition/fetchHomeSectionTitles";
import SectionHeading from "../../components/SectionHeading/SectionHeading.vue";
export default defineComponent({
  name: "Home",
  components: {
    CardBlogPost,
    SectionHeading,
  },
  setup() {
    const { latestNews, loading } = fetchLatestNews(4);
    const { titles, loading: titleLoading } = fetchHomeTitles();
    return { latestNews, loading, titleLoading, titles };
  },
});
</script>
<style scoped>

:deep(.mini .post-thumbnail) {
  max-height: 185px;
}
.section-heading {
  margin-bottom: 55px;
}

:deep(.mini-card .content h3){
  font-size:20px;
}
</style>
