<template>
  <header class="w-100 sticky"  :class="{'position-fixed' : fixed}">
    <div class="d-flex justify-content-between centerV container p-md-0 px-4">
        <div>
          <div class="title">{{title}}</div>
          <div class="listing-star">
              <rating class="rating" :rating="rating"></rating>
          </div>
        </div>
        <div v-if="thumbnail">
          <div class="thumbnail-wrapper hide-on-mobile">
            <img
              class="cat-icon"
              :src="$getFileSource(thumbnail.url)"
            />
          </div>
        </div>
        <a-button class="general-btn" :href="href" v-if="href">
          <font-awesome-icon :icon="['fas', 'arrow-circle-right']" class="icon" />
          Play now
        </a-button>
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

import Rating from "../Rating/Rating.vue";
import {Thumbnail} from '../../types'
export default defineComponent({
  components: { Rating },
  props: {
    title: {
      type:String,
      required: true
    },
    rating: {
      type: Number,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>
    },
    fixed: {
      type: Boolean,
      default: false,
    },
    href: {
      type: String
    }
  },
});
</script>

<style scoped>
.title {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 5px;
}

/** CONTAINER */
.sticky {
    padding: 20px 0px 28px 0;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    background-color: #1b1d21;
}

/** THUMBNAIL */
img {
    max-width: 60px;
    border: 1px solid #555;
}

.rating {
  transform-origin: left;
  transform: scale(0.88);
}
</style>
