<template>
  <div v-if="!loading">
    <div v-if="!titleLoading">
      <SectionHeading
        class="section-heading"
        :title="titles.section[2].title"
        :subtitle="titles.section[2].subtitle"
        :description="titles.section[2].description"
      />
    </div>
    <a-row justify="center" type="flex" :gutter="[25, 25]">
      <a-col :xl="8" :xs="24" v-for="item in latestNews" :key="item">
        <CardNews
          class="card-news mb-1 mb-md-0"
          :title="item.title"
          :description="item.description"
          :author="{ name: 'Trader Marcus', href: '/' }"
          :href="{
            name: 'Blog',
            params: {
              slug: item.slug,
            },
          }"
        />
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import CardNews from "../../components/CardNews/CardNews.vue";
import fetchLatestNews from "../../misc/composition/fetchLatestNews";
import SectionHeading from "../../components/SectionHeading/SectionHeading.vue";
import fetchHomeTitles from "../../misc/composition/fetchHomeSectionTitles";
export default defineComponent({
  name: "Home",
  components: {
    CardNews,
    SectionHeading,
  },
  setup() {
    const { latestNews, loading } = fetchLatestNews();
    const { titles, loading: titleLoading } = fetchHomeTitles();
    return { latestNews, loading, titles, titleLoading };
  },
});
</script>
<style scoped>
.row-news {
  flex-wrap: wrap;
}

.section-heading {
  margin-bottom: 55px;
}
</style>
