<template>
  <p class="list_description" v-html="description"></p>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    description: {
      type: String
    }
  },
});
</script>

<style scoped>
:deep(p) {
  margin-bottom: 20px;
}
:deep(blockquote) {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #389d29;
  line-height: 30px;
  color: #101010;
  font-weight: 400;
}
:deep(blockquote p) {
  margin-bottom: 0;
}
</style>
