<template>
<aside>
    <h3>{{ title }}</h3>
    <p class="desc">{{ description }}</p>
    <div class="address-social-links">

        <div v-if="contacts" class="contact-details">
            <p v-for="contact in contacts" :key="contact">{{contact.name}}
                <a :href="contact.actionURL"><strong>{{contact.actionMask}}</strong></a>
            </p>
        </div>

        <ul v-if="socials" class="social-links">
            <li v-for="social in socials" :key="social" >
                <a target="_blank" :href="social.href">
                    <font-awesome-icon :icon="[convertTextToIconType(social.icon.type), social.icon.name]" class="icon" />
                </a>
            </li>
        </ul>

    </div>
</aside>
</template>

<script lang="ts">
import {
    defineComponent,
    PropType
} from "vue";

import {
    SocialLink,
    ContactLink
} from '../../types'
import convertTextToIconType from "../../misc/helpers/convertTextToIconType";

export default defineComponent({
    props: {
        title: {
            type: String,
        },
        description: {
            type: String,
        },
        contacts: {
            type: Object as PropType < ContactLink[] > ,
            required: false
        },
        socials: {
            type: Object as PropType < SocialLink[] > ,
            required: false
        },
    },
    setup() {
        return {convertTextToIconType}
    }
})
</script>

<style scoped>
h3 {
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px 0;
    line-height: 25px;

}

.address-social-links {
    margin-top: 20px;
}

.desc {
    color: #c8c8c8;
    font-size: 14px;
}

p {
    color: #c8c8c8;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    opacity: 1;
}
ul {
    padding: 0;
}
ul > li {
    list-style-type: none;
    padding-right: 20px;
    display: inline;
        line-height: 35px;
}
a {
    color: #fff;
}
a > svg {
    transition: color 0.25s linear;
}
a:hover > svg {
    color:#389d29;
}
strong {
    font-weight: 600;
}
</style>
