<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <div>
    <div v-if="!loading">
      <div class="section-title">
        <SectionHeading
          :title="characteristic.sectionTitle.title"
          :subtitle="characteristic.sectionTitle.subtitle"
          :description="characteristic.sectionTitle.description"
        />
      </div>
      <!--  -->

      <a-row justify="center" type="flex" :gutter="[24, 24]">
        <a-col
          :xl="8"
          :span="24"
          v-for="item in characteristic.characteristics"
          :key="item"
        >
          <Characteristic
            :id="item.id"
            :title="item.title"
            :subtitle="item.subtitle"
            :description="item.description"
          />
        </a-col>
      </a-row>
    </div>
    <!--  -->
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import Characteristic from "../../components/Characteristic/Characteristic.vue";
import fetchHomeCharacteristics from "../../misc/composition/fetchHomeCharacteristics";
import SectionHeading from "../../components/SectionHeading/SectionHeading.vue";
import LoadingPageAnim from "../LoadingPageAnim.vue";
export default defineComponent({
  name: "Home",
  components: {
    Characteristic,
    SectionHeading,
    LoadingPageAnim
  },
  setup() {
    //
    const { characteristic, loading } = fetchHomeCharacteristics();

    return { characteristic, loading };
  },
});
</script>
<style scoped>
.section-title {
  margin-bottom: 27px;
}



</style>
