<template>
  <div class="stars score d-flex" :class="[getClass, position]">
    <font-awesome-icon
      v-if="limitToOneStar"
      class="stars"
      :icon="['fas', 'star']"
    />

    <template v-else>
      <font-awesome-icon
        class="stars"
        v-for="star in maxStars"
        :key="star"
        :icon="[star <= getRatingAvg ? 'fas' : 'far', 'star']"
      />
    </template>

    <div
      v-if="hasRating || hasRatingOutOf"
      class="mt-item-reviews-average-wrapper"
    >
      <div v-if="hasRating">
        <div class="rating">
          {{ getRatingAvg }}
        </div>
      </div>
      <div v-else-if="hasRatingOutOf">
        <div class="rating">{{ getRatingAvg }} / {{ maxStars }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Rating, Position } from "../../types";
import { meanBy } from "lodash";
export default defineComponent({
  props: {
    hasRating: {
      type: Boolean,
      required: false,
    },
    hasRatingOutOf: {
      type: Boolean,
      required: false,
    },
    limitToOneStar: {
      type: Boolean,
      required: false,
    },
    rating: {
      type: Number,
      default: 1,
      validator(value: Number) {
        return value <= 5 || value >= 1;
      },
    },
    ratings: {
      type: Object as PropType<Rating[]>,
      required: false,
    },
    maxStars: {
      type: Number,
      required: false,
      default: 5,
    },
    position: {
      type: Object as PropType<Position>,
      default: () => {
        return { none: "none" };
      },
    },
  },
  computed: {
    getRatingAvg(): number {
      if (this.rating) {
        return this.rating;
      }
      return Math.round(
        (meanBy(this.ratings, (p) => p.percentage) / 10 / 10) * this.maxStars
      );
    },
    getClass(): string {
      return "level-bg-" + (this.getRatingAvg > 5 ? 5 : this.getRatingAvg);
    },
  },
});
</script>

<style scoped>
.rating {
  color: #fff;
  font-size: 20px;
}
.stars {
  line-height: 16px;
}
.score:not(.none) {
  position: absolute;
}
.score {
  text-align: right;
  color: #fff;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 700;
}
.stars > svg {
  margin: 0 2px;
  font-size: 14px;
}
.rating {
  font-size: 14px;
  margin-left: 5px;
}
</style>
