<template>
  <a-form ref="formRef" :model="formState" :rules="rules" class="ant-form d-flex">
    <a-form-item class="search-field" ref="search" name="search">
      <a-input
        v-model:value="formState.search"
        class="search-input"
        placeholder="Search..."
      />
    </a-form-item>

    <a-button
      type="primary"
      @click="onSubmit"
      class="ms-2 general-btn overflow-hidden"
      >SEARCH</a-button
    >
  </a-form>
</template>
<script lang="ts">
import { defineComponent, reactive, ref } from "vue";
import type { UnwrapRef } from "vue";

interface FormState {
  search: string;
}
export default defineComponent({
  setup() {
    const formRef = ref();
    const formState: UnwrapRef<FormState> = reactive({
      search: "",
    });
    const rules = {
      search: [
        {
          required: true,
          message: "Please input what you want to search.",
          trigger: "blur",
        },
        { min: 3, max: 5, message: "Length should be 3 to 5", trigger: "blur" },
      ],
    };
    const onSubmit = () => {
      formRef.value
        .validate()
        .then(() => {
          // handle search
        })
        .catch((error : any) => {
          console.log("error", error);
        });
    };
    const resetForm = () => {
      formRef.value.resetFields();
    };
    return {
      formRef,
      labelCol: { span: 4 },
      wrapperCol: { span: 14 },
      other: "",
      formState,
      rules,
      onSubmit,
      resetForm,
    };
  },
});
</script>
<style scoped>
.general-btn {
  text-align: center;
  overflow: visible;
  padding: 12px 25px !important;
}
.search-input {
  border-radius: 5px;
  color: #686868;
  padding:11px ;
  font-weight:300;
}
.ant-form{
  width:100%;
}
.search-field{
  width:70%;
}
.search-field:focus{
  outline:none!important;
  box-shadow: none!important;
}


</style>
