<template>
  <div v-if="!loading">
    <slot>
      <div v-if="!titleLoading">
        <SectionHeading
          class="section-heading"
          :title="titles.section[5].title"
          :subtitle="titles.section[5].subtitle"
          :description="titles.section[5].description"
        />
      </div>
    </slot>

    <a-row justify="center" type="flex" :gutter="[30, 30]">
      <a-col :xl="6" v-for="bonus in bonuses" :key="bonus">
        <CardCashBack
          :title="bonus.title"
          :bonus="bonus.bonus"
          :rewards="bonus.rewards"
          :category="bonus.categories[0].name"
          :href="{
            name: 'Bonus',
            params: {
              slug: bonus.slug,
            },
          }"
        />
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import CardCashBack from "../../components/CardCashBack/CardCashBack.vue";
import fetchHomeBonus from "../../misc/composition/fetchHomeBonus";
import fetchHomeTitles from "../../misc/composition/fetchHomeSectionTitles";
import SectionHeading from "../../components/SectionHeading/SectionHeading.vue";
export default defineComponent({
  name: "Home",
  components: {
    CardCashBack,
    SectionHeading,
  },
  setup() {
    const { bonuses, loading } = fetchHomeBonus();
    const { titles, loading: titleLoading } = fetchHomeTitles();
    return { bonuses, loading, titleLoading, titles };
  },
});
</script>
<style scoped>
.section-heading {
  margin-bottom: 55px;
}
</style>
