<template>
  <div
    :style="getColors"
    :class="position"
  >
    <slot>{{ text }}</slot>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import types from "./BadgeTypes.json";
import {Position} from "../../types"

export default defineComponent({
  props: {
    text: {
      type: String,
      required: false,
    },
    bgColor: {
      type: String,
      required: false,
      default: "#22a6b3",
    },
    textColor: {
      type: String,
      required: false,
      default: "white",
    },
    position: {
      type: Object as PropType<Position>,
      default: () => {
        return {"none" : "none"};
      },
    },
    type: {
      type: String,
      required: false,
      default: 'none'
    },
  },
  computed: {
    getColors(): string {
      return this.type === 'none' || this.type
        ? "--badge-text-color:" +
            (types as any)[this.type].textColor +
            ";--badge-bg-color:" +
            (types as any)[this.type].bgColor
        : "--badge-text-color:" +
            this.textColor +
            ";--badge-bg-color:" +
            this.bgColor;
    },
  },
});
</script>

<style scoped>
div {
  position: absolute;
  top: 10px;
  width: auto;
  height: fit-content;
  font-size: 11px;
  z-index: 2;
  line-height: 16px;
  padding: 0px 6px;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--badge-bg-color);
  color: var(--badge-text-color);
}
div.none {
  position: initial !important;
}

</style>
