<template>
  <div class="mt_listing_details d-flex pe-0 pe-md-4 mb-4 mb-md-0">
    <div v-if="thumbnail">
      <div class="category_icon_holder">
        <img class="cat-icon" :src="$getFileSource(thumbnail.url)" />
      </div>
    </div>

    <div class="content">
      <h1>{{ title }}</h1>

      <p class="mt-restricted-countries centerV" data-country-code="RO-ro">
        <font-awesome-icon
          v-if="accepts"
          :icon="['fas', 'check-circle']"
          class="check icon"
        />
        <font-awesome-icon
          v-else
          :icon="['fas', 'times-circle']"
          class="check icon not"
        />

        <span>
          <strong> {{ accepts ? "Accepts" : "Does not accept" }} </strong>
          players from {{ $store.state.user.country }}</span
        >

        <img
          class="ms-1"
          width="20"
          :src="$getFileSource(`/images/flags/${$store.state.user.code}.svg`)"
          :alt="$store.state.user.country"
        />
      </p>
      <div class="cd-content">
        <p class="list_description" v-html="description"></p>
        <div class="single_list_share_this centerV w-100">
          <div class="list_share_this" v-if="socials">
            <a-tooltip placement="topLeft">
              <template #title>
                <!-- <a
                  :href="social.href"
                  class="social-icon"
                  target="_blank"
                  v-for="social in socials"
                  :key="social"
                >
                  <font-awesome-icon
                    :icon="['fab', social.icon.name]"
                  ></font-awesome-icon>
                </a> -->

                <div class="social-btn">
                  <a
                    class="social-icon s-twitter"
                    :href="`https://twitter.com/intent/tweet?text=${title};url=${returnCurrentURL};via=Coinflip`"
                    target="_blank"
                    rel="nofollow"
                  >
                    <font-awesome-icon
                      :icon="['fab', 'twitter']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-facebook"
                    :href="`https://www.facebook.com/sharer/sharer.php?u=${returnCurrentURL}`"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fab', 'facebook']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-pinterest"
                    :href="`https://pinterest.com/pin/create/button/?url=${returnCurrentURL};media=h;description=${title}`"
                    data-pin-custom="true"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fab', 'pinterest']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-linkedin"
                    :href="`https://www.linkedin.com/shareArticle?mini=true;url=${returnCurrentURL};title=${title}`"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fab', 'linkedin']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-telegram"
                    :href="`https://telegram.me/share/url?url=${returnCurrentURL};text=${title}`"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fab', 'telegram']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-email"
                    :href="`mailto:?subject=${title};body=${returnCurrentURL}`"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fas', 'inbox']"
                    ></font-awesome-icon
                  ></a>
                </div>
              </template>
              <span
                >Share this
                <font-awesome-icon :icon="['fas', 'share-alt']" class="share"
              /></span>
            </a-tooltip>
          </div>

          <div
            v-if="likeWrapper >= 0"
            @click="likeAction()"
            class="single_list_thumbs_rating center ms-5"
          >
            <font-awesome-icon
              :icon="[canLike ? 'far' : 'fas', 'heart']"
              class="icon"
            />
            <div class="number">{{ likeWrapper }}</div>
          </div>

          <Rating class="ms-5" :rating="rating" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { SocialLink, Thumbnail } from "../../types";
import Rating from "../Rating/Rating.vue";

export default defineComponent({
  components: { Rating },
  props: {
    id: {
      type: Number,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
    },
    title: {
      type: String,
    },
    accepts: {
      type: Boolean,
      default: false,
    },
    description: {
      type: String,
    },
    likes: {
      type: Number,
      default: 0,
    },
    rating: {
      type: Number,
      default: 1,
    },
    socials: {
      type: Object as PropType<SocialLink>,
      required: false,
    },
  },
  data() {
    return {
      likeWrapper: this.likes,
      canLike: true,
    };
  },
  methods: {
    likeAction() {
      if (this.canLike) {
        this.canLike = false;
        this.likeWrapper += 1;
        return this.$emit("onLike");
      }
      return false;
    },
  },
  computed: {
    returnCurrentURL(): string {
      return window.location.href;
    },
  },
});
</script>

<style scoped>
.social-icon {
  color: white;
  margin: 0px 10px;
}

@media only screen and (max-width: 767px) {
  .category_icon_holder {
    width: 100px !important;
    height: 100px !important;
  }
  h1 {
    margin-top: 0 !important;
  }
  .cd-content {
    margin-left: -130px !important;
  }
}

.social-icon > svg {
  width: 18px;
  height: 18px;
}
.share {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}
h1 {
  font-weight: 700;
  margin-top: 10px;
  color: #151515;
  font-weight: 700;
  margin: 10px 0 10px;
  font-size: 36px;
  line-height: 39px;
}
.icon.check {
  color: #389d29;
  width: 22px;
  height: 22px;
  position: relative;
  margin-right: 3px;
}
.icon.check.not {
  color: #ff2122;
}
.number {
  color: grey !important;
  font-weight: 400;
  margin-left: 5px;
  line-height: 14px;
  bottom: 4px;
}
.list_share_this {
  font-size: 15px;
  color: grey;
  display: inline-block;
  cursor: pointer;
}
.category_icon_holder {
  width: 180px;
  height: 180px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  cursor: pointer;
}

.cat-icon {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list_description {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
  margin: 20px 0 5px;
}

.mt-restricted-countries {
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
  font-size: 14px;
  width: fit-content;
}
.mt-restricted-countries {
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
}
.content {
  margin-left: 30px;
}

.single_list_thumbs_rating {
  cursor: pointer;
}
@media (max-width: 767.98px) {
  h1 {
    font-size: 28px !important;
  }
}
</style>
