<template>
  <h3 :class="{ removeBorderBottom, slim }">{{ title }}</h3>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    removeBorderBottom: {
      type: Boolean,
      default: false,
    },
    slim: {
      type: Boolean,
      default: false,
    },
  },
});
</script>

<style scoped>
h3 {
  font-weight: 700;
  margin: 15px 0;
  font-size: 28px;
  line-height: 32px !important;
}

h3.slim {
  font-weight: 600;
  font-size: 24px;
}

/** LINE BOTTOm */
h3:not(.removeBorderBottom)::after {
  content: "";
  height: 2px;
  width: 50px;
  margin-top: 10px;
  background: #fab702;
  display: block;
}
</style>
