<template>
  <a-collapse
    v-model:activeKey="activeKey"
    accordion
    expand-icon-position="right"
    class="collapse-wrapper"
  >
    <a-collapse-panel
      v-for="(item, i) in items"
      :key="i"
      :header="item.question"
    >
      <p class="m-0">{{ item.answer }}</p>
    </a-collapse-panel>
  </a-collapse>
</template>

<script lang="ts">
import { defineComponent, ref, PropType } from "vue";
import { FAQitem } from "../../types";

export default defineComponent({
  setup() {
    const activeKey = ref([0]);

    return {
      activeKey,
    };
  },
  props: {
    items: {
      type: Object as PropType<FAQitem[]>,
      required: true,
    },
  },
});
</script>

<style scoped>
/** ITEM */
.ant-collapse-item {
  background: white;
  border-radius: 5px;
}
/** HEADER */
:deep(.ant-collapse-header) {
  color: #282828 !important;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px !important;
  padding: 20px 30px !important;
}
:deep(.ant-collapse-item-active > .ant-collapse-header) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
:deep(.anticon.anticon-right.ant-collapse-arrow) {
  position: relative;
  float:right;
  margin-top: 10px;
  right: 0;
}
/** REMOVE BACKGROUNDS AND BORDERS */

.collapse-wrapper {
  background-color: transparent !important;
  border: none !important;
}
.collapse-wrapper > .ant-collapse-item,
:deep(.ant-collapse-content) {
  border: none !important;
}

.collapse-wrapper .ant-collapse-item:not(:last-child) {
  margin-bottom: 30px;
}
/** DESCRIPTION */
.ant-collapse-item p {
  padding: 0 15px !important;
}
</style>
