<template>
  <div class="card anim-shadow-hover">
    <div class="img-left overflow-hidden">
      <router-link class="position-relative h-100 d-block" :to="href">
        <img v-if="thumbnail" :src="$getFileSource(thumbnail)" />
      </router-link>
    </div>
    <div class="content w-100 text-center">
      <div class="centerH">
        <rating :rating="rating" class="w-50 justify-content-center"></rating>
      </div>

      <h4 class="post-name-listings">
        <router-link :to="href">{{ title }}</router-link>
      </h4>

      <p class="tags" v-if="forItems">
        For:
        <router-link
          v-for="forItem in forItems"
          :key="forItem"
          :to="forItem.href"
          class="tag"
          >{{ forItem.title }}</router-link
        >
      </p>

      <a-button type="link" class="button general-btn" :href="href">
        <font-awesome-icon :icon="['fas', 'star-half-alt']" class="icon" />
        Full Review
      </a-button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import Rating from "../Rating/Rating.vue";

import { Link } from "../../types";
export default defineComponent({
  components: { Rating },
  props: {
    thumbnail: {
      type: String,
    },
    title: {
      type: String,
      required: true,
    },
    rating: {
      type: Number,
    },
    forItems: {
      type: Object as PropType<Link[]>,
    },
    href: {
      type: String,
      required: true,
      default: "/",
    },
  },
});
</script>

<style scoped>
/** CARD */
.card {
  background: white;
  border-radius: 10px;
  transition: all 250ms ease;
}
/** IMAGE */
.img-left {
  height: 165px;
  padding: 15px 15px 0;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}

/** TITLE */
h4 {
  font-size: 23px !important;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}

h4 > a {
  color: #151515;
}

h4:hover > a {
  text-decoration: underline;
}

/** SUBTITLE */
.subtitle {
  margin-bottom: 5px;
  color: #262626;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
}

/** CONTENT */
.content {
  padding: 0 15px 15px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}

/** SCORE */
:deep(.score) {
  padding: 6px 0;
  margin: 12px 0;
}

/** TAGS */

.tags {
  margin-bottom: 20px;
  font-size: 11px;
}

.tags > a {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2px 4px;
  font-weight: 600;
  color: #666;
  margin-right: 5px;
}
</style>
