<template>
  <article :class="{ mini: isMini, compact: isCompact, card: !isCompact }">
    <div
      class="post-thumbnail"
      v-if="thumbnail"
      :class="{ centerV: isCompact }"
    >
      <router-link :to="href">
        <img :src="$getFileSource(thumbnail.url)" />
      </router-link>
    </div>

    <div class="content w-100" :class="{ 'px-0 py-1': isCompact }">
      <div class="blog-info-wrapper" v-if="!isCompact">
        <div class="category" v-if="isMini">{{ details.category }}</div>
        <div class="date hide-on-mobile">{{ $formatDate(details.date) }}</div>
      </div>

      <div class="title">
        <h3>
          <router-link :to="href">{{ title }}</router-link>
        </h3>
        <p class="description" v-if="isNormal">{{ description }}</p>
      </div>

      <div class="d-flex author-details" v-if="!isMini">
        <p>
          <font-awesome-icon :icon="['far', 'user']" class="icon" />
          <router-link :to="author.href">{{ author.name }}</router-link>
        </p>
        <p>
          <font-awesome-icon :icon="['far', 'comment']" class="icon" />
          <router-link :to="href">{{ details.commentNo }}</router-link>
        </p>
      </div>
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

import { BlogDetails, Author, Thumbnail } from "../../types";

export default defineComponent({
  props: {
    type: {
      type: String as PropType<"mini" | "compact" | "normal">,
      default: () => {
        "normal";
      },
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
    },
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    href: {
      type: [String, Object],
      default: "/",
      required: true,
    },
    author: {
      type: Object as PropType<Author>,
      required: true,
    },
    details: {
      type: Object as PropType<BlogDetails>,
      required: true,
    },
  },
  computed: {
    isMini() {
      return this.type === "mini";
    },
    isNormal() {
      return this.type === "normal";
    },
    isCompact() {
      return this.type === "compact";
    },
  },
});
</script>

<style scoped>
/** MINI BLOG POST */

.card.mini {
  background: transparent;
  position: relative;
}

.mini .content {
  position: absolute;
  top: 0;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.mini h3 > a {
  color: white;
}

.mini .category {
  color: #ddd;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
}

.mini .blog-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mini .date {
  padding: 3px 10px;
  background: #389d29;
  color: white;
  border-radius: 3px;
  font-size: 12px;
}

.mini .post-thumbnail {
  border-radius: 10px;
  max-height: 250px;
}

.mini img {
  filter: brightness(0.5);
}

/** DATE */
.date {
  color: #616161;
  font-weight: 500;
  font-size: 15px;
}

/** THUMBNAIL */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 600ms ease-in-out 0s;
  -webkit-transition: all 600ms ease-in-out 0s;
}

.post-thumbnail {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  max-height: 350px;
}

article:hover img {
  transform: scale(1.03) rotate(1deg);
  opacity: 0.9;
}

/** AUTHOR DETAILS */
.author-details > p {
  margin-right: 20px;
  font-weight: 600;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Raleway";
  line-height: 25px;
  margin-left: 5px;
  color: #616161;
  margin-bottom: 0;
}

.author-details a {
  margin-left: 5px;
  color: #616161;
}

/** DESCRIPTION */
.description {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
  margin-bottom: 15px;
}

/** CARD SPACING + LOOK & FEEL */
.card {
  background: white;
  box-shadow: 0 0 20px rgb(0 0 0 / 7%);
  border-radius: 10px;
}

.content {
  padding: 25px 30px;
}

/** TITLE */
h3 {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0 15px;
  line-height: 1.4 !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.compact h3 {
  line-height: 20px !important;
  font-weight: 900;
  font-size: 15px;
  margin-bottom: 5px;
}

.compact .post-thumbnail {
  border-radius: 0;
  aspect-ratio: 16/ 9;
}
.compact .author-details > p {
  font-size: 15px;
  margin-left: 0;
}
@media (max-width: 768px) { 
  .description {
    font-size: 14px;
  }
  .author-details a{
    font-size: 12px;
  }
  
  .author-details svg{
    width: 10px;
  }
}
 .description{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>
