<template>
    <div class="characteristic">
        <h2>{{ title }}</h2>
        <h4>{{ subtitle }}</h4>
        <p>{{ description}}</p>
    </div>
</template>

<script lang="ts">
import {
    defineComponent
} from "vue";

export default defineComponent({
    props: {
        title: {
            type: String,
            required: true
        },
        subtitle: {
            type: String,
        },
        description: {
            type: String,
        }
    }
})
</script>

<style scoped>
.characteristic::after {
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background: #fab702;
    margin-top: 30px;
}

h2 {
    color: #ececec;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 0px;
}

h4 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 22px;
    font-weight: bold;
}

p {
    margin-bottom: 0;
}
</style>
