<template>
  <div class="card-long d-flex flex-row justify-content-between">
    <!-- Card Thumbnail -->
    <img
      class="action-section-logo"
      v-if="thumbnail"
      :src="$getFileSource(thumbnail.url)"
    />
    <!-- CardTitle -->
    <div class="card-details ms-4 d-flex flex-column">
      <router-link :to="href"
        ><h3 class="title mb-0">
          {{ title }}
        </h3></router-link
      >
      <!-- Card Casino Rating -->
      <div v-if="rating">
        <Rating type="two" :rating="rating" />
      </div>
      <!-- Restricted countries -->
      <div
        v-if="restrictedCountries"
        class="d-flex flex-row justify-content-start mt-2"
      >
        <div v-for="item in restrictedCountries" :key="item.code">
          <img
            class="restricted-country me-2"
            :src="$getFileSource(`/images/flags/${item.code}.svg`)"
          />
        </div>
      </div>
    </div>
    <!-- Features -->
    <div class="card-features d-flex flex-column ms-5" v-if="features">
      <span v-for="feature in features.slice(0, 3)" :key="feature.text">
        <font-awesome-icon :icon="['fas', 'check']" class="icon" />
        {{ feature.text }}
      </span>
    </div>

    <!-- Related Casinos -->
    <div class="casino-related d-flex ms-5">
      <div v-for="casino in casinos" :key="casino.id">
        <img
          class="related-casinos-thumbnail me-2"
          :src="$getFileSource(casino.thumbnail.url)"
        />
      </div>
    </div>
    <!-- Button-section -->
    <div class="d-flex flex-column ms-5 text-center" v-if="href">
      <a-button class="general-btn" :href="$router.resolve(href).href"
        >play now
      </a-button>
      <a-tooltip class="info-tooltip" placement="bottom">
        <template #title>
          <span class="info-tooltip-text">{{ termsAndConditions }}</span>
        </template>
        <span>T&C applies</span>
      </a-tooltip>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { API_CustomEnumeration, Casino, Tag, Thumbnail } from "@/types";
import Rating from "../Rating/Rating.vue";
export default defineComponent({
  components: { Rating },
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
    restrictedCountries: {
      type: Object as PropType<Tag[]>,
      required: false,
    },
    features: {
      type: Array as PropType<API_CustomEnumeration[]>,
    },
    href: {
      type: Object,
    },
    termsAndConditions: {
      type: String,
    },
    casinos: {
      type: Object as PropType<Casino[]>,
    },
    rating: {
      type: Number,
    },
  },
});
</script>
<style scoped>
.action-section-logo {
  max-width: 100px;
  max-height: 100px;
}
.card-long {
  background: #ffffff;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
  padding: 30px 35px 30px;
  border-bottom: 1px soli;
}
.title {
  font-weight: 600;
  font-size: 24px;
}
:deep(.score) {
  position: relative !important;
}
.restricted-country {
  width: 20px;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
}

.related-casinos-thumbnail {
  border-radius: 5px;
  margin: 0 5px;
  height: 43px;
  width: 43px;
}
.card-features {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
}
.card-features svg {
  color: #ffc900;
}
</style>
