<template>
  <div class="card d-flex anim-shadow-hover anim-translateY-hover">
    <div class="img-left" v-if="thumbnail">
      <img v-if="thumbnail" :src="$getFileSource(thumbnail.url)" />
    </div>

    <div class="content">
      <div>
        <h4 class="post-name-listings">
          <router-link :to="href">{{ title }}</router-link>
        </h4>
      </div>
      <p class="excerpt">{{ excerpt }}</p>
      <p class="description">{{ description }}</p>

      <a-button
        type="link"
        class="button general-btn"
        :href="$router.resolve(href).href"
      >
        <font-awesome-icon :icon="['fas', 'arrow-circle-right']" class="icon" />
        Play Now
      </a-button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent , PropType} from "vue";
import {Thumbnail} from "../../types"
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
    description: {
      type: String,
      required: false,
    },
    href: {
      type: [String, Object],
      default: "/",
      required: true,
    },
    excerpt: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>
/** CARD */
.card {
  background: white;
  border-radius: 10px;
  transition: all 250ms ease;
  box-shadow: 0 0 20px rgb(0 0 0 / 7%);
}

/** IMAGE */
img {
  width: 125px;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}

/** DESCRIPTION */
p {
  font-weight: 400;
  margin: 15px 0;
  margin-top: 10px;
}

/** TITLE */
h4 {
  font-size: 23px !important;
  margin: 0 !important;
  line-height: 1;
  font-weight: 700;
}

h4 > a {
  color: #151515;
}

h4:hover > a {
  text-decoration: underline;
}

/** CONTENT */
.content {
  padding: 30px 20px;
  border-radius: 0px 0px 10px 10px;
}


.excerpt{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>
