<template>
  <div class="d-flex flex-wrap centerV tags" :class="type">
    <div v-if="title" class="title mb-2">{{ title }}:</div>
    <router-link
      class="tag me-2 me-md-4 mb-2 center"
      v-for="item in items"
      :key="item"
      :to="{
        name: item.routerPage === undefined ? routerPage : item.routerPage,
        params: { slug: item.slug, ...params },
      }"
      ><img
        v-if="item.code && params.category.includes('countries', 'country')"
        width="20"
        height="20"
        class="me-2"
        :alt="item.code"
        :src="$getFileSource(`/images/flags/${item.code}.svg`)"
      /><span>{{ item.name }}</span></router-link
    >
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

import { Tag } from "../../types";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: false,
    },
    items: {
      type: Object as PropType<Tag>,
    },
    params: {
      type: Object,
    },
    routerPage: {
      type: String,
    },
    type: {
      type: String as PropType<"rounded" | "square">,
      default: "rounded",
    },
  },
});
</script>

<style scoped>
/* TAGS STYLE ROUNDED */
.tags.rounded > .tag {
  background: #fff;
  border-radius: 30px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  color: #151515;
  padding: 10px 20px;
  text-decoration: none;
}
.tag:hover {
  border-color: #389d29 !important;
  color: #389d29 !important;
}
/** TAGS STYLE SQUARE */
.tags.square > .tag {
  border: 1px solid #e0e0e0;
  background: white;
  color: #686868;
  font-weight: 400;
  line-height: 1;
  border-radius: 3px;
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  text-transform: lowercase;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  margin-right: 8px !important;
  display: inline-block;
}

/** SQUARE TITLE STYLE */
.tags.square > .title {
  background: black none repeat scroll 0 0;
  color: white;
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  margin-right: 8px;
  display: inline-block;
  border: 1px solid black;
}
</style>
