<template>
  <div class="news-slider">
    <a-row class="slider-row">
      <a-col :lg="12">
        <div class="first-column me-2">
          <CardBlogPost
            class="mini-card"
            :thumbnail="{ url: 'images/misc/feature_casino7.jpg' }"
            title="Four ways to cheer yourself up on the Next Blue Monday!"
            :details="{
              href: 'https://modeltheme.com/go/coinflip/',
              category: 'Betting news',
              date: $formatDate(new Date()),
            }"
            :author="{
              href: 'https://modeltheme.com/go/coinflip/',
              name: 'Jason McElwaine',
            }"
            href="https://modeltheme.com/go/coinflip/"
          />
        </div>
      </a-col>
      <a-col :lg="12">
        <div class="second-column d-flex flex-column">
          <div class="element-one mb-2">
            <CardBlogPost
              class="mini-card sc-card-one"
              :thumbnail="{ url: 'images/misc/article-blog-10.jpg' }"
              title="This Girl Discovered What Everyone Wants"
              :details="{
                href: 'https://modeltheme.com/go/coinflip/',
                category: 'Bookmakers',
                date: $formatDate(new Date()),
              }"
              :author="{
                href: 'https://modeltheme.com/go/coinflip/',
                name: 'Jason McElwaine',
              }"
              href="https://modeltheme.com/go/coinflip/"
            />
          </div>
          <div class="d-flex element-two">
            <div class="me-2 w-50">
              <CardBlogPost
                class="mini-card sc-card-two"
                :thumbnail="{ url: 'images/misc/feature_casino4.jpg' }"
                title="Overiew on tho Casino Games"
                :details="{
                  href: 'https://modeltheme.com/go/coinflip/',
                  category: 'Gambling',
                  date: $formatDate(new Date()),
                }"
                :author="{
                  href: 'https://modeltheme.com/go/coinflip/',
                  name: 'Jason McElwaine',
                }"
                href="https://modeltheme.com/go/coinflip/"
              />
            </div>
            <div class="w-50">
              <CardBlogPost
                class="mini-card sc-card-three"
                :thumbnail="{ url: 'images/misc/article-blog-8.jpg' }"
                title="What you didn't know about This Slot"
                :details="{
                  href: 'https://modeltheme.com/go/coinflip/',
                  category: 'ForPlayers',
                  date: $formatDate(new Date()),
                }"
                :author="{
                  href: 'https://modeltheme.com/go/coinflip/',
                  name: 'Jason McElwaine',
                }"
                href="https://modeltheme.com/go/coinflip/"
              />
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import CardBlogPost from "../CardBlogPost/CardBlogPost.vue";
export default defineComponent({
  name: "Home",
  components: {
    CardBlogPost,
  },
});
</script>

<style scoped>
.slider-row {
  height: 500px;
}
.first-column {
  height: 100%;
}
.second-column {
  height: 100%;
}
:deep(.mini-card) {
  height: 100%;
}
:deep(.first-column .mini-card) {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex !important;
  align-items: flex-end;
}
:deep(.first-column .mini-card h3) {
  font-size: 30px;
  font-weight: 600;
}
:deep(.second-column .mini-card) {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex !important;
  align-items: flex-end;
}

:deep(.second-column .sc-card-one h3) {
  font-size: 30px;
  font-weight: 600;
}
:deep(.second-column .sc-card-two h3) {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  line-height: 1.3;
}
:deep(.second-column .sc-card-three h3) {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  line-height: 1.3;
}
.element-one {
  height: 70%;
}
</style>
