<template>
  <div class="heading text-center" :style="getBackground">
    <div class="heading-title">
      <span class="title">
        <slot name="title">{{ title }}</slot>
      </span>
    </div>

    <p v-html="description"></p>

    <slot name="actions"></slot>

    <div class="breadcrumb" v-if="breadcrumbs">
      <span v-for="(breadcrumb, i) in breadcrumbs" :key="breadcrumb">
        <router-link :to="breadcrumb.href">{{ breadcrumb.name }}</router-link>
        <span v-if="i !== breadcrumbs.length - 1"> > </span>
      </span>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Link } from "../../types";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: false,
    },
    /** USES V-HTML! */
    description: {
      type: String,
      required: false,
    },
    breadcrumbs: {
      type: Object as PropType<Link[]>,
      required: false,
    },
    backgroundImage: {
      type: String,
      required: false,
    },
    backgroundColor: {
      type: String,
      required: false,
      default: "#1E1E1E",
    },
  },
  computed: {
    getBackground() {
      return (
        "background-image: url(" +
        this.backgroundImage +
        "); background-color:" +
        this.backgroundColor
      );
    },
  },
});
</script>

<style scoped>
/* Heading */
.heading {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 80px;
}
/* heading-title */
.heading-title {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .title {
    font-size: 20px !important;
  }
  .heading {
    padding: 40px;
  }
}

/*Title */
.title {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  font-family: "Poppins";
  margin: 0 auto;
}

/* BreadCrumb */
.breadcrumb {
  color: #e0e0e0;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

span > a {
  color: #e0e0e0;
  font-weight: 300;
  font-size: 18px;
}

p {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}
</style>
