<template>
  <div class="about-us centerH">
    <a-row type="flex" align="middle" :class="{ 'flex-row-reverse': rtl }">
      <a-col :xl="12">
        <p class="height-100">
          <img
            class="about-us-thumbnail"
            :src="$getFileSource(thumbnail.url)"
          />
        </p>
      </a-col>
      <a-col :xl="12">
        <div class="about-us-content">
          <div class="about-us-smalltitle">
            <span>{{ smalltitle }}</span
            ><br />
          </div>
          <div class="about-us-title">
            <span>{{ title }}</span
            ><br />
          </div>
          <div class="about-us-subtitle">
            <span>{{ subtitle }}</span
            ><br />
          </div>
          <div class="about-us-separator"></div>
          <div class="about-us-description">
            <span>{{ description }}</span
            ><br />
          </div>
          <div class="about-us-btn">
            <a-button
              v-if="buttonName"
              type="link"
              class="button general-btn wide no-anim"
              :href="$router.resolve(href).href"
            >
              {{ buttonName }}
            </a-button>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script lang="ts">
import { Thumbnail } from "../../types";
import { defineComponent, PropType } from "@vue/runtime-core";
export default defineComponent({
  props: {
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
    href: {
      type: String,
      default: "/",
      required: true,
    },
    buttonName: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    smalltitle: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    rtl: {
      type: Boolean,
      default: false,
    },
  },
});
</script>
<style scoped>
.about-us-thumbnail {
  width: 500px;
}
.about-us-content {
  display: block !important;
}
.about-us-smalltitle {
  color: #9aa7af;
  font-size: 15px;
  font-weight: 500;
}
.about-us-separator {
  height: 3px;
  width: 70px;
  margin-bottom: 30px;
  background: #fab702;
}
.about-us-title {
  color: #151515;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.about-us-subtitle {
  color: #636363;
  font-size: 17px;
  font-weight: 500;

  margin-top: 15px;
  margin-bottom: 15px;
}
.about-us-description {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
}
.about-us-btn {
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .about-us-thumbnail {
    width: 325px;
    height: auto;
  }
  .about-us-content {
    padding: 0 15px 0 0;
  }
}
</style>
