<template>
  <div class="characteristic d-flex flex-column center">
    <img v-if="thumbnail" :src="$getFileSource(thumbnail.url)" />
    <h2 class="title">{{ title }}</h2>
    <p class="subtitle">{{ subtitle }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Thumbnail } from "@/types";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
  },
});
</script>

<style scoped>
.title {
  font-size: 17px;
  color: white;
  line-height: 21px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.subtitle {
  text-align: center;
  color: #7f7f80;
  font-size: 16px;
  margin-top: 10px;
}

p {
  margin-bottom: 0;
}
</style>
