<template>
  <div class="box-related">
    <div >
      <router-link :to="href">
        <img
          class="box-related-thumbnail"
          :src="$getFileSource(thumbnail.url)"
        />
      </router-link>
    </div>
    <div class="box-related-content">
      <div class="box-related-tags">
        <router-link :to="href">
          <span>{{ tags }}</span
          ><br />
        </router-link>
      </div>
      <div class="box-related-title">
        <router-link :to="href">
          <span>{{ title }}</span
          ><br />
        </router-link>
      </div>
      <div class="box-related-description">
        <span>{{ description }}</span
        ><br />
      </div>
      <div class="box-related-author">
        <router-link :to="href">
          <font-awesome-icon
            class="author-icon me-2"
            :icon="['fas', 'minus']"
          />
          <span>{{ author }}</span>
        </router-link>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "@vue/runtime-core";
import { Thumbnail } from "../../types";
export default defineComponent({
  props: {
    thumbnail: Object as PropType<Thumbnail>,
    title: String,
    description: String,
    author: String,
    tags: String,
    href: Object as PropType<String | Object>,
  },
});
</script>

<style scoped>
/* Style Card */
.box-related {
  max-width: 400px;
}
/* Style Image */
.box-related-thumbnail {
  max-width: 400px;
  object-fit: cover;
  width: 100%;
}
/* Style Content-Box */
.box-related-content {
  padding: 20px 20px;
}
/* Style Tags */
.box-related-tags span {
  font-size: 15px;
  color: #686868;
  font-size: 300;
}
/* Style Title */
.box-related-title {
  color: black;
  line-height: 140%;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}
/* Style description */
.box-related-description {
  font-size: 17px;
  color: #808080;
  font-weight: 300;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Style author */
.box-related-author {
  font-size: 15px;
  color: #151515;
  margin-top: 10px;
  text-transform: uppercase;
}
/* Responsive */
@media (max-width: 767.98px) {
  /* Mobile Image */
  .box-related-thumbnail {
    max-width: 340px;
  }
}
</style>
