<template>
<div class="text-center card">
    <div class="wpb_wrapper">
        <font-awesome-icon :icon="[icon.type, icon.name]" class="icon" />
        <div class="title">{{ title }}</div>
    </div>

    <div class="wpb_wrapper">
        <p v-html="description"></p>
        <router-link style="font-weight: bold; color: #389d29;" :to="link.href">{{link.name}}</router-link>
    </div>
</div>
</template>

<script lang="ts">
import {
    defineComponent,
    PropType
} from "vue";

import {
    CustomLink
} from './CardInfo'
import {
    Icon
} from '@/types'

export default defineComponent({
    props: {
        title: {
            type: String,
            required: true
        },
        /** USES V-HTML !! */
        description: {
            type: String,
            required: true
        },
        /** Must be imported in utils/icons/{typeOfIcon}.js */
        icon: {
            type: Object as PropType < Icon > ,
            required: true
        },
        link: {
            type: Object as PropType < CustomLink > ,
            required: true
        },
    }
})
</script>

<style scoped>
svg {
    height: 50px;
    width: 50px !important;
    color: #fab702;
    transition: all 300ms ease;
}
.card svg:hover {
    color: #389d29;
}

.title {
    font-size: 18px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 5px;
}

p {
    margin: 0 0 20px;
}

a {
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #389d29;
}
</style>
