<template>
  <div
    class="news-cards d-flex align-items-end"
    :style="{
      'background-image':
        'url(' +
        require('../../assets/images/demosimages/article-blog-1.jpeg') +
        ')',
    }"
  >
    <div class="date">
      <span>{{ $formatDate(date) }}</span>
    </div>
    <div class="content d-flex flex-column">
      <span class="small-title">{{ smalltitle }}</span>
      <router-link to="link">
        <span class="title">{{ title }}</span>
      </router-link>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Thumbnail } from "@/types";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    smalltitle: {
      type: String,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
  },
});
</script>
<style scoped>
.news-cards {
  background-size: cover;
  position: relative;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  background-color: hsl(120, 1%, 50%);
  background-blend-mode: multiply;
  transition: all 600ms ease-in-out 0s;
  -webkit-transition: all 600ms ease-in-out 0s;
}
/* .news-cards:hover {
  transform: scale(1.03) rotate(1deg);
  opacity: 0.9;
} */
.content {
  padding: 15px 25px;
  text-align: left;
}
.small-title {
  color: #ddd !important;
  font-weight: 400;
  margin: 10px 0;
  text-transform: uppercase;
}
.date {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  padding: 2px 12px;
  border-radius: 3px;
  background-color: #389d29;
  font-size: 11px;
}
.title {
  color: #ffff !important;
  font-size: 20px;
  line-height: 1.4 !important;
  font-weight: 600;
  text-transform: none;
  color: #151515;
  transition: all 0.3s ease;
}
.content > a {
  text-decoration-color: white;
}
</style>
