<template>
  <div >
    <section-title class="widget-title" :title="title"></section-title>
    <a-row>
      <a-col
        v-for="(item, i) in items"
        :key="item"
        :xl="span"
        :xs="24"
        v-bind="colExtraProps"
      >
        <slot :item="item" :i="i">
          <card-casino-online
            :excerpt="''"
            :class="{ 'mt-3': i !== 0 }"
            :title="item.title"
            :thumbnail="item.thumbnail"
            :mini="true"
            :offer="item.excerpt"
            :href="item.href"
            description=""
          ></card-casino-online>
        </slot>
      </a-col>
    </a-row>
  </div>
</template>

<script lang="ts">
import CardCasinoOnline from "../CardCasinoOnline/CardCasinoOnline.vue";
import { defineComponent, PropType } from "vue";
import { Casino } from "../../types";
import SectionTitle from "../SectionTitle/SectionTitle.vue";

export type LayoutType = "grid" | "list";

export default defineComponent({
  components: { CardCasinoOnline, SectionTitle },
  props: {
    title: String,
    items: {
      type: Object as PropType<Casino>,
    },
    span: {
      type: Number,
      defalt: 24,
      required: false,
    },
    colExtraProps: {
      type: Object,
      required: false,
    },
  },
});
</script>

<style scoped>
.widget-title {
  font-size: 22px;
}
</style>
