<template>
    <div>
        <a-row>
            <a-col :lg="8">
                <CharacteristicsEsports
                :thumbnail="{ url: 'images/demosimages/icon-esport-betting1.png' }"
                title="Esports"
                subtitle="Opt in & bet on any markets"
                />
            </a-col>
            <a-col :lg="8">
                <CharacteristicsEsports
                :thumbnail="{ url: 'images/demosimages/icon-esport-betting1.png' }"
                title="Esports"
                subtitle="There is no limit of spending"
                />
            </a-col>
            <a-col :lg="8">
                <CharacteristicsEsports
                :thumbnail="{ url: 'images/demosimages/icon-esport-betting1.png' }"
                title="Esports"
                subtitle="Free Bets will be credite at 24"
                />
            </a-col>
        </a-row>
    </div>
</template>
<script lang="ts">
import {defineComponent} from "vue";

import CharacteristicsEsports from "@/components/CharacteristicsEsports/CharacteristicsEsports.vue";
// import SectionHeading from "@/components/SectionHeading/SectionHeading.vue";
    export default defineComponent({
        name: "Home",
        components: {

            CharacteristicsEsports
            // SectionHeading,
       

        }
    });
</script>