@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.ant-layout-content{
  background-color:#ffffff;
}
a {
  color: #151515;
  transition: color 0.25s linear;
}
a:hover {
  color: #389d29;
  text-decoration: underline;
}

:root {
  --swiper-theme-color: #389d29 !important;
}

.content.container {
  padding: 90px 0 90px;
  padding-left:0 !important;
  padding-right:0 !important;
}
@media (max-width: 768px) {
  body h2,
  .section-title {
    font-size: 24px !important;
    line-height: 27px !important;
  }
  body h4 {
    font-size: 19px !important;
    line-height: 22px !important;
  }
  body h3,
  body h3 a {
    font-size: 16px !important;
    line-height: 25px !important;
  }
  h3 a span {
    font-size: 22px !important;
    line-height: 31px !important;
  }
  .content.container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  /** PRO / CONS BOX postiion */
  .details {
    height: fit-content !important;
    padding: 60px 12px 30px !important;
  }
  .expp-position {
    margin-bottom: 45px !important;
    margin-top: 45px !important;
  }
}

.ant-tooltip-inner {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  background-color: #252525;
  color: #fff;
  text-align: center;
  border-radius: 6 px;
  padding: 20px;
  background-color: #302266;
}
.ant-tooltip-open {
  cursor: pointer;
}