.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerV {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  body h1,
  body h1 span,
  h1 {
    font-size: 26px !important;
    line-height: 29px !important;
  }
  .hide-on-mobile {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
  .scale {
    transform: scale(0.25);
  }
}

.ant-layout-content {
  background-color: white;
}
.centerH {
  display: flex;
  justify-content: center;
}
.swiper-slide {
  text-align: center;
}
.anim-shadow-hover:hover.no-anim {
  box-shadow: 0 0 20px rgb(0 0 0 / 7%) !important;
}
/** PRIMARY BUTTON **/
.bonus {
  border: 1px solid #e8e7e7;
  padding: 15px 45px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 800;
  color: #fff;
  margin-right: 15px;
  vertical-align: middle;
  background: none;
  height: auto;
}

.general-btn,
a.general-btn {
  margin: 0;
  padding: 10px 25px !important;
  border-radius: 5px !important;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff !important;
  font-size: 14px;
  background: #389d29 !important;
  font-family: Raleway;
  height: fit-content;
  border: none;
  overflow: hidden;
  position: relative;
  line-height: 1.5715;
}
a.general-btn.d-block {
  width: fit-content;
  margin: auto;
}
.general-btn.wide {
  padding: 10px 40px !important;
}
.general-btn:hover {
  text-decoration: none;
}
.general-btn::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fab702;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 0px;
  background: #151515 !important;
}
.general-btn span,
.general-btn svg {
  position: relative;
  z-index: 2;
  color: white;
}

.general-btn:not(.no-anim):hover::after {
  transform: scaleY(1);
}
.general-btn.no-anim:hover {
  background: #151515 !important;
}
.general-btn .icon {
  margin-right: 10px;
  vertical-align: sub;
  width: 17px;
  height: 17px;
  margin-bottom: 1px;
}

/** HOVER SHADOW ANIMATION */

.anim-shadow-hover:hover {
  box-shadow: 20px 37px 102px rgb(0 0 0 / 20%) !important;
  transition: all 250ms ease;
}

/** HOVER TRANSLATEA ANIMATION */

.anim-translateY-hover:hover {
  cursor: pointer;
  transform: translateY(-10px) !important;
}

/** STRETCH */
.position-absolute-stretch {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/** CONTAINERS */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
  .centerH-sm {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
  .centerH {
    display: flex;
    justify-content: center;
  }
  .centerV {
    display: flex;
    align-items: center;
  }
}

/* @media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
} */

/** TRANSITIONS */
.grow-enter-active,
.grow-leave-active {
  transition: max-height 0.5s ease;
  max-height: 400px;
  overflow: hidden;
}

.grow-enter-from,
.grow-leave-to {
  max-height: 0px;
}

.slideTop-enter-active,
.slideTop-leave-active {
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.slideTop-enter-from,
.slideTop-leave-to {
  transform: translateY(50px);
  opacity: 0;
}

/** PARAGRAPH DEFAULT STYLE */
p {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
}

/** BG COLORS */
.level-bg-1,
.level-bg-2 {
  background: #f22;
}
.level-bg-3 {
  background: #ff7e00;
}
.level-bg-4 {
  background: #f2be50;
}
.level-bg-5 {
  background: #389d29;
}

/** TEXT COLORS */
.level-color-1,
.level-color-2 {
  color: #f22;
}
.level-color-3 {
  color: #ff7e00;
}
.level-color-4 {
  color: #f2be50;
}
.level-color-5 {
  color: #389d29;
}
/** POSITIONS */
.top-left {
  left: 0;
  top: 0;
}
.top-right {
  right: 0;
  top: 0;
}
.bottom-left {
  left: 0;
  bottom: 0;
}
.bottom-right {
  right: 0;
  bottom: 0;
}

.tandc {
  width: 40%;
  padding-top: 10px;
  margin: 0 auto;
  color: grey;
  font-size: 12px;
}

.separator {
  border: 0.5px dashed #ccc;
  margin-top: 35px;
  margin-bottom: 48px;
  max-height: 1px;
}
