<template>
  <div class="user-comment">
    <a-row type="flex">
      <!-- User thumbnail -->
      <a-col :xl="24">
        <div class="comment-user-thumbnail" type="flex">
          <!-- User avatar -->
          <img
            class="comment-user-avatar"
            v-if="thumbnail"
            :src="$getFileSource(thumbnail)"
          />

          <img
            class="comment-user-avatar"
            v-else
            src="../../assets/images/avatars/default.png"
          />

          <!-- User name -->
          <span class="comment-user-name">{{ authorName }}</span>
        </div>
      </a-col>
    </a-row>
    <!-- Comment Date -->
    <div class="comment-user-date">
      <span>{{ createdAt }}</span>
    </div>
    <!-- User Comment-->
    <div class="comment-user-content">
      <span>{{ content }}</span>
    </div>

    <!-- Comment Reply -->
    <div class="comment-btn">
      <a-button
        class="comment-reply"
        @click="replyBox = !replyBox"
        type="default"
        >Reply</a-button
      >

      <CommentBox
        v-if="replyBox && ctx.id"
        @onCloseReply="replyBox = false"
        :isReply="true"
        :ctx="ctx"
        class="mt-4"
        @onRefreshComments="$emit('onRefreshComments')"
        :replyAuthorName="authorName"
      />
      
      <div class="reply">
        <comment
          @onRefreshComments="$emit('onRefreshComments')"
          v-for="comment in comments"
          :key="comment"
          v-bind="comment"
          :createdAt="$formatDate(new Date(comment.createdAt))"
          :comments="comment.children"
          :ctx="{
            id: comment.id,
            contentType: ctx.contentType,
            contentID: ctx.contentID,
          }"
        >
        </comment>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Comments, Thumbnail, CommentCTX } from "../../types";
import CommentBox from "../CommentBox/CommentBox.vue";

export default defineComponent({
  components: {
    CommentBox,
  },
  props: {
    ctx: {
      type: Object as PropType<CommentCTX>,
      required: true,
    },
    content: {
      type: String,
      required: false,
    },
    authorName: {
      type: String,
      required: false,
    },
    createdAt: {
      type: String,
      required: false,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: false,
    },
    comments: {
      type: Object as PropType<Comments[]>,
    },
    blockedThread: {
      type: Boolean
    }
  },
  data() {
    return {
      replyBox: false,
    };
  },
});
</script>
<style scoped>
/* User comment section style */
.user-comment {
  flex-wrap: wrap;
}
/* User-name text style */
.comment-user-name {
  font-weight: bold;
  font-size: 17px;
  color: #151515;
  margin-left: 15px;
}
/* User-avatar img style */
.comment-user-avatar {
  max-width: 60px;
  height: auto;
  border-radius: 5px;
}
/* Comment-date text style */
.comment-user-date {
  margin-top: 15px;
  color: #686868;
  font-style: italic;
  font-weight: 300;
}
.reply {
  padding-left: 20px;
  padding-top:35px;
}
/* Comment-content text style */
.comment-user-content {
  margin-top: 10px;
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
}
/* Comment-btn section style */
.comment-btn {
  margin-top: 10px;
}
/* Comment-btn btn-reply style */
.comment-reply {
  background: #151515;
  color: #fff;
  font-size: 12px;
  padding: 3px 8px;
  outline: none;
  border-color: transparent !important;
  box-shadow: transparent !important;
}
</style>
