<template>
  <div class="popular-casino d-flex flex-column center">
    <router-link :to="href">
      <img
        class="category-thumbnail"
        v-if="thumbnail"
        :src="$getFileSource(thumbnail.url)"
        :alt="title"
      />
    </router-link>
    <h4 class="title">{{ title }}</h4>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Thumbnail } from "../../types";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
    href: {
      type: [String, Object],
      default: "/",
    },
  },
});
</script>

<style scoped>
.title {
  font-size: 17px;
  color: #151515;
  line-height: 21px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 600;
}
.category-thumbnail {
  max-width: 60px;
}
.popular-casino {
  text-align: center;
  background: #f2f2f2f2;
  padding: 30px 30px;
  border-radius: 10px;
}

.popular-casino img {
  transition: all 0.3s ease;
}
.popular-casino:hover img {
  transform: translateY(-5px);
}
</style>
