<template>
  <a-row type="flex" :gutter="[24, 24]" justify="space-between">
    <a-col :lg="6" :xs="24">
      <CardCashBack
        bonus="100"
        category="cashback"
        :popularity="4"
        rewards="100% match bonus based on first deposit of £/$/€20+. Additional bonuses."
        href="https://modeltheme.com/go/coinflip/"
      />
    </a-col>
    <a-col :lg="6" :xs="24">
      <CardCashBack
        bonus="to200"
        category="cashback"
        :popularity="3"
        rewards="100% match bonus based on first deposit of £/$/€20+. Additional bonuses."
        href="https://modeltheme.com/go/coinflip/"
      />
    </a-col>
    <a-col :lg="6" :xs="24">
      <CardCashBack
        bonus="100FS"
        category="cashback"
        :popularity="2"
        rewards="100% match bonus based on first deposit of £/$/€20+. Additional bonuses."
        href="https://modeltheme.com/go/coinflip/"
      />
    </a-col>
    <a-col :lg="6" :xs="24">
      <CardCashBack
        bonus="code200"
        category="cashback"
        :popularity="1"
        rewards="100% match bonus based on first deposit of £/$/€20+. Additional bonuses."
        href="https://modeltheme.com/go/coinflip/"
      />
    </a-col>
  </a-row>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import CardCashBack from "../CardCashBack/CardCashBack.vue";

export default defineComponent({
  name: "Home",
  components: {
    CardCashBack,
  },
});
</script>
