<template>
  <div class="container">
    <a-row :gutter="[32, 32]">
      <a-col :lg="8" :xs="24">
        <CardBlogPost
          class="mini-card"
          type="mini"
          :thumbnail="{ url: 'images/misc/feature_casino4.jpg' }"
          href="'https://modeltheme.com/go/coinflip/'"
          title="Four ways to cheer yourself up on the Next Blue Monday!"
          :details="{
            href: 'https://modeltheme.com/go/coinflip/',
            category: 'Coinflip',
            date: $formatDate(new Date()),
          }"
          :author="{
            href: 'https://modeltheme.com/go/coinflip/',
            name: 'Coinflip',
          }"
        />
      </a-col>
      <a-col :lg="8" :xs="24">
        <CardBlogPost
          type="mini"
          class="mini-card"
          :thumbnail="{ url: 'images/misc/feature_casino7.jpg' }"
          title="How to Properly Use Casino Fibonacci System for now!"
          :details="{
            href: 'https://modeltheme.com/go/coinflip/',
            category: 'Coinflip',
            date: $formatDate(new Date()),
          }"
          :author="{
            href: 'https://modeltheme.com/go/coinflip/',
            name: 'Coinflip',
          }"
          href="'https://modeltheme.com/go/coinflip/'"
        />
      </a-col>
      <a-col :lg="8" :xs="24">
        <CardBlogPost
          class="mini-card"
          type="mini"
          :thumbnail="{ url: 'images/misc/article-blog-10.jpg' }"
          title="How to Properly Use Casino Fibonacci System for now"
          :details="{
            href: 'https://modeltheme.com/go/coinflip/',
            category: 'Coinflip',
            date: $formatDate(new Date()),
          }"
          :author="{
            href: 'https://modeltheme.com/go/coinflip/',
            name: 'Coinflip',
          }"
          href="'https://modeltheme.com/go/coinflip/'"
        />
      </a-col>
      <a-col :lg="8" :xs="24">
        <CardBlogPost
          class="mini-card"
          type="mini"
          :thumbnail="{ url: 'images/misc/article-blog-8.jpg' }"
          href="'https://modeltheme.com/go/coinflip/'"
          title="Slot Machine that has no paylines"
          :details="{
            href: 'https://modeltheme.com/go/coinflip/',
            category: 'Coinflip',
            date: $formatDate(new Date()),
          }"
          :author="{
            href: 'https://modeltheme.com/go/coinflip/',
            name: 'Coinflip',
          }"
        />
      </a-col>
      <a-col :lg="8" :xs="24">
        <CardBlogPost
          type="mini"
          class="mini-card"
          :thumbnail="{ url: 'images/misc/feature_casino7.jpg' }"
          title="Which are the Most Popular Roulette Systems?"
          :details="{
            href: 'https://modeltheme.com/go/coinflip/',
            category: 'Coinflip',
            date: $formatDate(new Date()),
          }"
          :author="{
            href: 'https://modeltheme.com/go/coinflip/',
            name: 'Coinflip',
          }"
          href="'https://modeltheme.com/go/coinflip/'"
        />
      </a-col>
      <a-col :lg="8" :xs="24">
        <CardBlogPost
          type="mini"
          class="mini-card"
          href="'https://modeltheme.com/go/coinflip/'"
          :thumbnail="{ url: 'images/demosimages/article-blog-1.jpeg' }"
          title="Classic Books Based Online Slot and the Roulettes"
          :details="{
            href: 'https://modeltheme.com/go/coinflip/',
            category: 'Coinflip',
            date: $formatDate(new Date()),
          }"
          :author="{
            href: 'https://modeltheme.com/go/coinflip/',
            name: 'Coinflip',
          }"
        />
      </a-col>
    </a-row>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CardBlogPost from "../../components/CardBlogPost/CardBlogPost.vue";

export default defineComponent({
  name: "Home",
  components: {
    CardBlogPost,
  },
});
</script>

<style scoped>
:deep(.mini-card h3) {
  font-size: 20px !important;
  font-weight: 500;
  width: 100%;
}
:deep(.mini-card .post-thumbnail) {
  height: 170px;
}
</style>
