<template>
  <swiper
    :slides-per-view="5"
    :spaceBetween="30"
    :grabCursor="true"
    :breakpoints="{
      '@0.00': {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      '@0.75': {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      '@1.00': {
        slidesPerView: 3,
        spaceBetween: 40,
      },
      '@1.50': {
        slidesPerView: 5,
        spaceBetween: 50,
      },
    }"
  >
    <swiper-slide v-for="item in items" :key="item">
      <img :src="$getFileSource(item)" />
    </swiper-slide>
  </swiper>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";

// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from "swiper/vue/swiper-vue";

import "swiper/swiper-bundle.min.css";

// Import Swiper styles
import "swiper/swiper.min.css";
export default defineComponent({
  components: {
    Swiper,
    SwiperSlide,
  },
  props: {
    items: {
      type: Object as PropType<String[]>,
    },
  },
});
</script>
