<template>
  <div class="widgets-list-container">
    <ul class="widgets-list">
      <li class="widgets-list-item mb-2" v-for="item in items" :key="item">
        <slot :item="item">
          <router-link class="item" :to="item.href">
            <font-awesome-icon
              :icon="['fas', 'angle-right']"
              class="widgets-icon me-2"
            />
            <span class="me-1">{{ item.name }}</span>
            <span>{{ item.count }}</span>
          </router-link>
        </slot>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Widgets } from "../../types";
export default defineComponent({
  props: {
    items: {
      type: Object as PropType<Widgets[]>,
    },
  },
});
</script>

<style scoped>
/* Title Style */
.widgets-title {
  font-weight: 600;
}
/* Widgets container style */
.widgets-list {
  padding: 0;
}
/* Widgets-list-items list style*/
.widgets-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

</style>
<style>
/* Widgets-list-items list-items style*/
.widgets-list-item .item {
  font-size: 16px;
  color: #808080;
  font-weight: 300;
  text-decoration: none;
}
</style>