<template>
  <div class="container d-flex">
    <div class="col-md-5">
      <h2 class="page-title">Sorry, this page does not exist</h2>
      <p class="text-left">
        Oops, something went wrong! The link you clicked might be corrupted, or
        the page may have been removed.
      </p>
      <a-button class="general-btn" size="large" type="link" :href="$router.resolve({name:'Home'}).href"
        >Back to Home</a-button
      >
    </div>
    <img src="../assets/images/404.png" />
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  mounted() {
    document.title = "404 Not Found - Coinflip";
  },
});
</script>
<style scoped>
.page-title {
  color: #151515;
  font-size: 40px;
  line-height: 1.3;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}
.container {
  padding: 100px 0;
}
.general-btn {
  padding: 15px 40px !important;
}
p {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
  margin: 10px 0 20px;
}
</style>
