<template>
  <loading-page-anim :loading="loadingTestimonial"></loading-page-anim>

  <a-layout>
    <a-layout-content>
      <div v-if="!loadingTestimonial">
        <hero
          title="About Us"
          :backgroundImage="
            $getFileSource('images/background/bg_certified_casions.png')
          "
          :breadcrumbs="[
            { href: '/', name: 'Coinflip' },
            { href: '#', name: 'About Us' },
          ]"
        ></hero>

        <!-- SectionAboutUs -->
        <div class="about-offer">
          <div class="container">
            <SectionAboutUs />
          </div>
        </div>

        <!-- TestimoniSlider -->
        <div
          class="container-testimonials"
          :style="{
            'background-image':
              'url(' +
              require('../assets/images/background/bg_testimonials.jpeg') +
              ')',
          }"
        >
          <div class="container" v-if="!loadingTestimonial">
            <testimonial-slider :items="testimonial.testimonials" />
          </div>
        </div>

        <!-- Section With Image -->
        <div class="fluid-container hide-on-mobile" v-if="!sectionLoading">
          <SectionWithImage :thumbnail="section.thumbnail">
            <Jumbotron
              :title="section.title"
              :subtitle="section.subtitle"
              :description="section.description"
              :buttonName="section.buttonName"
              :href="'contact'"
            />
          </SectionWithImage>
        </div>

        <!-- SectionFAQ -->
        <div class="fluid-container hide-on-mobile" v-if="!loadingFaq">
          <SectionWithImage :thumbnail="faq.thumbnail" :rtl="true">
            <FAQ :items="faq.faqList"> </FAQ>
          </SectionWithImage>
        </div>

        <!-- SectionAboutUs -->
        <div class="about-offer-second">
          <div class="container">
            <SectionAboutUsSecond />
          </div>
        </div>

        <!-- Section Home Info -->
        <div
          class="container-info"
          :style="{
            'background-image':
              'url(' +
              require('../assets/images/background/contact_cover.jpg') +
              ')',
          }"
        >
          <div class="container">
            <SectionHomeInfo class="info-cards" />
          </div>
        </div>
      </div>
    </a-layout-content>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TestimonialSlider from "../components/TestimonialSlider/TestimonialSlider.vue";
import fetchTestimonialSlider from "../misc/composition/fetchTestimonialSlider";
import SectionWithImage from "../components/SectionWithImage/SectionWithImage.vue";
import fetchSectionWithImage from "../misc/composition/fetchHomSectionWithImage";
import Jumbotron from "../components/Jumbotron/Jumbotron.vue";
import SectionHomeInfo from "../components/SectionHomeInfo/SectionHomeInfo.vue";
import SectionAboutUs from "../components/SectionAboutUs/SectionAboutUs.vue";
import SectionAboutUsSecond from "../components/SectionAboutUsSecond/SectionAboutUsSecond.vue";
import Hero from "@/components/Hero/Hero.vue";
import FAQ from "../components/FAQ/FAQ.vue";
import fetchHomeFAQ from "../misc/composition/fetchHomeFAQ";
import LoadingPageAnim from "../components/LoadingPageAnim.vue"
export default defineComponent({
  components: {
    Hero,
    TestimonialSlider,
    SectionWithImage,
    Jumbotron,
    FAQ,
    SectionHomeInfo,
    SectionAboutUs,
    SectionAboutUsSecond,
    LoadingPageAnim
  },
  setup() {
    const {
      testimonial,
      loading: loadingTestimonial,
    } = fetchTestimonialSlider();
    const { section, loading: sectionLoading } = fetchSectionWithImage();
    document.title = "About - Coinflip";
    const { faq, loading: loadingFaq } = fetchHomeFAQ();

    return {
      testimonial,
      loadingTestimonial,
      section,
      sectionLoading,
      faq,
      loadingFaq,
    };
  },
});
</script>
<style scoped="scoped">
.about-offer,
.about-offer-second {
  padding-top: 90px;
  padding-bottom: 90px;
}
.container-info {
  margin-bottom: 90px;
  padding-top: 90px;
  background-size: 100% 75%;
  background-repeat: no-repeat;
}
.about-offer {
  background-color: #f9f9f9;
}
.container-testimonials {
  margin: 90px 0;
  padding: 60px 0;
}
.container-testimonials {
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
