<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <div v-if="!loading">
    <hero
      title="News"
      :backgroundImage="
        $getFileSource('images/background/bg_certified_casions.png')
      "
      :breadcrumbs="[
        { href: '/', name: 'Coinflip' },
        {
          href: {
            name: 'BlogList',
            params: {
              slug: blog.blogTags[0].name,
              type: 'tag',
            },
          },
          name: camelCaseToWords(blog.blogTags[0].name),
        },
        { href: '#', name: blog.title },
      ]"
    ></hero>

    <div class="container content">
      <a-row :gutter="[48, 48]">
        <a-col :xl="16" :xs="24">
          <div class="w-100 overflow-hidden">
            <img
              :alt="blog.title"
              class="thumbnail"
              :src="$getFileSource(blog.thumbnail.url)"
            />
          </div>
          <div class="box-news-tags d-flex mt-4 mb-2">
            <div class="news-details me-3">
              <font-awesome-icon
                class="tag-icon me-2"
                :icon="['far', 'calendar']"
              />
              <span>{{ $formatDate(blog.publishedAt) }}</span
              ><br />
            </div>
            <div class="news-details">
              <font-awesome-icon class="tag-icon me-2" :icon="['fas', 'tag']" />
              <router-link
                v-for="(tag, i) in blog.blogTags"
                :key="tag"
                :to="{
                  name: 'BlogList',
                  params: {
                    slug: tag.slug,
                  },
                }"
                >{{ camelCaseToWords(tag.name)
                }}<template v-if="!(i + 1 === blog.blogTags.length)"
                  >,
                </template>
              </router-link>
            </div>
          </div>

          <h1 class="post-title">
            {{ blog.title }}
          </h1>

          <About :description="$formatTextToMarkdown(blog.description)" />

          <div class="separator"></div>

          <tags
            class="tag-list"
            :items="blog.blogTags"
            :title="'Tags'"
            :type="'square'"
            :routerPage="'BlogList'"
            :params="{ type: 'tag' }"
          ></tags>
          <div class="separator"></div>
          <template v-if="!relatedBlogs.loading">
            <section-title
              :title="'Related Posts'"
              :removeBorderBottom="true"
            ></section-title>
            <a-row :gutter="[32, 32]">
              <a-col
                :xl="12"
                :xs="24"
                v-for="blog in relatedBlogs.blog"
                :key="blog"
              >
                <BoxRelated
                  :description="blog.description"
                  :author="blog.author.firstname + '  ' + blog.author.lastname"
                  :href="{
                    name: 'Blog',
                    params: {
                      slug: blog.slug,
                    },
                  }"
                  :title="blog.title"
                  :tags="
                    blog.blogTags
                      .map(function (obj) {
                        return camelCaseToWords(obj.name);
                      })
                      .join(', ')
                  "
                  :thumbnail="blog.thumbnail"
                />
              </a-col>
            </a-row>
          </template>
          <div class="separator"></div>

          <div class="mt-5" v-if="!fetchedComments.loading">
            <section-title
              class="commentTitle"
              v-if="fetchedComments.comments.length > 0"
              :title="getComments"
              :removeBorderBottom="true"
              :slim="true"
            ></section-title>
            <template
              v-for="comment in fetchedComments.comments"
              :key="comment"
            >
              <Comment
                v-if="!comment.blocked"
                :authorName="comment.authorName"
                :content="comment.content"
                :createdAt="$formatDate(comment.createdAt)"
                :comments="comment.children"
                :ctx="{
                  contentType: 'blog',
                  contentID: blog.id,
                  id: comment.id,
                }"
                @onRefreshComments="fetchedComments.fetchComments()"
                :blockedThread="comment.blockedThread"
              />
            </template>
          </div>

          <comment-box
            class="mt-5 mb-5"
            :ctx="{ contentType: 'blog', contentID: blog.id }"
            @onRefreshComments="fetchedComments.fetchComments()"
          ></comment-box>
        </a-col>
        <a-col :xl="8" :xs="24">
          <search-box class="widget mt-0"></search-box>

          <div class="widget">
            <section-title
              :title="'Categories'"
              :removeBorderBottom="true"
              :slim="true"
            ></section-title>

            <widget-list :items="fetchedCategories.categories">
              <template v-slot:default="slotProps">
                <router-link
                  class="item"
                  :to="{
                    name: 'BlogList',
                    params: {
                      type: 'category',
                      slug: slotProps.item.slug,
                    },
                  }"
                >
                  <font-awesome-icon
                    :icon="['fas', 'angle-right']"
                    class="widgets-icon me-2"
                  />
                  <span class="me-1">{{ slotProps.item.name }}</span>
                  <span>({{ slotProps.item.blogs.length }})</span>
                </router-link>
              </template>
            </widget-list>
            <div class="separator"></div>

            <section-title
              :title="'Recent Comments'"
              :removeBorderBottom="true"
              :slim="true"
            ></section-title>
            <widget-list class="rcmt" :items="latestComments.comments">
              <template v-slot:default="slotProps">
                <font-awesome-icon
                  :icon="['fas', 'angle-right']"
                  class="widgets-icon me-2"
                />
                <span class="me-1">{{ slotProps.item.authorName }} on</span>
                <router-link
                  class="item"
                  :to="{
                    name: 'Blog',
                    params: {
                      slug: slotProps.item.blog[0].slug,
                    },
                  }"
                >
                  {{ slotProps.item.blog[0].title }}
                </router-link>

                <!-- <span>{{ item.count }}</span>               -->
              </template>
            </widget-list>
          </div>

          <div class="widget">
            <section-title
              :title="'Tags'"
              :removeBorderBottom="true"
              :slim="true"
            ></section-title>
            <tags
              :items="tags"
              :type="'square'"
              :routerPage="'BlogList'"
              :params="{ type: 'tag' }"
            ></tags>
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import Hero from "@/components/Hero/Hero.vue";
import { useRoute } from "vue-router";
import fetchBlog from "../misc/composition/fetchBlog";
import fetchBlogTags from "../misc/composition/fetchBlogTags";
import { camelCaseToWords } from "../misc/utilis/api/helpers";
import SearchBox from "@/components/SearchBox/SearchBox.vue";
import About from "../components/CasinoAbout/CasinoAbout.vue";
import WidgetList from "@/components/WidgetList/WidgetList.vue";
import Tags from "@/components/Tags/Tags.vue";
import SectionTitle from "@/components/SectionTitle/SectionTitle.vue";
import fetchComments from "../misc/composition/fetchComments";
import CommentBox from "@/components/CommentBox/CommentBox.vue";
import Comment from "@/components/Comment/Comment.vue";
import BoxRelated from "../components/BoxRelated/BoxRelated.vue";
import fetchRelatedBlogs from "../misc/composition/fetchRelatedBlogs";
import fetchLatestComments from "../misc/composition/fetchLatestComments";
import fetchCategories from "../misc/composition/fetchCategories";
import LoadingPageAnim from "@/components/LoadingPageAnim.vue";
export default defineComponent({
  components: {
    Hero,
    SearchBox,
    About,
    WidgetList,
    Tags,
    SectionTitle,
    Comment,
    CommentBox,
    BoxRelated,
    LoadingPageAnim
  },
  setup() {
    const fetchedComments = ref();
    const relatedBlogs = ref();
    const latestComments = ref();
    const fetchedCategories = ref();

    const { blog, loading } = fetchBlog(useRoute().params.slug);
    const { tags, loading: tagsLoading } = fetchBlogTags();
    watch(blog, () => {
      document.title = (blog.value.title ?? "Blog") + " - Coinflip";

      fetchedComments.value = fetchComments("blog", blog.value.id ?? 0);
      relatedBlogs.value = fetchRelatedBlogs(blog.value.blogTags);
      latestComments.value = fetchLatestComments();
      fetchedCategories.value = fetchCategories();
    });

    return {
      blog,
      camelCaseToWords,
      loading,
      tags,
      tagsLoading,
      fetchedComments,
      relatedBlogs,
      fetchedCategories,
      latestComments,
    };
  },
  computed: {
    getComments(): string {
      const plural = this.fetchedComments.comments.length !== 1 ? "ies" : "y";
      return `${this.fetchedComments.comments.length} Repl${plural} for "${this.blog.title}"`;
    },
  },
});
</script>
<style scoped="scoped">
.news-details {
  font-weight: 200;
  color: #686868 !important;
  opacity: 1;
  font-size: 14px;
}
.thumbnail {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}
.box-news-tags span {
  font-size: 15px;
  color: #686868;
  font-size: 300;
}
.rcmt .item:hover {
  text-decoration: underline;
}
:deep(.rcmt .me-1) {
  font-size: 16px;
  color: #808080;
  font-weight: 300;
}
.commentTitle {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 35px;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
}
.widget:not(.mt-0) {
  border-bottom: 1px dashed #ccc;
  padding-top: 30px;
  padding-bottom: 25px;
}

.tag-list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.widget.mt-0 {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 40px;
}

.me-1 {
  color: #686868;
  font-weight: 300;
  font-size: 15px;
}
</style>
