<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <div v-if="!loading">
    <hero
      title="News"
      :backgroundImage="
        $getFileSource('images/background/bg_certified_casions.png')
      "
      :breadcrumbs="[
        { href: '/', name: 'Coinflip' },
        {
          href: '#',
          name: 'News',
        },
      ]"
    ></hero>

    <div class="container content">
      <a-row :gutter="[48, 48]">
        <a-col :xl="16" :xs="24">
          <template v-for="blog in blogs" :key="blog">
            <box-news
              class="mb-5"
              :date="new Date(blog.publishedAt)"
              :title="blog.title"
              :thumbnail="blog.thumbnail"
              :description="blog.description"
              :category="blog.category === null ? null : blog.category.name"
              :categoryLink="{
                name: 'BlogList',
                params: {
                  type: 'category',
                  slug: blog.category === null ? null : blog.category.slug,
                },
              }"
              :href="{
                name: 'Blog',
                params: {
                  slug: blog.slug,
                },
              }"
              :author="{
                name: blog.author.firstname + '  ' + blog.author.lastname,
                href: '/',
              }"
              buttonText="Continue Reading"
            ></box-news>
          </template>
        </a-col>
        <a-col :xl="8" :xs="24">
          <search-box class="widget mt-0"></search-box>

          <div class="widget">
            <section-title
              :title="'Categories'"
              :removeBorderBottom="true"
              :slim="true"
            ></section-title>
            <widget-list :items="fetchedCategories.categories">
              <template v-slot:default="slotProps">
                <router-link
                  class="item"
                  :to="{
                    name: 'BlogList',
                    params: {
                      type: 'category',
                      slug: slotProps.item.slug,
                    },
                  }"
                >
                  <font-awesome-icon
                    :icon="['fas', 'angle-right']"
                    class="widgets-icon me-2"
                  />
                  <span class="me-1">{{ slotProps.item.name }}</span>
                  <span>({{ slotProps.item.blogs.length }})</span>
                </router-link>
              </template>
            </widget-list>
            <div class="separator"></div>

            <section-title
              :title="'Recent Comments'"
              :removeBorderBottom="true"
              :slim="true"
            ></section-title>

            <widget-list class="rcmt" :items="latestComments.comments">
              <template v-slot:default="slotProps">
                <font-awesome-icon
                  :icon="['fas', 'angle-right']"
                  class="widgets-icon me-2"
                />
                <span class="me-1">{{ slotProps.item.authorName }} on</span>
                <router-link
                  class="item"
                  :to="{
                    name: 'Blog',
                    params: {
                      slug: slotProps.item.blog[0].slug,
                    },
                  }"
                >
                  {{ slotProps.item.blog[0].title }}
                </router-link>

                <!-- <span>{{ item.count }}</span>               -->
              </template>
            </widget-list>
          </div>

          <div class="widget">
            <section-title
              :title="'Tags'"
              :removeBorderBottom="true"
              :slim="true"
            ></section-title>
            <tags
              :items="tags"
              :type="'square'"
              :routerPage="'BlogList'"
              :params="{ type: 'tag' }"
            ></tags>
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import Hero from "@/components/Hero/Hero.vue";
import fetchBlogs from "../misc/composition/fetchBlogs";
import fetchBlogTags from "../misc/composition/fetchBlogTags";
import { camelCaseToWords } from "../misc/utilis/api/helpers";
import SearchBox from "@/components/SearchBox/SearchBox.vue";
import WidgetList from "@/components/WidgetList/WidgetList.vue";
import Tags from "@/components/Tags/Tags.vue";
import SectionTitle from "@/components/SectionTitle/SectionTitle.vue";
import BoxNews from "../components/BoxNews/BoxNews.vue";
import LoadingPageAnim from "../components/LoadingPageAnim.vue"
import fetchLatestComments from "../misc/composition/fetchLatestComments";
import fetchCategories from "../misc/composition/fetchCategories";

export default defineComponent({
  components: {
    Hero,
    SearchBox,
    WidgetList,
    Tags,
    SectionTitle,
    BoxNews,
    LoadingPageAnim
  },
  setup() {
    const latestComments = ref();
    const fetchedCategories = ref();

    const { blogs, loading } = fetchBlogs();
    const { tags, loading: tagsLoading } = fetchBlogTags();
    document.title = "Blogs - Coinflip";

    watch(blogs, () => {
      latestComments.value = fetchLatestComments();
      fetchedCategories.value = fetchCategories();
    });

    return {
      camelCaseToWords,
      loading,
      blogs,
      tags,
      fetchedCategories,
      tagsLoading,
      latestComments,
    };
  },
});
</script>
<style scoped="scoped">
.thumbnail {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}
.box-news-tags span {
  font-size: 15px;
  color: #686868;
  font-size: 300;
}
h1 {
  font-weight: 600;
  font-size: 36px;
}
.widget:not(.mt-0) {
  border-bottom: 1px dashed #ccc;
  padding-top: 30px;
  padding-bottom: 25px;
}

.tag-list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.widget.mt-0 {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 40px;
}
.rcmt .item:hover {
  text-decoration: underline;
}
:deep(.rcmt .me-1) {
  font-size: 16px;
  color: #808080;
  font-weight: 300;
}
.comments,
.widgets-icon {
  font-size: 16px;
  color: #808080;
  font-weight: 300;
  text-decoration: none;
}
</style>
