<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <div >
    <div v-if="!loading">
      <hero
        :breadcrumbs="[
          { href: '/', name: 'Coinflip' },
          {
            href: {
              name: 'BlogList',
              params: {
                slug: bonus.categories[0].slug,
                type: 'tag',
              },
            },
            name:
              bonus.categories !== undefined
                ? bonus.categories[0].name
                : 'No Category',
          },
          { href: '#', name: bonus.name },
        ]"
        :description="bonus.description"
        :title="bonus.name"
      >
        <template #title>
          <h1 class="list_title">
            {{ bonus.title }}
          </h1>
        </template>
        <template #actions>
          <div
            class="d-md-flex align-items-md-center justify-content-md-center"
            style="margin: 25px 0 10px"
          >
            <p class="get-bonus">Get Bonus :</p>
            <div class="buttons center my-4 my-md-0">
              <span class="bonus">NOW50</span>
              <a-button
                class="button general-btn"
                target="_blank"
                :href="bonus.bonusLink"
                >Get Bonus</a-button
              >
            </div>
          </div>
        </template>
      </hero>

      <div class="about">
        <a-row class="container">
          <a-col :xl="16" :xs="24" class="pe-0 pe-md-5">
            <SectionTitle :title="'About Bonus'" v-if="bonus.about" />

            <casino-about
              :description="$formatTextToMarkdown(bonus.about)"
            ></casino-about>

            <SectionTitle
              class="mt-5"
              :title="'Bonus Features'"
              v-if="bonus.features || bonus.description"
            />

            <casino-features
              :description="bonus.excerpt"
              :items="fGetFeatures(bonus.features)"
            ></casino-features>
            <a-tooltip placement="topLeft" class="sharer">
              <template #title>
                <!-- <a
                  :href="social.href"
                  class="social-icon"
                  target="_blank"
                  v-for="social in socials"
                  :key="social"
                >
                  <font-awesome-icon
                    :icon="['fab', social.icon.name]"
                  ></font-awesome-icon>
                </a> -->

                <div class="social-btn">
                  <a
                    class="social-icon s-twitter"
                    :href="`https://twitter.com/intent/tweet?text=${bonus.title};url=${returnCurrentURL};via=Coinflip`"
                    target="_blank"
                    rel="nofollow"
                  >
                    <font-awesome-icon
                      :icon="['fab', 'twitter']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-facebook"
                    :href="`https://www.facebook.com/sharer/sharer.php?u=${returnCurrentURL}`"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fab', 'facebook']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-pinterest"
                    :href="`https://pinterest.com/pin/create/button/?url=${returnCurrentURL};media=h;description=${bonus.title}`"
                    data-pin-custom="true"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fab', 'pinterest']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-linkedin"
                    :href="`https://www.linkedin.com/shareArticle?mini=true;url=${returnCurrentURL};title=${bonus.title}`"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fab', 'linkedin']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-telegram"
                    :href="`https://telegram.me/share/url?url=${returnCurrentURL};text=${bonus.title}`"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fab', 'telegram']"
                    ></font-awesome-icon></a
                  ><a
                    class="social-icon s-email"
                    :href="`mailto:?subject=${title};body=${returnCurrentURL}`"
                    target="_blank"
                    rel="nofollow"
                    ><font-awesome-icon
                      :icon="['fas', 'inbox']"
                    ></font-awesome-icon
                  ></a>
                </div>
              </template>
              <span
                >Share this
                <font-awesome-icon :icon="['fas', 'share-alt']" class="share"
              /></span>
            </a-tooltip>
            <template v-if="bonus.categories !== null">
              <SectionTitle
                :title="'Categories:'"
                :slim="true"
                :removeBorderBottom="true"
                class="secondary-title"
              />
              <tags
                :params="{
                  category: 'bonus-categories',
                  component: GET.BONUSES,
                }"
                :routerPage="'List'"
                :items="bonus.categories"
              ></tags>
            </template>

            <SectionTitle class="games-title" :title="'More Bonuses'" />

            <a-row :gutter="[24, 24]">
              <a-col
                :xl="8"
                :xs="24"
                v-for="bonuz in fetchedBonuses.bonuses.slice(0, 3)"
                :key="bonuz"
              >
                <card-cash-back
                  :category="
                    bonus.categories !== undefined
                      ? bonus.categories[0].name
                      : 'No Category'
                  "
                  :bonus="bonuz.bonus"
                  :rewards="bonuz.rewards"
                  :description="''"
                  :href="{
                    name: 'Bonus',
                    params: {
                      slug: bonuz.slug,
                    },
                  }"
                >
                </card-cash-back>
              </a-col>
            </a-row>

            <div class="mt-5" v-if="!fetchedComments.loading">
              <section-title
                v-if="fetchedComments.comments.length > 0"
                :title="getComments"
                :removeBorderBottom="true"
                :slim="true"
              ></section-title>
              <template
                v-for="comment in fetchedComments.comments"
                :key="comment"
              >
                <Comment
                  v-if="!comment.blocked"
                  :authorName="comment.authorName"
                  :content="comment.content"
                  :createdAt="$formatDate(comment.createdAt)"
                  :comments="comment.children"
                  :ctx="{
                    contentType: 'bonus',
                    contentID: bonus.id,
                    id: comment.id,
                  }"
                  @onRefreshComments="fetchedComments.fetchComments()"
                  :blockedThread="comment.blockedThread"
                />
              </template>
            </div>
            <comment-box
              class="mt-5 mb-5"
              :ctx="{ contentType: 'bonus', contentID: bonus.id }"
              @onRefreshComments="fetchedComments.fetchComments()"
            ></comment-box>
          </a-col>

          <a-col :xl="8" :xs="24">
            <ProCons
              class="expp-position"
              :items="fGetProCons(bonus.experiences)"
            />
            <widget-layout
              title="Popular Casinos"
              :items="popularCasinos"
              v-if="!loadingCasinos"
              :xl="24"
              class="popular mb-5"
            >
              <template v-slot:default="slotProps">
                <card-casino-online
                  class="w-100"
                  v-bind="slotProps.item"
                  :title="slotProps.item.title"
                  :description="slotProps.item.excerpt"
                  :href="{
                    name: 'Casino',
                    params: {
                      slug: slotProps.item.slug,
                    },
                  }"
                  :mini="true"
                  :thumbnail="slotProps.item.thumbnail"
                  :class="{ 'mt-4': slotProps.i !== 0 }"
                ></card-casino-online>
              </template>
            </widget-layout>

            <widget-layout
              title="Recent News"
              :items="latestNews"
              v-if="!loadingNews"
            >
              <template v-slot:default="slotProps">
                <CardBlogPost
                  v-bind="slotProps.item"
                  :title="slotProps.item.title"
                  :description="slotProps.item.description"
                  :href="{
                    name: 'Blog',
                    params: {
                      slug: slotProps.item.slug,
                    },
                  }"
                  :type="'compact'"
                  :author="{
                    name:
                      slotProps.item.author.firstname +
                      ' ' +
                      slotProps.item.author.lastname,
                    href: '/',
                  }"
                  :thumbnail="slotProps.item.thumbnail"
                  :details="{
                    commentNo: slotProps.item.comments.length,
                    date: Date.parse(slotProps.item.publishedAt),
                  }"
                  :class="{ 'mt-4': slotProps.i !== 0 }"
                ></CardBlogPost>
              </template>
            </widget-layout>
          </a-col>
        </a-row>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch, Ref } from "vue";
import fetchSlot from "../misc/composition/fetchSlot";
import { useRoute } from "vue-router";
import CasinoAbout from "@/components/CasinoAbout/CasinoAbout.vue";
import ProCons from "../components/ProConBox/ProConBox.vue";
import SectionTitle from "../components/SectionTitle/SectionTitle.vue";
import CasinoFeatures from "../components/CasinoFeatures/CasinoFeatures.vue";
import Tags from "@/components/Tags/Tags.vue";
import CommentBox from "@/components/CommentBox/CommentBox.vue";
import Comment from "@/components/Comment/Comment.vue";
import { camelCaseToWords, kebabize } from "../misc/utilis/api/helpers";
import fetchComments from "../misc/composition/fetchComments";
import postLike from "../misc/composition/postLike";
import WidgetLayout from "../components/WidgetLayout/WidgetLayout.vue";
import fetchLatestNews from "../misc/composition/fetchLatestNews";
import CardBlogPost from "../components/CardBlogPost/CardBlogPost.vue";
import { GET } from "../misc/utilis/api/endpoints";
import Hero from "../components/Hero/Hero.vue";
import CardCashBack from "../components/CardCashBack/CardCashBack.vue";
import fetchBonus from "../misc/composition/fetchBonus";
import casinoHelpers from "../misc/composition/casinoHelpers";
import { Casino } from "@/types";
import fetchCasinosBy from "@/misc/composition/fetchCasinosBy";
import CardCasinoOnline from "@/components/CardCasinoOnline/CardCasinoOnline.vue";
import fetchBonusesBy from "@/misc/composition/fetchBonusesBy";
import LoadingPageAnim from "../components/LoadingPageAnim.vue";

export default defineComponent({
  components: {
    ProCons,
    CasinoAbout,
    SectionTitle,
    CasinoFeatures,
    Tags,
    CommentBox,
    Comment,
    WidgetLayout,
    CardBlogPost,
    Hero,
    CardCashBack,
    CardCasinoOnline,
    LoadingPageAnim,
  },
  setup() {
    const route = useRoute();
    let fetchedComments = ref();
    let fetchedBonuses = ref();
    let showBanner = ref(false);

    const { bonus, loading } = fetchBonus(route.params.slug);

    watch(loading, () => {
      fetchedComments.value = fetchComments("bonus", bonus.value.id);
      fetchedBonuses.value = fetchBonusesBy(
        { slug: bonus.value.categories[0].slug, _limit: 3 },
        "bonus-categories"
      );
      document.title = (bonus.value.title ?? "Bonus") + " - Coinflip";
    });

    const { fGetProCons, fGetFeatures } = casinoHelpers({} as Ref<Casino>);
    const { submitLike } = postLike();
    const { latestNews, loading: loadingNews } = fetchLatestNews(2);
    const { casinos: popularCasinos, loading: loadingCasinos } = fetchCasinosBy(
      {
        _sort: "likes:DESC",
        _limit: 3,
      }
    );
    return {
      kebabize,
      showBanner,
      submitLike,
      latestNews,
      bonus,
      loadingNews,
      fetchSlot,
      loading,
      fetchedBonuses,
      GET,
      fGetFeatures,
      camelCaseToWords,
      fetchedComments,
      fGetProCons,
      popularCasinos,
      loadingCasinos,
    };
  },
  computed: {
    getComments(): string {
      const plural = this.fetchedComments.comments.length !== 1 ? "s" : "";
      return `${this.fetchedComments.comments.length} comment${plural} for "${this.bonus.title}"`;
    },
    returnCurrentURL(): string {
      return window.location.href;
    },
  },
});
</script>

<style scoped>
.details {
  padding: 60px 0;
  background: white;
}
.about {
  background: #fafafa;
  padding: 100px 0;
}
.cover {
  width: 100%;
  height: auto;
  filter: brightness(0.3);
}
.secondary-title {
  font-size: 19px !important;
  line-height: 22px !important;
  margin-top: 27px;
}
:deep(.tags) {
  margin-top: 27px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 30px;
  border-radius: 0 !important;
}
:deep(.tags .tag:first-child) {
  margin-left: 0 !important;
}
.expp-position {
  margin-bottom: 45px;
}

.general-btn:not(.button) {
  line-height: 38px;
  padding: 5px 35px !important;
}
.sticky {
  z-index: 500;
}
:deep(.popular .ant-col) {
  width: 100% !important;
}
:deep(.title h3) {
  font-weight: 600;
}
.games-title {
  margin: 48px 0 20px;
}
.general-btn:not(.button) {
  line-height: 38px;
}
.get-bonus {
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  margin-right: 10px;
  color: #fff;
  margin-bottom: 0;
}
.list_title {
  font-weight: 700;
  margin-top: 10px;
  color: #fff;
  font-size: 36px;
}
.bonus {
  padding: 10px 40px;
}
.sharer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}
.social-icon {
  color: white;
  margin: 0px 10px;
}
.social-icon > svg {
  width: 18px;
  height: 18px;
}
.share {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}
@media only screen and (min-width: 767px) {
  .button {
    padding: 15px 45px !important;
  }
  .bonus {
    padding: 15px 45px;
  }
  .general-btn:not(.button) {
    padding: 5px 35px !important;
  }
}
</style>
