<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <a-layout>
    <a-layout-content>
      <hero
        title="Bookmakers"
        :backgroundImage="
          $getFileSource('images/background/bg_certified_casions.png')
        "
        :breadcrumbs="[
          { href: '/', name: 'Coinflip' },
          { href: '#', name: 'Bookmakers' },
        ]"
      ></hero>
      <div class="container bookmaker-table" v-if="!loading">
        <Bookmakers :items="bookmaker" />
      </div>
    </a-layout-content>
  </a-layout>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import Bookmakers from "../components/Bookmakers/Bookmakers.vue";
import fetchBookmaker from "../misc/composition/fetchBookmakersTable";
import Hero from "@/components/Hero/Hero.vue";
import LoadingPageAnim from "../components/LoadingPageAnim.vue";
export default defineComponent({
  components: { Bookmakers, Hero, LoadingPageAnim },
  setup() {
    const { bookmaker, loading } = fetchBookmaker();
    return { bookmaker, loading };
  },
});
</script>
<style scoped>
.bookmaker-table {
  padding: 90px 0;
}
</style>
