<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <div class="bookmaker">
    <div v-if="!loading">
      <img
        class="cover"
        :src="
          $getFileSource(
            bookmaker.cover === null
              ? 'images/background/bg_certified_casions.png'
              : bookmaker.cover.url
          )
        "
      />
      <a-row class="details container">
        <a-col :xl="16" :xs="24">
          <casino-details
            :id="bookmaker.id"
            :thumbnail="bookmaker.thumbnail"
            :likes="bookmaker.likes ?? 0"
            :rating="calcRating"
            :title="bookmaker.title"
            :description="bookmaker.about.slice(0, 97) + '...'"
            :socials="bookmaker.socials"
            :accepts="canUserPlay"
            @onLike="submitLike(bookmaker.id)"
          ></casino-details>

          <a-button
            type="link"
            :href="bookmaker.referralLink"
            class="general-btn bookmaker-play-btn"
          >
            <font-awesome-icon
              :icon="['fas', 'arrow-circle-right']"
              class="icon"
            />
            Play now
          </a-button>

          <br />

          <a-tooltip
            class="info-tooltip"
            placement="bottom"
            v-if="bookmaker.termsAndConditions"
          >
            <template #title
              ><span class="info-tooltip-text">{{
                bookmaker.termsAndConditions
              }}</span>
            </template>
            <span>T&C applies</span>
          </a-tooltip>
        </a-col>
        <a-col :xl="8">
          <ProCons class="expp-position" :items="getProCons" />
        </a-col>
      </a-row>

      <div class="about">
        <a-row class="container p-md-0">
          <a-col :xl="16" :xs="24" class="pe-0 pe-md-5">
            <SectionTitle :title="'About Bookmaker'" v-if="bookmaker.about" />

            <casino-about
              :description="$formatTextToMarkdown(bookmaker.about)"
            ></casino-about>

            <SectionTitle
              class="mt-5"
              :title="'Bookmaker Features'"
              v-if="bookmaker.features"
            />

            <casino-features
              :description="bookmaker.about.slice(0, 97) + '...'"
              :items="getFeatures"
            ></casino-features>

            <template v-if="bookmaker.tags !== null">
              <SectionTitle
                class="mt-5"
                :title="'Bookmaker Details'"
                v-if="bookmaker.features || bookmaker.description"
              />

              <template v-for="tag in Object.keys(bookmaker.tags)" :key="tag">
                <template v-if="tag !== 'id' && bookmaker.tags[tag].length > 0">
                  <SectionTitle
                    :title="camelCaseToWords(tag) + ':'"
                    :slim="true"
                    :removeBorderBottom="true"
                    class="secondary-title"
                  />
                  <tags
                    :params="{
                      category: kebabize(tag),
                      component: GET.BOOKMAKERS,
                    }"
                    :routerPage="'List'"
                    :items="bookmaker.tags[tag]"
                  ></tags>
                </template>
              </template>
            </template>

            <div class="mt-5" v-if="!fetchedComments.loading">
              <section-title
                v-if="fetchedComments.comments.length > 0"
                :title="getComments"
                :removeBorderBottom="true"
                :slim="true"
              ></section-title>
              <template
                v-for="comment in fetchedComments.comments"
                :key="comment"
              >
                <Comment
                  v-if="!comment.blocked"
                  :authorName="comment.authorName"
                  :content="comment.content"
                  :createdAt="$formatDate(comment.createdAt)"
                  :comments="comment.children"
                  :ctx="{
                    contentType: 'bookmaker',
                    contentID: bookmaker.id,
                    id: comment.id,
                  }"
                  @onRefreshComments="fetchedComments.fetchComments()"
                  :blockedThread="comment.blockedThread"
                />
              </template>
            </div>

            <comment-box
              class="mt-5 mb-5"
              :ctx="{ contentType: 'bookmaker', contentID: bookmaker.id }"
              @onRefreshComments="fetchedComments.fetchComments()"
            ></comment-box>
          </a-col>

          <a-col :xl="8">
            <widget-layout
              title="Popular Casinos"
              :items="popularCasinos"
              v-if="!loadingCasinos"
              :xl="24"
              class="popular mb-5"
            >
              <template v-slot:default="slotProps">
                <card-casino-online
                  class="w-100"
                  v-bind="slotProps.item"
                  :title="slotProps.item.title"
                  :description="slotProps.item.excerpt"
                  :href="{
                    name: 'Casino',
                    params: {
                      slug: slotProps.item.slug,
                    },
                  }"
                  :mini="true"
                  :thumbnail="slotProps.item.thumbnail"
                  :class="{ 'mt-4': slotProps.i !== 0 }"
                ></card-casino-online>
              </template>
            </widget-layout>

            <widget-layout
              title="Recent News"
              :items="latestNews"
              v-if="!loadingNews"
            >
              <template v-slot:default="slotProps">
                <CardBlogPost
                  v-bind="slotProps.item"
                  :title="slotProps.item.title"
                  :description="slotProps.item.description"
                  :href="{
                    name: 'Blog',
                    params: {
                      slug: slotProps.item.slug,
                    },
                  }"
                  :type="'compact'"
                  :author="{ name: slotProps.item.author.firstname + ' ' +  slotProps.item.author.lastname, href: '/' }"
                  :thumbnail="slotProps.item.thumbnail"
                  :details="{
                    commentNo: slotProps.item.comments.length,
                    date: Date.parse(slotProps.item.publishedAt),
                  }"
                  :class="{ 'mt-4': slotProps.i !== 0 }"
                ></CardBlogPost>
              </template>
            </widget-layout>
          </a-col>
        </a-row>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch, onMounted } from "vue";
import fetchBookmaker from "../misc/composition/fetchBookmaker";
import CasinoDetails from "../components/CasinoDetails/CasinoDetails.vue";
import { useRoute } from "vue-router";
import CasinoAbout from "@/components/CasinoAbout/CasinoAbout.vue";
import ProCons from "../components/ProConBox/ProConBox.vue";
import SectionTitle from "../components/SectionTitle/SectionTitle.vue";
import CasinoFeatures from "../components/CasinoFeatures/CasinoFeatures.vue";
import Tags from "@/components/Tags/Tags.vue";
import CommentBox from "@/components/CommentBox/CommentBox.vue";
import Comment from "@/components/Comment/Comment.vue";
import { camelCaseToWords, kebabize } from "../misc/utilis/api/helpers";
import fetchComments from "../misc/composition/fetchComments";
import postLike from "../misc/composition/postLike";
import WidgetLayout from "../components/WidgetLayout/WidgetLayout.vue";
import fetchLatestNews from "../misc/composition/fetchLatestNews";
import CardBlogPost from "../components/CardBlogPost/CardBlogPost.vue";
import { GET } from "../misc/utilis/api/endpoints";
import fetchCasinosBy from "@/misc/composition/fetchCasinosBy";
import CardCasinoOnline from "@/components/CardCasinoOnline/CardCasinoOnline.vue";
import LoadingPageAnim from "../components/LoadingPageAnim.vue"
export default defineComponent({
  components: {
    CasinoDetails,
    ProCons,
    CasinoAbout,
    SectionTitle,
    CasinoFeatures,
    Tags,
    CommentBox,
    Comment,
    WidgetLayout,
    CardCasinoOnline,
    CardBlogPost,
    LoadingPageAnim
  },
  setup() {
    const route = useRoute();
    let fetchedComments = ref();
    let showBanner = ref(false);

    const {
      bookmaker,
      loading,
      canUserPlay,
      calcRating,
      getProCons,
      getFeatures,
    } = fetchBookmaker(route.params.slug);

    watch(bookmaker, () => {
      document.title = (bookmaker.value.title ?? "Bookmaker") + " - Coinflip";
      fetchedComments.value = fetchComments("bookmaker", bookmaker.value.id);
    });
    const { casinos: popularCasinos, loading: loadingCasinos } = fetchCasinosBy(
      {
        _sort: "likes:DESC",
        _limit: 3,
      }
    );
    onMounted(() => {
      window.addEventListener("scroll", () => {
        if (window.scrollY > 900) {
          showBanner.value = true;
        } else {
          showBanner.value = false;
        }
      });
    });

    const { submitLike } = postLike("bookmakers");
    const { latestNews, loading: loadingNews } = fetchLatestNews(2);
    return {
      kebabize,
      showBanner,
      submitLike,
      latestNews,
      bookmaker,
      loadingNews,
      fetchBookmaker,
      loading,
      canUserPlay,
      calcRating,
      getProCons,
      GET,
      getFeatures,
      camelCaseToWords,
      fetchedComments,
      popularCasinos,
      loadingCasinos,
    };
  },
  computed: {
    getComments(): string {
      const plural = this.fetchedComments.comments.length !== 1 ? "s" : "";
      return `${this.fetchedComments.comments.length} comment${plural} for "${this.bookmaker.title}"`;
    },
  },
});
</script>

<style scoped>
.details {
  padding: 60px 0 30px;
  height: 315px;
  background: white;
}
.about {
  padding: 100px 0;
}
.cover {
  width: 100%;
  height: auto;
  filter: brightness(0.3);
}
.secondary-title {
  font-size: 19px !important;
  line-height: 22px !important;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 20px 0 0;
}
:deep(.tags) {
  margin-top: 10px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 20px;
  border-radius: 0 !important;
}
:deep(.tags .tag:first-child) {
  margin-left: 0 !important;
}
.expp-position {
  margin-bottom: 45px;
  margin-top: -150px;
}

.general-btn {
  line-height: 38px;
  padding: 5px 35px !important;
}
.sticky {
  z-index: 500;
}
:deep(.popular .ant-col) {
  width: 100% !important;
}
:deep(.title h3) {
  font-weight: 600;
}
.bookmaker-play-btn {
  margin-top: 55px;
}
</style>
