<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <div v-if="!loading">
    <hero
      title="Contact"
      :backgroundImage="
        $getFileSource('images/background/bg_certified_casions.png')
      "
      :breadcrumbs="[
        { href: '/', name: 'Coinflip' },
        { href: '#', name: 'Contact' },
      ]"
    ></hero>

    <div class="bg">
      <div class="container content form">
        <contact :contactData="contact"></contact>
      </div>
    </div>
    <div class="container content pt-0">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d742.4373876971041!2d12.45465!3d41.898243!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5eef3585fa4809fa!2sStazione%20San%20Pietro%2020%20Apartment!5e0!3m2!1sen!2sro!4v1635169403856!5m2!1sen!2sro"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Hero from "@/components/Hero/Hero.vue";
import Contact from "../components/Contact/Contact.vue";
import fetchContact from "../misc/composition/fetchContact";
import LoadingPageAnim from "../components/LoadingPageAnim.vue"
export default defineComponent({
  components: {
    Hero,
    Contact,
    LoadingPageAnim
  },
  setup() {
    const { contact, loading } = fetchContact();
    document.title = "Contact - Coinflip";

    return { contact, loading };
  },
});
</script>
<style scoped="scoped">
iframe {
  width: 100%;
  height: 410px;
}
.container {
  max-width: 1150px !important;
}
:deep(.contact-section2) {
  padding: 0px !important;
}
.form {
  padding-bottom: 80px;
  padding-top: 80px;
}
.bg {
  margin-top: 0px !important;
  margin-right: 5px !important;
  margin-bottom: 0 x !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background-image: url("../assets/images/background/bg_contact.jpg") !important;
}
</style>
