<template>
  <a-layout>
    <a-layout-content>
      <!-- Header -->
      <div
        class="position-relative main-header"
        :style="{
          'background-image':
            'url(' +
            require('../assets/images/demosimages/background-esports-betting.jpeg') +
            ')',
        }"
      >
        <main-header
          class="content-header"
          title="Make Selection
                    For Placing an eSport"
          description="Upto $250 Bonus to split however you like new customers only*"
          href="header.button.href"
          buttonName="JOIN COINFLIP NOW"
        ></main-header>
      </div>

      <!-- Section Chacarteristics -->
      <div class="container container-characteristics">
        <SectionCharacteristicsEsports />
      </div>

      <!-- Section Slider Cards -->
      <div class="container container-slider-cards">
        <CardGamesSlider :items="items" />
      </div>

            <!-- Section Cards Long -->
            <div class="container container-cards-long">
                <SectionHeading
                class="section-heading"
                title="Let The Games Begin!"
                subtitle=""
                description="Experience the Best in Esports Betting at Coinflip"
                />
                <SectionCardLongEsports/>
            </div>
            <!-- Section CallToAction -->
            <div class="container-call-to-action">
                <CallToActionSection
               :thumbnail="{ url: 'images/demosimages/logo-coinflip-esports.png' }"
                title="A Platform for eSports"
                description="Dress with crossover V-neckline with ruffled trims.opns Features & longslee sleeves with ruffled trims, elastic cuffs, a cinched waist ruffled hem loreming ipsum dolor amet. Lorem ipsum dolor amet."
                />
            </div>
            <!-- Section Bonuses -->
            <div class="container container-bonuses">
                <SubtitleSections
                    class="casinos-title"
                    title="Cashback Bonuses"
                    subtitle="At Coinflip, we show only the best casinos"
                />
                <SectionBonusesEsport/>
            </div>
            <!-- SectionFAQ -->
            <div class="section-faq fluid-container hide-on-mobile">
             <SectionFaqHorseBetting  :thumbnail="{url:'images/demosimages/faq-esports.png'}"/>
            </div>
       
            <!-- Section Grid News -->
            <div class="container container-grid">
                <SectionHomeGridNews/>
            </div>
            <!-- Section Carousel Partners -->
            <div class="container container-partners">
                <CarouselPartners :items="partners"/>
            </div>
        </a-layout-content>
    </a-layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import MainHeader from "../components/MainHeader/MainHeader.vue";
import SectionCharacteristicsEsports from "@/components/SectionCharacteristicsEsports/SectionCharacteristicsEsports.vue";
import CardGamesSlider from "@/components/CardGameSlider/CardGamesSlider.vue";
import SectionHeading from "@/components/SectionHeading/SectionHeading.vue";
import CallToActionSection from "@/components/CallToActionSection/CallToActionSection.vue";
import SectionHomeGridNews from "@/components/SectionHomeGridNews/SectionHomeGridNews.vue";
import SectionBonusesEsport from "@/components/SectionBonusesEsport/SectionBonusesEsport.vue";
import SubtitleSections from "@/components/SubtitleSections/SubtitleSections.vue";
import CarouselPartners from "@/components/CarouselPartners/CarouselPartners.vue";
import SectionFaqHorseBetting from "@/components/SectionFAQHorseBetting/SectionFaqHorseBetting.vue";
import SectionCardLongEsports from "@/components/SectionCardLongEsports/SectionCardLongEsports.vue";
export default defineComponent({
  name: "Home",
  components: {
    MainHeader,
    SectionCharacteristicsEsports,
    CardGamesSlider,
    SectionHeading,
    CallToActionSection,
    SectionHomeGridNews,
    SectionBonusesEsport,
    SubtitleSections,
    CarouselPartners,
    SectionFaqHorseBetting,
    SectionCardLongEsports,
  },
  setup() {
      document.title = 'Esports Betting - Coinflip'
  },
  data() {
    return {
      items: [
        {
          title: "Over 1000 eSports",
          description: "The Chilling PvP Strategy Mayhem",
          thumbnail: {
            url: "images/demosimages/card-game-1.jpeg",
          },
        },
        {
          title: "Over 1000 eSports",
          description: "The Chilling PvP Strategy Mayhem",
          thumbnail: {
            url: "images/demosimages/card-game-2.jpeg",
          },
        },
        {
          title: "Over 1000 eSports",
          description: "The Chilling PvP Strategy Mayhem",
          thumbnail: {
            url: "images/demosimages/card-game-3.jpeg",
          },
        },
        {
          title: "Over 1000 eSports",
          description: "The Chilling PvP Strategy Mayhem",
          thumbnail: {
            url: "images/demosimages/card-game-4.jpeg",
          },
        },
        {
          title: "Over 1000 eSports",
          description: "The Chilling PvP Strategy Mayhem",
          thumbnail: {
            url: "images/demosimages/card-game-5.jpeg",
          },
        },
      ],
      partners: [
        "images/partners/client_1.png",
        "images/partners/client_02.png",
        "images/partners/client_3.png",
        "images/partners/client_4.png",
        "images/partners/client_5.png",
      ],
      elements: [
        {
          question: "Which Plan is good for me ?",
          answer:
            "Trends, vision dominates a lot of our subconscious interpretation of the world around us. On top it, pleasing images create better user experience.    ",
        },
        {
          question: "Do I have to commit to a program",
          answer:
            "Trends, vision dominates a lot of our subconscious interpretation of the world around us. On top it, pleasing images create better user experience.    ",
        },
        {
          question: "What Payment Methods are Available?",
          answer:
            "Trends, vision dominates a lot of our subconscious interpretation of the world around us. On top it, pleasing images create better user experience.    ",
        },
      ],
    };
  },
});
</script>

<style scoped>
.ant-layout-content {
  background-color: #1a1b1f !important;
}
.main-header,
.main-header > div:first-child {
  height: 700px;
  position: relative;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
:deep(.money-1) {
  display: none;
}
:deep(.money-2) {
  display: none;
}
:deep(.image-right) {
  display: none;
}
:deep(.main-header h1) {
  color: #ffffff;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
}
:deep(.main-header p) {
  color: #7f7f80;
  font-size: 18px;
}
:deep(.mh-content) {
  max-width: 600px;
}
:deep(.content-header) {
  display: flex;
  justify-content: center;
  text-align: center;
}
:deep(.mh-content .w-75) {
  width: 100% !important;
}
:deep(.mh-content .centerV) {
  display: flex;
  justify-content: center;
}
:deep(.mh-content .general-btn) {
  background-color: #5184d8 !important;
}
.container-characteristics,
.container-slider-cards,
.container-call-to-action,
.container-bonuses,
.section-faq,
.container-grid,
.container-partners,
.container-cards-long {
  margin-bottom: 120px;
}
:deep(.section-heading) {
  margin-bottom: 55px;
}
:deep(.section-heading .section-title) {
  color: #ffff;
}
:deep(.casinos-title) {
  margin-bottom: 55px;
}
:deep(.heading-section::after) {
  background-color: #5689de !important;
}

:deep(.container-grid .main-new .content) {
  background-color: #292b33 !important;
}
:deep(.container-grid .date) {
  color: #ffff;
}
:deep(.container-grid .title a) {
  color: #ffff;
}
:deep(.container-grid .description) {
  color: #ffff;
}
:deep(.container-grid .author-details p) {
  color: #ffff;
}
:deep(.container-grid .author-details a) {
  color: #ffff;
}
@media (max-width: 768px) {
  .container-characteristics,
  .container-cards-long {
    display: none;
  }
  :deep(.container-call-to-action .content) {
    max-width: 100% !important;
  }
  :deep(.bonus-card) {
    width: 100%;
    margin-bottom: 25px;
  }
}
</style>
