<template>
  <loading-page-anim :loading="loading && sectionLoading && loadingFaq"></loading-page-anim>

  <a-layout>
    <a-layout-content>
      <div class="header" v-if="!loading">
        <!-- MainHeader -->
        <div class="position-relative main-header">
          <main-header
            class="my-auto"
            :title="header.title"
            :subtitle="header.subtitle"
            :description="header.description"
            :secondaryText="header.email"
            :href="header.button.href"
            :buttonName="header.button.name"
          ></main-header>
        </div>
      </div>
      <!-- Section Characteristics -->
      <div class="container container-characteristics">
        <SectionHomeCharacteristics />
      </div>
      <!-- Section Casinos -->
      <div
        class="container-casinos"
        :style="{
          'background-image':
            'url(' +
            require('../assets/images/background/bg_casinos.jpeg') +
            ')',
        }"
      >
        <div class="container">
          <SectionHomeCasino />
        </div>
      </div>
      <!-- Section Slots -->
      <div class="container container-slots">
        <SectionHomeSlots />
      </div>
      <!-- Section With Image -->
      <div class="fluid-container hide-on-mobile" v-if="!sectionLoading">
        <SectionWithImage
          class="special-container"
          :thumbnail="section.thumbnail"
        >
          <Jumbotron
            :title="section.title"
            :subtitle="section.subtitle"
            :description="section.description"
            :buttonName="section.buttonName"
            :href="'contact'"
          />
        </SectionWithImage>
      </div>
      <!-- SectionFAQ -->
      <div class="fluid-container hide-on-mobile" v-if="!loadingFaq">
        <SectionWithImage
          class="special-container"
          :thumbnail="faq.thumbnail"
          :rtl="true"
        >
          <FAQ :items="faq.faqList"> </FAQ>
        </SectionWithImage>
      </div>
      <!-- Section Bonuses -->
<!--      <div-->
<!--        class="container-bonuses"-->
<!--        :style="{-->
<!--          'background-image':-->
<!--            'url(' +-->
<!--            require('../assets/images/background/bg_bonuses.jpeg') +-->
<!--            ')',-->
<!--        }"-->
<!--      >-->
<!--        <div class="container">-->
<!--          <SectionHomeBonuses />-->
<!--        </div>-->
<!--      </div>-->
      <!-- Section News -->
      <div class="container-news">
        <div class="container">
          <SectionHomeNews />
        </div>
      </div>
      <!-- Section New Online Casinos -->
      <div class="container-new-casinos">
        <div class="container">
          <SectionNewOnlineCasinos />
        </div>
      </div>
      <!-- Section News Grid -->
<!--      <div class="container-news-grid">-->
<!--        <div class="container">-->
<!--          <SectionHomeGridNews />-->
<!--        </div>-->
<!--      </div>-->
      <!-- TestimoniSlider -->
      <div
        class="container-testimonials"
        :style="{
          'background-image':
            'url(' +
            require('../assets/images/background/bg_testimonials.jpeg') +
            ')',
        }"
      >
        <div class="container" v-if="!loadingTestimonial">
          <testimonial-slider :items="testimonial.testimonials" />
        </div>
      </div>
      <!-- Section Home Info -->
<!--      <div-->
<!--        class="container-info"-->
<!--        :style="{-->
<!--          'background-image':-->
<!--            'url(' +-->
<!--            require('../assets/images/background/contact_cover.jpg') +-->
<!--            ')',-->
<!--        }"-->
<!--      >-->
<!--        <div class="container">-->
<!--          <SectionHomeInfo class="info-cards" />-->
<!--        </div>-->
<!--      </div>-->
      <!-- CarouselSlider -->
<!--      <div class="container container-partners" v-if="!carouselLoading">-->
<!--        <carousel-partners :items="getUrl" />-->
<!--      </div>-->
    </a-layout-content>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import MainHeader from "../components/MainHeader/MainHeader.vue";
import LoadingPageAnim from "../components/LoadingPageAnim.vue";
import fetchHomeHeader from "../misc/composition/fetchHomeHeader";
import fetchCarouselPartners from "../misc/composition/fetchCarouselPartners";
import fetchTestimonialSlider from "../misc/composition/fetchTestimonialSlider";
// import CarouselPartners from "../components/CarouselPartners/CarouselPartners.vue";
import TestimonialSlider from "../components/TestimonialSlider/TestimonialSlider.vue";
import SectionHomeCharacteristics from "../components/SectionHomeCharacteristics/SectionHomeCharacteristics.vue";
import SectionHomeCasino from "../components/SectionHomeCasinos/SectionHomeCasino.vue";
import SectionHomeSlots from "../components/SectionHomeSlots/SectionHomeSlots.vue";
import SectionWithImage from "../components/SectionWithImage/SectionWithImage.vue";
// import SectionHomeBonuses from "../components/SectionHomeBonuses/SectionHomeBonuses.vue";
import SectionHomeNews from "../components/SectionHomeNews/SectionHomeNews.vue";
import SectionNewOnlineCasinos from "../components/SectionNewOnlineCasinos/SectionNewOnlineCasinos.vue";
// import SectionHomeGridNews from "../components/SectionHomeGridNews/SectionHomeGridNews.vue";
// import SectionHomeInfo from "../components/SectionHomeInfo/SectionHomeInfo.vue";
import Jumbotron from "../components/Jumbotron/Jumbotron.vue";
import fetchSectionWithImage from "../misc/composition/fetchHomSectionWithImage";
import FAQ from "../components/FAQ/FAQ.vue";
import fetchHomeFAQ from "../misc/composition/fetchHomeFAQ";

export default defineComponent({
  name: "Home",
  components: {
    MainHeader,
    TestimonialSlider,
    SectionHomeCharacteristics,
    SectionHomeCasino,
    SectionHomeSlots,
    SectionWithImage,
    SectionHomeNews,
    SectionNewOnlineCasinos,
    Jumbotron,
    FAQ,
    LoadingPageAnim,
  },
  setup() {
    //
    const { header, loading } = fetchHomeHeader();
    const { section, loading: sectionLoading } = fetchSectionWithImage();
    const {
      carousel,
      loading: carouselLoading,
      getUrl,
    } = fetchCarouselPartners();
    const {
      testimonial,
      loading: loadingTestimonial,
    } = fetchTestimonialSlider();
    document.title = "Home - Coinflip";

    const { faq, loading: loadingFaq } = fetchHomeFAQ();

    return {
      fetchHomeHeader,
      testimonial,
      loadingTestimonial,
      carousel,
      loading,
      header,
      carouselLoading,
      getUrl,
      section,
      sectionLoading,
      faq,
      loadingFaq,
    };
  },
});
</script>

<style scoped="scoped">
:deep(.card .tandc) {
  font-size: 15px;
  color: #151515;
  width: 100%;
}

.container-news {
  background-color: #f9f9f9;
  padding: 120px;
}
/* Section News Grid */
.container-news-grid {
  background-color: #f9f9f9;
  padding: 120px;
}

.main-header,
.main-header > div:first-child {
  height: 700px;
}

@media only screen and (max-width: 767px) {
  .main-header,
  .main-header > div:first-child {
    height: 500px;
  }
  .container-casinos,
  .container-bonuses .container-testimonials .container-info .container-casinos,
  .container-partners,
  .container-characteristics .container-new-casinos,
  .container-news,
  .container-news-grid {
    padding-left: 0;
    padding-right: 0;
  }

  .container-info {
    background-size: 100% 40% !important;
  }
}
@media (min-width: 1700px) {
  :deep(.special-container  .container) {
    max-width: 1600px;
  }
}
.container-casinos,
.container-bonuses,
.container-news {
  padding-top: 115px;
  padding-bottom: 110px;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-testimonials {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}
.container-info {
  padding-top: 90px;
  background-repeat: no-repeat;
  background-size: 100% 75%;
}
.container-casinos,
.container-partners,
.container-characteristics {
  margin-top: 70px;
  margin-bottom: 70px;
}
.container-slots {
  margin-top: 105px;
  margin-bottom: 110px;
}
.container-new-casinos {
  background-color: #ffff;
  padding: 120px 0;
}
</style>
