<template>
  <div>
    <HeroLandingPage
      title="Casino Landing Page"
      description="This is a sample external page for after you click the button links on the website custom post types (casino, games, etc.)"
      purchase-link="https://modeltheme.com/go/purchase-coinflip-theme/"
      youtubeLink="//www.youtube.com/embed/_GhNZrBbWfQ?autoplay=1"
    />
    <!-- Section With Image -->
    <div class="fluid-container" v-if="!sectionLoading">
      <SectionWithImage
        class="special-container"
        :thumbnail="section.thumbnail"
      >
        <Jumbotron
          :title="section.title"
          :subtitle="section.subtitle"
          :description="section.description"
          :buttonName="section.buttonName"
          :href="'contact'"
        />
      </SectionWithImage>
    </div>
    <!-- SectionFAQ -->
    <div class="fluid-container" v-if="!loadingFaq">
      <SectionWithImage
        class="special-container"
        :thumbnail="faq.thumbnail"
        :rtl="true"
      >
        <FAQ :items="faq.faqList"> </FAQ>
      </SectionWithImage>
    </div>
    <!-- Section Bonuses -->
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import HeroLandingPage from "@/components/HeroLandingPage/HeroLandingPage.vue";
import fetchSectionWithImage from "../misc/composition/fetchHomSectionWithImage";
import FAQ from "../components/FAQ/FAQ.vue";
import fetchHomeFAQ from "../misc/composition/fetchHomeFAQ";
import SectionWithImage from "../components/SectionWithImage/SectionWithImage.vue"
import Jumbotron from "@/components/Jumbotron/Jumbotron.vue";

export default defineComponent({
  components: { HeroLandingPage, FAQ, SectionWithImage, Jumbotron },
  setup() {
    const { section, loading: sectionLoading } = fetchSectionWithImage();
    const { faq, loading: loadingFaq } = fetchHomeFAQ();
    document.title = "Casino Landing - Coinflip";

    return {section, sectionLoading, faq, loadingFaq};
  },
});
</script>
