<template>
  <a-layout>
    <a-layout-content>
      <!-- Section Slider News -->
      <div class="fluid-container container-slider-news">
        <div class="container text-start">
          <SliderNewsCards />
        </div>
      </div>
      <!-- Section News Grid -->
      <div class="container-news-grid">
        <div class="container">
          <SectionHomeGridNews />
        </div>
      </div>
      <!-- Section News Card -->
      <div class="container container-news">
        <SectionHomeNews />
      </div>
      <div class="container container-blog-mini">
        <SectionHeading
          class="section-heading"
          title="Gambling Tips & Tricks"
          subtitle="Just Flip a Coin"
          description="At Modeltheme, we show only the best websites and portfolios builtcompletely with passion, simplicity & creativity!"
        />
        <SectionBlogMini />
      </div>
      <div class="container-tips">
        <div class="container">
          <SectionHeading
            class="section-heading"
            title="Reviews For Bookmakers"
            subtitle="Just Flip a Coin"
            description="At Modeltheme, we show only the best websites and portfolios builtcompletely with passion, simplicity & creativity!"
          />
          <SectionTips />
        </div>
      </div>
    </a-layout-content>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import SectionHomeGridNews from "../components/SectionHomeGridNews/SectionHomeGridNews.vue";
import SectionHomeNews from "../components/SectionHomeNews/SectionHomeNews.vue";
import SectionTips from "@/components/SectionTips/SectionTips.vue";
import SectionHeading from "@/components/SectionHeading/SectionHeading.vue";
import SectionBlogMini from "@/components/SectionBlogMini/SectionBlogMini.vue";
import SliderNewsCards from "@/components/SliderNewsCards/SliderNewsCards.vue";
export default defineComponent({
  name: "Home",
  components: {
    SectionHomeGridNews,
    SectionHomeNews,
    SectionTips,
    SectionHeading,
    SectionBlogMini,
    SliderNewsCards,
  },
  setup() {
    document.title = "Home Blogging - Coinflip";
  },
});
</script>

<style scoped>
:deep(.container-blog.mini > .section-heading) {
  margin-bottom: 20px !important;
}
.container-blog-mini,
.container-news,
.container-news-grid,
.container-tips,
.container-slider-news {
  margin-bottom: 120px;
}
.container-slider-news {
  background-color: #ebe9eb;
  padding: 40px 40px;
}
:deep(.container-blog-mini .section-heading) {
  margin-bottom: 55px;
}
:deep(.container-tips .section-heading) {
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  :deep(.container-blog-mini .ant-row) {
    justify-content: center;
  }
}
</style>
