<template>
  <a-layout>
    <a-layout-content>
      <!-- Header -->
      <div
        class="position-relative main-header"
        :style="{
          'background-image':
            'url(' +
            require('../assets/images/demosimages/home-horse-betting-bg.jpeg') +
            ')',
        }"
      >
        <main-header
          class="content-header"
          title="ONLINE HORSE BETS"
          description="Nullam turpis lorem, feugiat in augue ac, aliquam vestibulum augue. Nunc rutrum lacinia vestibulum. Integer urna elit."
          href="header.button.href"
          buttonName="All Games"
        ></main-header>
      </div>
      <!-- Section Table -->
      <div class="container container-table">
        <SectionHeading
          class="section-heading"
          title="Gambling Tips & Tricks"
          subtitle="Just Flip a Coin"
          description="At Modeltheme, we show only the best websites and portfolios builtcompletely with passion, simplicity & creativity!"
        />
        <div class="" v-if="!loading">
          <Bookmakers :items="bookmaker.slice(0, 4)" />
        </div>
      </div>
      <!-- Section Wit Image -->
      <div class="fluid-container section-with-image-on hide-on-mobile">
        <SectionWithImage
          class="special-container"
          :thumbnail="{
            url: 'images/demosimages/section-with-image-horse.jpeg',
          }"
        >
          <Jumbotron
            title="Looking to get into the exciting world of online poker?"
            subtitle="Just flip a Coin"
            description="Dress with crossover V-neckline with ruffled trims. Features long sleeves with ruffled trims, elastic cuffs, a cinched waist and a ruffled hem lorem ipsum dolor sid amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore."
            buttonName="Read More"
            href="contact"
          />
        </SectionWithImage>
      </div>
      <!-- Section Bonuses -->
      <div class="container container-bonuses">
        <SectionHeading
          class="section-heading"
          title="Top Bonuses By Popularity"
          subtitle="Just Flip a Coin"
          description="At Modeltheme, we show only the best websites and portfolios builtcompletely with passion, simplicity & creativity!"
        />
        <SectionbonusesByPopularity />
      </div>
      <!-- Section FAQ -->
      <div class="fluid-container container-faq hide-on-mobile" v-if="!loadingFaq">
        <SectionFaqHorseBetting
         :thumbnail="{url:'images/demosimages/section-with-image-horse.jpeg'}"
         :faq="faq.faqList" />
      </div>
      <!-- Section News Grid -->
      <div class="container container-news-grid">
        <SectionHomeGridNews />
      </div>
      <!-- PopupVideo -->
      <div class="fluid-container">
        <VideoPopup
          youtubeLink="//www.youtube.com/embed/Ue5ght7izjc?autoplay=1"
        />
      </div>
    </a-layout-content>
  </a-layout>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";

import fetchHomeFAQ from "../misc/composition/fetchHomeFAQ";
import MainHeader from "../components/MainHeader/MainHeader.vue";
import SectionHeading from "@/components/SectionHeading/SectionHeading.vue";
import Jumbotron from "@/components/Jumbotron/Jumbotron.vue";
import SectionWithImage from "@/components/SectionWithImage/SectionWithImage.vue";
import SectionHomeGridNews from "../components/SectionHomeGridNews/SectionHomeGridNews.vue";
import SectionbonusesByPopularity from "@/components/SectionbonusesByPopularity/SectionbonusesByPopularity.vue";
import VideoPopup from "@/components/VideoPopup/VideoPopup.vue";
import SectionFaqHorseBetting from "@/components/SectionFAQHorseBetting/SectionFaqHorseBetting.vue";
import fetchBookmaker from "../misc/composition/fetchBookmakersTable";

import { FAQitem } from "@/types";
import Bookmakers from "@/components/Bookmakers/Bookmakers.vue";
export default defineComponent({
  name: "Home",
  components: {
    MainHeader,
    SectionHeading,
    Jumbotron,
    SectionWithImage,
    SectionbonusesByPopularity,
    SectionHomeGridNews,
    VideoPopup,
    Bookmakers,
    SectionFaqHorseBetting,
  },
  props: {
    items: {
      type: Object as PropType<FAQitem[]>,
      required: true,
    },
  },
  setup() {
    document.title = "Horse Betting - Coinflip";
    const { bookmaker, loading } = fetchBookmaker();
    const { faq, loading: loadingFaq } = fetchHomeFAQ();
    return { faq, loadingFaq, bookmaker, loading };
  },
});
</script>

<style scoped>
.main-header,
.main-header > div:first-child {
  height: 700px;
  position: relative;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.container-table,
.section-with-image-one,
.container-bonuses,
.container-faq,
.container-news-grid {
  margin-bottom: 120px;
}
.container-table {
  margin-top: 120px;
}
:deep(.money-1) {
  display: none;
}
:deep(.money-2) {
  display: none;
}
:deep(.image-right) {
  display: none;
}
:deep(.main-header h1) {
  color: #ffff;
  font-size: 40px;
  line-height: 150%;
  font-weight: 500;
}
:deep(.main-header p) {
  color: #ffff;
}
:deep(.mh-content) {
  max-width: 600px;
}
:deep(.content-header) {
  display: flex;
  justify-content: center;
  text-align: center;
}
:deep(.mh-content .w-75) {
  width: 100% !important;
}
:deep(.container-bonuses .section-heading) {
  margin-bottom: 55px;
}
:deep(.mh-content .centerV) {
  display: flex;
  justify-content: center;
}
:deep(.ant-collapse-header){
  background-color: #ffff !important;
  color:#151515!important;
}
:deep(.faq-section-title){
  display:none;
}
:deep(.ant-collapse-content-box){
    background-color: #ffff !important;
}
:deep(.side-one){
    background-color: #f8f9fa!important;
}
:deep(.side-two){
    background-color: #ffff!important;
}
</style>
