<template>
  <a-layout>
    <a-layout-content>
      <div class="header" v-if="!loading">
        <!-- MainHeader -->
        <div
          class="position-relative main-header"
          :style="{
            'background-image':
              'url(' +
              require('../assets/images/demosimages/Home-Bookmakers-BG.jpeg') +
              ')',
          }"
        >
          <main-header
            class="content-header"
            title="Get a revenue from your casino by joining Coinflip"
            description="Nullam turpis lorem, feugiat in augue ac, aliquam vestibulum augue. Nunc rutrum lacinia vestibulum. Integer urna elit."
            href="header.button.href"
            buttonName="Join Coinflip"
          >
          </main-header>
        </div>
      </div>
      <!-- Section Slots -->
      <div class="container container-slots position-relative">
        <div class="container-slots-game">
          <SectionHomeSlots />
        </div>
      </div>
      <!-- Section Articles -->
      <div class="container container-articles">
        <SubtitleSections
          class="news-title"
          title="Sport Betting Articles"
          subtitle="At Coinflip, we show only the best casinos."
        />
        <SectionArticles />
      </div>
      <!-- Section Latest Casinos -->
      <div
        class="section w-100 latest-casinos"
        :style="{
          'background-image':
            'url(' +
            require('../assets/images/demosimages/background-latest-casinos.jpeg') +
            ')',
        }"
      >
        <div class="container">
          <SubtitleSections
            class="casinos-title"
            title="Latest Casinos"
            subtitle="At Coinflip, we show only the best casinos"
          />
          <SectionNewOnlineCasinos />
        </div>
      </div>
      <!-- Section News Grid -->
      <div class="section-news container d-flex flex-column position-relative">
        <SubtitleSections
          class="news-title"
          title="Sport Betting Articles"
          subtitle="At Coinflip, we show only the best casinos."
        />
        <div class="container-news-grid">
          <div class="container">
            <SectionHomeGridNews />
          </div>
        </div>
      </div>
      <!-- Section Bonuses -->
      <div
        class="container-bonuses"
        :style="{
          'background-image':
            'url(' +
            require('../assets/images/demosimages/background-latest-casinos.jpeg') +
            ')',
        }"
      >
        <div class="container">
          <SubtitleSections
            class="casinos-title"
            title="Latest Casinos"
            subtitle="At Coinflip, we show only the best casinos"
          />
          <SectionHomeBonuses />
        </div>
      </div>
      <!-- Section Table -->
      <div class="container-table">
        <div class="container">
          <SubtitleSections
            class="casinos-title"
            title="Bookmakers By Coinflip"
            subtitle="At Coinflip, we show only the best casinos"
          />
          <Bookmakers :items="bookmaker.slice(0, 5)" />
        </div>
      </div>
      <!-- Section Game Tips -->
      <div
        class="container-tips"
        :style="{
          'background-image':
            'url(' +
            require('../assets/images/demosimages/background-latest-casinos.jpeg') +
            ')',
        }"
      >
        <div class="container">
          <SubtitleSections
            class="news-title"
            title="Extra Game Tips"
            subtitle="At Coinflip, we show only the best casinos."
          />
          <SectionTips />
        </div>
      </div>
    </a-layout-content>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import SectionHomeSlots from "../components/SectionHomeSlots/SectionHomeSlots.vue";
import fetchHomeHeader from "../misc/composition/fetchHomeHeader";
import MainHeader from "../components/MainHeader/MainHeader.vue";
import SubtitleSections from "../components/SubtitleSections/SubtitleSections.vue";
import SectionHomeGridNews from "../components/SectionHomeGridNews/SectionHomeGridNews.vue";
import SectionArticles from "@/components/SectionArticles/SectionArticles.vue";
import SectionNewOnlineCasinos from "@/components/SectionNewOnlineCasinos/SectionNewOnlineCasinos.vue";
import SectionHomeBonuses from "@/components/SectionHomeBonuses/SectionHomeBonuses.vue";
import SectionTips from "@/components/SectionTips/SectionTips.vue";
import Bookmakers from "@/components/Bookmakers/Bookmakers.vue";
import fetchBookmaker from "../misc/composition/fetchBookmakersTable";
export default defineComponent({
  name: "Home",
  components: {
    SectionHomeSlots,
    MainHeader,
    SectionHomeGridNews,
    SubtitleSections,
    SectionArticles,
    SectionNewOnlineCasinos,
    SectionHomeBonuses,
    SectionTips,
    Bookmakers,
  },
  setup() {
    document.title = "Home Bookmakers - Coinflip";

    const { header, loading } = fetchHomeHeader();
    const { bookmaker, loading: bookmakerloading } = fetchBookmaker();
    return { fetchHomeHeader, loading, header, bookmaker, bookmakerloading };
  },
});
</script>

<style scoped>
.main-header,
.main-header > div:first-child {
  height: 700px;
  position: relative;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
:deep(.section-news .big-col) {
  padding-left: 0px !important;
}

:deep(.section-news .small-col) {
  padding-right: 0px !important;
}
:deep(.money-1) {
  display: none;
}
:deep(.money-2) {
  display: none;
}
:deep(.image-right) {
  display: none;
}
:deep(.main-header h1) {
  color: #ffff;
  font-size: 40px;
  line-height: 150%;
  font-weight: 500;
}
:deep(.main-header p) {
  color: #ffff;
}
:deep(.mh-content) {
  max-width: 600px;
}
:deep(.container-slots-game .section-heading) {
  display: none !important;
}
:deep(.container-slots-game) {
  position: relative;
  top: -60%;
  left: 0;
}
.container-slots {
  height: 100px;
}
:deep(.container-news-grid .section-heading) {
  display: none !important;
}
.casinos-title,
.news-title {
  margin-bottom: 20px;
  justify-content: space-between !important;
}
:deep(.latest-casinos .section-heading) {
  display: none !important;
}
.latest-casinos {
  padding: 100px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-bonuses,
.container-tips {
  padding: 100px 50px;
}
:deep(.container-bonuses .section-heading) {
  display: none !important;
}
:deep(.rewards) {
  display: none !important;
}
.container-articles {
  margin-top: 90px;
  margin-bottom: 50px;
}
.container-bonuses {
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-tips {
  margin-top: 50px;
}
:deep(.small-col) {
  padding-left: 0 !important;
}
:deep(.subtitle-section .title) {
  color: #ffff !important;
}
:deep(.subtitle-section .subtitle) {
  color: #ffff !important;
}
:deep(.subtitle-section .ant-btn) {
  background-color: transparent;
  color: #ffff;
}

/* Subtitle section style / Container Articles */
:deep(.container-articles .subtitle-section .title) {
  color: #151515 !important;
}
:deep(.container-articles .subtitle-section .subtitle) {
  color: #151515 !important;
}
:deep(.container-articles .subtitle-section .ant-btn) {
  background-color: transparent;
  color: #686868;
}

/* Subtitle section style / Container Table */
:deep(.container-table .subtitle-section .title) {
  color: #151515 !important;
}
:deep(.container-table .subtitle-section .subtitle) {
  color: #151515 !important;
}
:deep(.container-table .subtitle-section .ant-btn) {
  background-color: transparent;
  color: #686868;
}

/* Subtitle section style / Container Table */
:deep(.section-news .subtitle-section .title) {
  color: #151515 !important;
}
:deep(.section-news .subtitle-section .subtitle) {
  color: #151515 !important;
}
:deep(.section-news .subtitle-section .ant-btn) {
  background-color: transparent;
  color: #686868;
}
:deep(.container-table .title) {
  color: #151515;
}
:deep(.container-table .button) {
  color: #151515;
}

:deep(.section-news .title) {
  color: #151515;
}
:deep(.section-news .button) {
  color: #151515;
}

:deep(.container-articles .title) {
  color: #151515;
}
:deep(.container-articles .button) {
  color: #151515;
}
@media (max-width: 768px) {
  .content-header {
    text-align: start !important;
  }
  :deep(.mh-content .centerV) {
    justify-content: start !important;
  }
  :deep(.mh-content) {
    align-items: start;
    padding-left: 10px;
  }
  :deep(.subtitle-section .title) {
    font-size: 26px;
  }
  :deep(.subtitle-section .subtitle) {
    display: none;
  }
  :deep(.subtitle-section .button) {
    display: none;
  }
  :deep(.container-slots-game) {
    position: relative;
    top: 0;
    left: 0;
  }

  :deep(.container-bonuses .card) {
    margin-bottom: 20px;
  }
  .latest-casinos {
    padding: 40px 0;
  }
  .container-slots {
    height: 100%;
  }
  .container-articles {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .container-bonuses {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px 10px;
  }
  .container-tips {
    margin-top: 40px;
    padding: 40px 10px;
  }
  :deep(.container-bonuses .ant-row) {
    display: block !important;
  }
  :deep(.container-bonuses .card) {
    margin-bottom: 20px;
  }
}
</style>
