<template>
  <loading-page-anim
    :loading="loading && sectionLoading && loadingFaq"
  ></loading-page-anim>

  <a-layout>
    <a-layout-content>
      <div class="header" v-if="!loading">
        <!-- MainHeader -->
        <div class="position-relative main-header">
          <main-header
            class="my-auto main-header"
            subtitle="ENTER VIDEO POKER"
            :description="header.description"
            :href="header.button.href"
            buttonName="ALL GAMES"
            :hideImages="true"
          ></main-header>
        </div>
      </div>

      <div
        class="container-bonuses"
        :style="{
          'background-image':
            'url(' +
            require('../assets/images/background/bg_bonuses.jpeg') +
            ')',
        }"
      >
        <div class="container">
          <SectionHomeBonuses>
            <SectionHeading
              class="section-heading"
              title="Best Poker Bonuses"
              subtitle="Just flip a Coin"
              description="At Modeltheme, we show only the best websites and portfolios built completelywith passion, simplicity & creativity !"
            />
          </SectionHomeBonuses>
        </div>
      </div>

      <!-- Section With Image -->
      <div class="fluid-container hide-on-mobile" v-if="!sectionLoading">
        <SectionWithImage
          class="special-container"
          :thumbnail="{
            url:
              'https://coinflip.modeltheme.com/wp-content/uploads/2020/10/Coinflip-Poker_right.jpg',
          }"
        >
          <Jumbotron
            :title="section.title"
            :subtitle="section.subtitle"
            :description="section.description"
            :buttonName="section.buttonName"
            :href="'contact'"
          />
        </SectionWithImage>
      </div>
      <!-- SectionFAQ -->
      <div class="fluid-container hide-on-mobile" v-if="!loadingFaq">
        <SectionWithImage
          class="special-container"
          :thumbnail="{
            url:
              'https://coinflip.modeltheme.com/wp-content/uploads/2020/10/Coinflip-Poker_left.jpg',
          }"
          :rtl="true"
        >
          <FAQ :items="faq.faqList"> </FAQ>
        </SectionWithImage>
      </div>
      <VideoPopup
        youtubeLink="//www.youtube.com/embed/Ue5ght7izjc?autoplay=1"
      />
      <!-- Section Casinos -->
      <div class="container-casinos m-0">
        <div class="container">
          <div v-if="!titleLoading">
            <div class="section-title">
              <SectionHeading
                class="section-heading"
                title="Top Casinos By Popularity"
                :subtitle="titles.section[0].subtitle"
                :description="titles.section[0].description"
              />
            </div>
          </div>
          <div v-if="!casinosLoading">
            <a-row justify="center" type="flex" :gutter="[30, 30]">
              <a-col :xl="6" :xs="24" v-for="(item, i) in casinos" :key="item">
                <CardCasinoOffer
                  class="card-casino"
                  :thumbnail="item.thumbnail"
                  :title="item.title"
                  :description="item.description"
                  :badge="{
                    positionNo: i + 1,
                    type: 'default',
                  }"
                  :rating="
                    item.review === null ? 0 : fCalcRating(item.review.rating)
                  "
                  :href="{
                    name: 'Casino',
                    params: {
                      slug: item.slug,
                    },
                  }"
                  :offer="item.termsAndConditions"
                  :reward="item.excerpt"
                />
              </a-col>
            </a-row>
          </div>
        </div>
      </div>

      <!-- Section News -->
      <div
        class="container-news"
        style="
          background-image: url(https://coinflip.modeltheme.com/wp-content/uploads/2020/04/recommended-bonus-scaled.jpg?id=48283) !important;
        "
      >
        <div class="container">
          <SubtitleSections
            class="subtitle text-start"
            title="Gambling News"
            subtitle="At Coinflip, we show only the best casinos."
            href="/"
          />
          <a-row
            v-if="!loadingNews"
            justify="center"
            type="flex"
            :gutter="[25, 25]"
          >
            <a-col :xl="8" :xs="24" v-for="item in latestNews" :key="item">
              <CardNews
                class="card-news mb-1 mb-md-0"
                :title="item.title"
                :thumbnail="item.thumbnail"
                :description="item.description"
                :author="{ name: 'Trader Marcus', href: '/' }"
                :href="{
                  name: 'Blog',
                  params: {
                    slug: item.slug,
                  },
                }"
              />
            </a-col>
          </a-row>
        </div>
      </div>
      <div class="container-casinos m-0 hide-on-mobile">
        <div class="container">
          <CasinoCardLong
            v-for="item in bookmakers"
            :key="item"
            v-bind="item"
          ></CasinoCardLong>
        </div>
      </div>
    </a-layout-content>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent, Ref } from "vue";
import MainHeader from "../components/MainHeader/MainHeader.vue";
import LoadingPageAnim from "../components/LoadingPageAnim.vue";
import fetchHomeHeader from "../misc/composition/fetchHomeHeader";
import SectionWithImage from "../components/SectionWithImage/SectionWithImage.vue";
import SectionHomeBonuses from "../components/SectionHomeBonuses/SectionHomeBonuses.vue";
import Jumbotron from "../components/Jumbotron/Jumbotron.vue";
import fetchSectionWithImage from "../misc/composition/fetchHomSectionWithImage";
import FAQ from "../components/FAQ/FAQ.vue";
import fetchHomeFAQ from "../misc/composition/fetchHomeFAQ";
import SectionHeading from "../components/SectionHeading/SectionHeading.vue";
import VideoPopup from "@/components/VideoPopup/VideoPopup.vue";
import CardCasinoOffer from "../components/CardCasinoOffer/CardCasinoOffer.vue";
import fetchHomeTitles from "../misc/composition/fetchHomeSectionTitles";
import fetchHomeCasinoByID from "../misc/composition/fetchHomeCasinoByID";
import casinoHelpers from "../misc/composition/casinoHelpers";
import { Casino } from "@/types";
import CardNews from "../components/CardNews/CardNews.vue";
import fetchLatestNews from "../misc/composition/fetchLatestNews";
import SubtitleSections from "@/components/SubtitleSections/SubtitleSections.vue";
import CasinoCardLong from "@/components/CasinoCardLong/CasinoCardLong.vue";

export default defineComponent({
  name: "Home",
  components: {
    MainHeader,
    SectionWithImage,
    SectionHomeBonuses,
    CardNews,
    SectionHeading,
    Jumbotron,
    FAQ,
    LoadingPageAnim,
    VideoPopup,
    CardCasinoOffer,
    SubtitleSections,
    CasinoCardLong,
  },
  setup() {
    const { header, loading } = fetchHomeHeader();
    const { section, loading: sectionLoading } = fetchSectionWithImage();
    document.title = "Home Video Poker - Coinflip";

    const { faq, loading: loadingFaq } = fetchHomeFAQ();
    const { casinos, loading: casinosLoading } = fetchHomeCasinoByID();
    const { titles, loading: titleLoading } = fetchHomeTitles();
    const { fCalcRating } = casinoHelpers({} as Ref<Casino>);
    const { latestNews, loading: loadingNews } = fetchLatestNews();

    return {
      latestNews,
      loadingNews,
      casinos,
      loading,
      titleLoading,
      titles,
      fCalcRating,
      casinosLoading,
      header,
      section,
      sectionLoading,
      faq,
      loadingFaq,
    };
  },
  data() {
    return {
      bookmakers: [
        {
          id: 2,
          title: "Bet243",
          excerpt: "New customer offer. Exchange bets excluded.",
          about:
            "About Bookmaker\nLeverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.\n\nBring to the table win-win survival strategies to ensure proactive domination.\nCapitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.Podcasting operational change management inside of workflows to establish a framework.\n\nTaking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.",
          type: "certified",
          likes: 3,
          referralLink: "https://modeltheme.com/go/coinflip/",
          active: true,
          slug: "Bet243",
          review: null,
          published_at: "2021-10-08T12:20:52.025Z",
          created_at: "2021-10-08T12:09:34.216Z",
          updated_at: "2021-11-01T07:49:44.253Z",
          termsAndConditions: "New customer offer. Exchange bets excluded.",
          newaccountoffer: "up to $200  Equal bonus with deposit",
          offerValue: "up to $200",
          offerInfo: "Equal bonus with deposit",
          casinos: [
            {
              thumbnail: {
                url: "images/casino-logos/cat_casino4.jpg",
              },
            },
            {
              thumbnail: {
                url: "images/games/esport-betting-slot3.jpg",
              },
            },
          ],
          rating: 3,
          experiences: [
            {
              id: 149,
              pros: "Unlimited withdraw limits",
              cons: "A number of restricted countries",
            },
            {
              id: 150,
              pros: "Multiple withdraw methods",
              cons: "Slow connection sometimes",
            },
            {
              id: 151,
              pros: "Live chat open 24/7",
              cons: "Long withdraw time",
            },
            {
              id: 152,
              pros: "Mobile-friendly design",
              cons: "Some bugs",
            },
          ],
          socials: [],
          acceptedCountries: [
            {
              id: 96,
              text: "RO",
            },
          ],
          tags: {
            id: 2,
            paymentMethods: [
              {
                id: 10,
                name: "ATM",
                slug: "atm",
                created_at: "2021-10-12T12:50:48.086Z",
                updated_at: "2021-10-12T12:50:48.090Z",
              },
              {
                id: 9,
                name: "Payeer",
                slug: "payeer",
                created_at: "2021-10-12T12:50:41.505Z",
                updated_at: "2021-10-12T12:50:41.510Z",
              },
            ],
            currencies: [
              {
                id: 3,
                name: "EURO",
                code: "EUR",
                slug: "eur",
                created_at: "2021-10-12T12:43:39.667Z",
                updated_at: "2021-10-12T12:43:39.670Z",
              },
              {
                id: 4,
                name: "Canadian Dollar",
                code: "CAD",
                slug: "cad",
                created_at: "2021-10-12T12:43:56.025Z",
                updated_at: "2021-10-12T12:43:56.028Z",
              },
            ],
            languages: [
              {
                id: 2,
                name: "English",
                code: "EN",
                slug: "english",
                created_at: "2021-10-12T12:38:05.543Z",
                updated_at: "2021-10-12T12:38:05.548Z",
              },
              {
                id: 6,
                name: "Italian",
                code: "IT",
                slug: "italian",
                created_at: "2021-10-12T12:39:06.327Z",
                updated_at: "2021-10-12T12:39:06.330Z",
              },
            ],
            licences: [
              {
                id: 7,
                name: "Tortor",
                slug: "tortor",
                created_at: "2021-10-12T12:48:28.833Z",
                updated_at: "2021-10-12T12:48:28.836Z",
              },
            ],
            restrictedCountries: [
              {
                id: 6,
                name: "Colombia",
                slug: "colombia",
                code: "CO",
                created_at: "2021-10-12T13:30:03.330Z",
                updated_at: "2021-10-12T13:30:03.336Z",
              },
            ],
            softwares: [],
            categories: [],
          },
          features: [
            {
              id: 440,
              text: "Excepteur sint occaecat cupidatat",
            },
            {
              id: 442,
              text: "Duis aute irure dolor",
            },
            {
              id: 443,
              text: "Lorem ipsum dolor sit amet, consectetur",
            },
            {
              id: 444,
              text: "Fames ac turpis egestas maecenas",
            },
            {
              id: 441,
              text: "Dignissim cras tincidunt lobortis",
            },
          ],
          thumbnail: {
            id: 40,
            name: "cat_casino26.jpeg",
            alternativeText: "",
            caption: "",
            width: 500,
            height: 500,
            formats: {
              thumbnail: {
                name: "thumbnail_cat_casino26.jpeg",
                hash: "thumbnail_cat_casino26_fe3fd4c902",
                ext: ".jpeg",
                mime: "image/jpeg",
                width: 156,
                height: 156,
                size: 3.56,
                path: null,
                url: "images/casino-logos/cat_casino4.jpg",
              },
            },
            hash: "cat_casino26_fe3fd4c902",
            ext: ".jpeg",
            mime: "image/jpeg",
            size: 18.4,
            url: "images/casino-logos/cat_casino4.jpg",
            previewUrl: null,
            provider: "local",
            provider_metadata: null,
            created_at: "2021-10-08T11:10:46.848Z",
            updated_at: "2021-10-08T11:10:46.859Z",
          },
          href: {
            name: "Bookmaker",
            params: {
              slug: "/",
            },
          },
        },
        {
          id: 2,
          title: "Bet243",
          excerpt: "New customer offer. Exchange bets excluded.",
          about:
            "About Bookmaker\nLeverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.\n\nBring to the table win-win survival strategies to ensure proactive domination.\nCapitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.Podcasting operational change management inside of workflows to establish a framework.\n\nTaking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.",
          type: "certified",
          likes: 3,
          referralLink: "https://modeltheme.com/go/coinflip/",
          active: true,
          slug: "Bet243",
          review: null,
          published_at: "2021-10-08T12:20:52.025Z",
          created_at: "2021-10-08T12:09:34.216Z",
          updated_at: "2021-11-01T07:49:44.253Z",
          termsAndConditions: "New customer offer. Exchange bets excluded.",
          newaccountoffer: "up to $200  Equal bonus with deposit",
          offerValue: "up to $200",
          offerInfo: "Equal bonus with deposit",
          casinos: [
            {
              thumbnail: {
                url: "images/casino-logos/cat_casino4.jpg",
              },
            },
            {
              thumbnail: {
                url: "images/games/esport-betting-slot3.jpg",
              },
            },
          ],
          rating: 3,
          experiences: [
            {
              id: 149,
              pros: "Unlimited withdraw limits",
              cons: "A number of restricted countries",
            },
            {
              id: 150,
              pros: "Multiple withdraw methods",
              cons: "Slow connection sometimes",
            },
            {
              id: 151,
              pros: "Live chat open 24/7",
              cons: "Long withdraw time",
            },
            {
              id: 152,
              pros: "Mobile-friendly design",
              cons: "Some bugs",
            },
          ],
          socials: [],
          acceptedCountries: [
            {
              id: 96,
              text: "RO",
            },
          ],
          tags: {
            id: 2,
            paymentMethods: [
              {
                id: 10,
                name: "ATM",
                slug: "atm",
                created_at: "2021-10-12T12:50:48.086Z",
                updated_at: "2021-10-12T12:50:48.090Z",
              },
              {
                id: 9,
                name: "Payeer",
                slug: "payeer",
                created_at: "2021-10-12T12:50:41.505Z",
                updated_at: "2021-10-12T12:50:41.510Z",
              },
            ],
            currencies: [
              {
                id: 3,
                name: "EURO",
                code: "EUR",
                slug: "eur",
                created_at: "2021-10-12T12:43:39.667Z",
                updated_at: "2021-10-12T12:43:39.670Z",
              },
              {
                id: 4,
                name: "Canadian Dollar",
                code: "CAD",
                slug: "cad",
                created_at: "2021-10-12T12:43:56.025Z",
                updated_at: "2021-10-12T12:43:56.028Z",
              },
            ],
            languages: [
              {
                id: 2,
                name: "English",
                code: "EN",
                slug: "english",
                created_at: "2021-10-12T12:38:05.543Z",
                updated_at: "2021-10-12T12:38:05.548Z",
              },
              {
                id: 6,
                name: "Italian",
                code: "IT",
                slug: "italian",
                created_at: "2021-10-12T12:39:06.327Z",
                updated_at: "2021-10-12T12:39:06.330Z",
              },
            ],
            licences: [
              {
                id: 7,
                name: "Tortor",
                slug: "tortor",
                created_at: "2021-10-12T12:48:28.833Z",
                updated_at: "2021-10-12T12:48:28.836Z",
              },
            ],
            restrictedCountries: [
              {
                id: 6,
                name: "Colombia",
                slug: "colombia",
                code: "CO",
                created_at: "2021-10-12T13:30:03.330Z",
                updated_at: "2021-10-12T13:30:03.336Z",
              },
            ],
            softwares: [],
            categories: [],
          },
          features: [
            {
              id: 440,
              text: "Excepteur sint occaecat cupidatat",
            },
            {
              id: 442,
              text: "Duis aute irure dolor",
            },
            {
              id: 443,
              text: "Lorem ipsum dolor sit amet, consectetur",
            },
            {
              id: 444,
              text: "Fames ac turpis egestas maecenas",
            },
            {
              id: 441,
              text: "Dignissim cras tincidunt lobortis",
            },
          ],
          thumbnail: {
            id: 40,
            name: "cat_casino26.jpeg",
            alternativeText: "",
            caption: "",
            width: 500,
            height: 500,
            formats: {
              thumbnail: {
                name: "thumbnail_cat_casino26.jpeg",
                hash: "thumbnail_cat_casino26_fe3fd4c902",
                ext: ".jpeg",
                mime: "image/jpeg",
                width: 156,
                height: 156,
                size: 3.56,
                path: null,
                url: "images/casino-logos/cat_casino4.jpg",
              },
            },
            hash: "cat_casino26_fe3fd4c902",
            ext: ".jpeg",
            mime: "image/jpeg",
            size: 18.4,
            url: "images/casino-logos/cat_casino4.jpg",
            previewUrl: null,
            provider: "local",
            provider_metadata: null,
            created_at: "2021-10-08T11:10:46.848Z",
            updated_at: "2021-10-08T11:10:46.859Z",
          },
          href: {
            name: "Bookmaker",
            params: {
              slug: "/",
            },
          },
        },
        {
          id: 2,
          title: "Bet243",
          excerpt: "New customer offer. Exchange bets excluded.",
          about:
            "About Bookmaker\nLeverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.\n\nBring to the table win-win survival strategies to ensure proactive domination.\nCapitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.Podcasting operational change management inside of workflows to establish a framework.\n\nTaking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.",
          type: "certified",
          likes: 3,
          referralLink: "https://modeltheme.com/go/coinflip/",
          active: true,
          slug: "Bet243",
          review: null,
          published_at: "2021-10-08T12:20:52.025Z",
          created_at: "2021-10-08T12:09:34.216Z",
          updated_at: "2021-11-01T07:49:44.253Z",
          termsAndConditions: "New customer offer. Exchange bets excluded.",
          newaccountoffer: "up to $200  Equal bonus with deposit",
          offerValue: "up to $200",
          offerInfo: "Equal bonus with deposit",
          casinos: [
            {
              thumbnail: {
                url: "images/casino-logos/cat_casino4.jpg",
              },
            },
            {
              thumbnail: {
                url: "images/games/esport-betting-slot3.jpg",
              },
            },
          ],
          rating: 3,
          experiences: [
            {
              id: 149,
              pros: "Unlimited withdraw limits",
              cons: "A number of restricted countries",
            },
            {
              id: 150,
              pros: "Multiple withdraw methods",
              cons: "Slow connection sometimes",
            },
            {
              id: 151,
              pros: "Live chat open 24/7",
              cons: "Long withdraw time",
            },
            {
              id: 152,
              pros: "Mobile-friendly design",
              cons: "Some bugs",
            },
          ],
          socials: [],
          acceptedCountries: [
            {
              id: 96,
              text: "RO",
            },
          ],
          tags: {
            id: 2,
            paymentMethods: [
              {
                id: 10,
                name: "ATM",
                slug: "atm",
                created_at: "2021-10-12T12:50:48.086Z",
                updated_at: "2021-10-12T12:50:48.090Z",
              },
              {
                id: 9,
                name: "Payeer",
                slug: "payeer",
                created_at: "2021-10-12T12:50:41.505Z",
                updated_at: "2021-10-12T12:50:41.510Z",
              },
            ],
            currencies: [
              {
                id: 3,
                name: "EURO",
                code: "EUR",
                slug: "eur",
                created_at: "2021-10-12T12:43:39.667Z",
                updated_at: "2021-10-12T12:43:39.670Z",
              },
              {
                id: 4,
                name: "Canadian Dollar",
                code: "CAD",
                slug: "cad",
                created_at: "2021-10-12T12:43:56.025Z",
                updated_at: "2021-10-12T12:43:56.028Z",
              },
            ],
            languages: [
              {
                id: 2,
                name: "English",
                code: "EN",
                slug: "english",
                created_at: "2021-10-12T12:38:05.543Z",
                updated_at: "2021-10-12T12:38:05.548Z",
              },
              {
                id: 6,
                name: "Italian",
                code: "IT",
                slug: "italian",
                created_at: "2021-10-12T12:39:06.327Z",
                updated_at: "2021-10-12T12:39:06.330Z",
              },
            ],
            licences: [
              {
                id: 7,
                name: "Tortor",
                slug: "tortor",
                created_at: "2021-10-12T12:48:28.833Z",
                updated_at: "2021-10-12T12:48:28.836Z",
              },
            ],
            restrictedCountries: [
              {
                id: 6,
                name: "Colombia",
                slug: "colombia",
                code: "CO",
                created_at: "2021-10-12T13:30:03.330Z",
                updated_at: "2021-10-12T13:30:03.336Z",
              },
            ],
            softwares: [],
            categories: [],
          },
          features: [
            {
              id: 440,
              text: "Excepteur sint occaecat cupidatat",
            },
            {
              id: 442,
              text: "Duis aute irure dolor",
            },
            {
              id: 443,
              text: "Lorem ipsum dolor sit amet, consectetur",
            },
            {
              id: 444,
              text: "Fames ac turpis egestas maecenas",
            },
            {
              id: 441,
              text: "Dignissim cras tincidunt lobortis",
            },
          ],
          thumbnail: {
            id: 40,
            name: "cat_casino26.jpeg",
            alternativeText: "",
            caption: "",
            width: 500,
            height: 500,
            formats: {
              thumbnail: {
                name: "thumbnail_cat_casino26.jpeg",
                hash: "thumbnail_cat_casino26_fe3fd4c902",
                ext: ".jpeg",
                mime: "image/jpeg",
                width: 156,
                height: 156,
                size: 3.56,
                path: null,
                url: "images/casino-logos/cat_casino4.jpg",
              },
            },
            hash: "cat_casino26_fe3fd4c902",
            ext: ".jpeg",
            mime: "image/jpeg",
            size: 18.4,
            url: "images/casino-logos/cat_casino4.jpg",
            previewUrl: null,
            provider: "local",
            provider_metadata: null,
            created_at: "2021-10-08T11:10:46.848Z",
            updated_at: "2021-10-08T11:10:46.859Z",
          },
          href: {
            name: "Bookmaker",
            params: {
              slug: "/",
            },
          },
        },
      ],
    };
  },
});
</script>

<style scoped="scoped">
:deep(.card .tandc) {
  font-size: 15px;
  color: #151515;
  width: 100%;
}
.subtitle {
  margin-bottom: 50px;
  color: white;
}
:deep(.subtitle .subtitle) {
  color: white;
}
.container-news {
  background-color: #f9f9f9;
  padding: 120px;
}
/* Section News Grid */
.container-news-grid {
  background-color: #f9f9f9;
  padding: 120px;
}
.section-heading {
  margin-bottom: 55px;
}
.main-header,
.main-header > div:first-child {
  height: 700px;
}

@media only screen and (max-width: 767px) {
  .main-header,
  .main-header > div:first-child {
    height: 500px;
  }

  .container-casinos,
  .container-bonuses .container-testimonials .container-info .container-casinos,
  .container-partners,
  .container-characteristics .container-new-casinos,
  .container-news,
  .container-news-grid {
    padding-left: 0;
    padding-right: 0;
  }

  .container-info {
    background-size: 100% 40% !important;
  }
}
@media (min-width: 1700px) {
  :deep(.special-container .container) {
    max-width: 1600px;
  }
}
.container-casinos,
.container-bonuses,
.container-news {
  padding-top: 115px;
  padding-bottom: 110px;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-testimonials {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}
.container-info {
  padding-top: 90px;
  background-repeat: no-repeat;
  background-size: 100% 75%;
}
.container-casinos,
.container-partners,
.container-characteristics {
  margin-top: 70px;
  margin-bottom: 70px;
}
.container-slots {
  margin-top: 105px;
  margin-bottom: 110px;
}
.container-new-casinos {
  background-color: #ffff;
  padding: 120px 0;
}
.main-header {
  background-image: url(https://coinflip.modeltheme.com/wp-content/uploads/2020/10/Coinflip-Poker_header.jpg?id=48933) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
:deep(.main-header p),
:deep(.main-header .title) {
  color: white;
}
</style>
