<template>
  <div>
    <SearchCasinosSection
      title="Find Verified Offers From Trusted Casinos"
      description="We have reviewed 2000+ deals to make your casino gaming experience better"
      subtitle=""
    ></SearchCasinosSection>
    <WizardBar :payoutTimeout="15"></WizardBar>

    <div class="container-casinos mx-0" style="margin-top: 85px">
      <div class="container">
        <SectionHeading
          class="subtitle text-start"
          title="Best Online Casinos 2021"
          subtitle=""
          description=""
        />
        <div v-if="!casinosLoading">
          <a-row justify="center" type="flex" :gutter="[30, 30]">
            <a-col
              :xl="6"
              :xs="24"
              v-for="item in casinos.slice(0, 4)"
              :key="item"
            >
              <CardCasinoOffer
                class="card-casino"
                :thumbnail="item.thumbnail"
                :title="item.title"
                :description="item.description"
                :rating="
                  item.review === null ? 0 : fCalcRating(item.review.rating)
                "
                :href="{
                  name: 'Casino',
                  params: {
                    slug: item.slug,
                  },
                }"
                :offer="item.termsAndConditions"
                :reward="item.excerpt"
              />
            </a-col>
          </a-row>
        </div>
      </div>
    </div>

    <div class="container container-characteristics hide-on-mobile">
      <SectionHeading
        class="subtitle text-start"
        title="Why Coinflip Has Your Back"
        subtitle=""
        description=""
      />

      <div class="d-flex characterList">
        <CharacteristicsEsports
          :thumbnail="{ url: 'images/misc/Box.jpg' }"
          title="Explore Site Worldwide"
          subtitle="We rate the casino by testing more practically & see how it run"
        />
        <CharacteristicsEsports
          :thumbnail="{ url: 'images/misc/Box3-1.png' }"
          title="Explore Site Worldwide"
          subtitle="We listen to word of mouth spread gamblers across prairie"
        />
        <CharacteristicsEsports
          :thumbnail="{ url: 'images/misc/Box4.png' }"
          title="Explore Site Worldwide"
          subtitle="We rate the casino by testing more practically & see how it run"
        />
        <CharacteristicsEsports
          :thumbnail="{ url: 'images/misc/Box3.png' }"
          title="Explore Site Worldwide"
          subtitle="We rate the casino by testing more practically & see how it run"
        />
      </div>
    </div>
    <div class="wrapper-deals">
      <div class="container container-deals">
        <SectionHeading
          class="subtitle text-start"
          title="Best Deals Available"
          subtitle=""
          description=""
        />
        <a-row :gutter="[32, 32]">
          <a-col :xl="12" :xs="24"
            ><BestDealsCards
              title="Claim Special Reward From Wagering."
              subtitle=""
              href="'https://modeltheme.com/go/coinflip/'"
              :thumbnail="{ url: 'images/bonus-images/bonus_image_1.png' }"
          /></a-col>
          <a-col :xl="12" :xs="24"
            ><BestDealsCards
              title="Win Real Money Prizes From £100 to £250"
              subtitle=""
              href="'https://modeltheme.com/go/coinflip/'"
              :thumbnail="{ url: 'images/bonus-images/bonus_image_2.png' }"
          /></a-col>
          <a-col :xl="12" :xs="24"
            ><BestDealsCards
              title="Sign-Up and Claim 50 Free Spin for Top"
              subtitle=""
              href="'https://modeltheme.com/go/coinflip/'"
              :thumbnail="{ url: 'images/bonus-images/bonus_image_3.png' }"
          /></a-col>
          <a-col :xl="12" :xs="24"
            ><BestDealsCards
              title="Sign-Up and Claim 50 Free Spin for Top"
              subtitle=""
              href="'https://modeltheme.com/go/coinflip/'"
              :thumbnail="{ url: 'images/bonus-images/bonus_image_4.png' }"
          /></a-col>
          <a-col :xl="12" :xs="24"
            ><BestDealsCards
              title="Win Real Money Prizes From £100 to £250"
              subtitle=""
              href="'https://modeltheme.com/go/coinflip/'"
              :thumbnail="{ url: 'images/bonus-images/bonus_image_5.png' }"
          /></a-col>
          <a-col :xl="12" :xs="24"
            ><BestDealsCards
              title="Join the Weekly 9-Ball Fun Bingo Room Piece"
              subtitle=""
              href="'https://modeltheme.com/go/coinflip/'"
              :thumbnail="{ url: 'images/bonus-images/bonus_image_6.png' }"
          /></a-col>
          <a-col :xl="12" :xs="24"
            ><BestDealsCards
              title="Instant Withdrawal at Spin & Wins"
              subtitle=""
              href="'https://modeltheme.com/go/coinflip/'"
              :thumbnail="{ url: 'images/bonus-images/bonus_image_7.png' }"
          /></a-col>
          <a-col :xl="12" :xs="24"
            ><BestDealsCards
              title="Claim Special Reward From Your Inbox Twice."
              subtitle=""
              href="'https://modeltheme.com/go/coinflip/'"
              :thumbnail="{ url: 'images/bonus-images/bonus_image_1.png' }"
          /></a-col>
        </a-row>
      </div>
    </div>
    <div class="wrapper-categories hide-on-mobile">
      <div class="container container-categories">
        <SectionHeading
          class="subtitle text-start"
          title="Popular Categories"
          subtitle=""
          description=""
        />

        <div class="d-flex popularCategories justify-content-between">
          <PopularCategoriesCards
            :thumbnail="{ url: 'images/category-icons/category-icon.png' }"
            title="Explore Site Worldwide"
            subtitle="We rate the casino by testing more practically & see how it run"
          />
          <PopularCategoriesCards
            :thumbnail="{
              url: 'images/category-icons/casino-category-1-1280x1280.png',
            }"
            title="Explore Site Worldwide"
            subtitle="We listen to word of mouth spread gamblers across prairie"
          />
          <PopularCategoriesCards
            :thumbnail="{
              url: 'images/category-icons/casino-category-3-1280x1280.png',
            }"
            title="Explore Site Worldwide"
            subtitle="We rate the casino by testing more practically & see how it run"
          />
          <PopularCategoriesCards
            :thumbnail="{
              url: 'images/category-icons/casino-category-4-1280x1280.png',
            }"
            title="Explore Site Worldwide"
            subtitle="We rate the casino by testing more practically & see how it run"
          />
        </div>
      </div>
    </div>
    <div class="wrapper-popgames">
    <div class="container container-popgames">
      <SectionHeading
        class="subtitle text-start"
        title="Most Popular Games"
        subtitle=""
        description=""
      />
      <PopularGamesSlider :items="popularGames"></PopularGamesSlider>
    </div>
    </div>
    <div class="container-news">
      <div class="container">
        <SectionHeading
          class="subtitle text-start"
          title="Most Readable Blog"
          subtitle=""
          description=""
        />
        <a-row
          v-if="!loadingNews"
          justify="center"
          type="flex"
          :gutter="[25, 25]"
        >
          <a-col :xl="8" :xs="24" v-for="item in latestNews" :key="item">
            <CardNews
              class="card-news mb-1 mb-md-0"
              :title="item.title"
              :thumbnail="item.thumbnail"
              :description="item.description"
              :author="{
                name: 'Trader Marcus',
                href: 'https://modeltheme.com/go/coinflip/',
              }"
              :href="{
                name: 'Blog',
                params: {
                  slug: item.slug,
                },
              }"
            />
          </a-col>
        </a-row>
      </div>
    </div>

    <SearchCasinosSection
      title="Want More Legit Offer Provided By Licensed Casino?"
      description="Leave your email to receive unique offers and updates"
      subtitle=""
      ><a-input-search
        class="search-casino mt-4"
        placeholder="Email Address"
        enter-button="Subscribe"
        size="large"
    /></SearchCasinosSection>
  </div>
</template>

<script lang="ts">
import { defineComponent, Ref } from "vue";
import CardNews from "../components/CardNews/CardNews.vue";
import fetchLatestNews from "../misc/composition/fetchLatestNews";
import SectionHeading from "../components/SectionHeading/SectionHeading.vue";
import SearchCasinosSection from "@/components/SearchCasinosSection/SearchCasinosSection.vue";
import WizardBar from "@/components/WizardBar/WizardBar.vue";
import CharacteristicsEsports from "@/components/CharacteristicsEsports/CharacteristicsEsports.vue";
import fetchHomeCasinoByID from "../misc/composition/fetchHomeCasinoByID";
import casinoHelpers from "../misc/composition/casinoHelpers";
import CardCasinoOffer from "../components/CardCasinoOffer/CardCasinoOffer.vue";
import { Casino } from "@/types";
import BestDealsCards from "@/components/BestDealsCards/BestDealsCards.vue";
import PopularCategoriesCards from "@/components/PopularCategoriesCards/PopularCategoriesCards.vue";
import PopularGamesSlider from "@/components/PopularGamesSlider/PopularGamesSlider.vue";

export default defineComponent({
  components: {
    CardNews,
    SectionHeading,
    SearchCasinosSection,
    WizardBar,
    CharacteristicsEsports,
    CardCasinoOffer,
    BestDealsCards,
    PopularCategoriesCards,
    PopularGamesSlider,
  },
  setup() {
    const { latestNews, loading: loadingNews } = fetchLatestNews();
    const { casinos, loading: casinosLoading } = fetchHomeCasinoByID();
    const { fCalcRating } = casinoHelpers({} as Ref<Casino>);
    document.title = "Casino Affiliate - Coinflip";

    return {
      fCalcRating,
      casinos,
      casinosLoading,
      latestNews,
      loadingNews,
    };
  },
  data() {
    return {
      popularGames: [
        {
          title: "Soccer Games",
          thumbnail: { url: "images/popular-games/Book-of-Deluxe-505x305.jpg" },
          link: "https://modeltheme.com/go/coinflip/",
        },
        {
          title: "Narcos",
          thumbnail: { url: "images/demosimages/PopularGameCard-2.jpeg" },
          link: "https://modeltheme.com/go/coinflip/",
        },
        {
          title: "Narcos",
          thumbnail: { url: "images/popular-games/deadwood-505x305.jpg" },
          link: "https://modeltheme.com/go/coinflip/",
        },
        {
          title: "Narcos",
          thumbnail: { url: "images/popular-games/gonzos-quest-505x305.jpg" },
          link: "https://modeltheme.com/go/coinflip/",
        },
        {
          title: "Narcos",
          thumbnail: { url: "images/popular-games/minecraft-505x305.jpg" },
          link: "https://modeltheme.com/go/coinflip/",
        },
        {
          title: "Narcos",
          thumbnail: { url: "images/popular-games/tarzan-jungle-505x305.jpg" },
          link: "https://modeltheme.com/go/coinflip/",
        },
        {
          title: "Narcos",
          thumbnail: { url: "images/popular-games/viking-game-505x305.jpg" },
          link: "https://modeltheme.com/go/coinflip/",
        },
        {
          title: "Narcos",
          thumbnail: { url: "images/demosimages/PopularGameCard-2.jpeg" },
          link: "https://modeltheme.com/go/coinflip/",
        },
      ],
    };
  },
});
</script>
<style scoped>
:deep(.characterList > .characteristic .title) {
  color: #151515;
}
:deep(.popularCategories > .popular-casino) {
  background: white;
}
.subtitle {
  margin-bottom: 50px;
}
.container-characteristics,
.container-deals,
.container-categories,
.container-popgames,
.container-news {
  padding-top: 87px;
  padding-bottom: 87px;
}
.wrapper-deals {
  background: url("../assets/images/misc/Deal-Banner.jpg");
}
.wrapper-categories {
  background: url("../assets/images/misc/Category-Banner.jpg");
}
:deep(.container-categories .section-title), :deep(.wrapper-popgames .section-title) {

  color: white !important;
}
.wrapper-popgames {
  background:black;
}
</style>
