<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <div v-if="!loading">
    <hero
      :title="camelCaseToWords($route.params.category) + ': ' + currentTag.name"
      :backgroundImage="
        $getFileSource('images/background/bg_certified_casions.png')
      "
      :breadcrumbs="[
        { href: '/', name: 'Coinflip' },
        { href: '#', name: currentTag.name },
      ]"
    ></hero>

    <div class="container content">
      <h3 class="checkboxes-categories-title">Browse by:</h3>

      <tags
        :params="{
          category: $route.params.category,
          component: $route.params.component,
        }"
        :routerPage="'List'"
        :items="tags"
      ></tags>
      <a-row :gutter="[32, 32]" v-if="!fetch.loading">
        <template v-if="$route.params.component !== GET.BONUSES">
          <a-col :xl="6" v-for="data in fetch.data" :key="data">
            <CardCasinoOffer
              :title="data.title"
              :rating="
                data.review === null ? 0 : fCalcRating(data.review.rating)
              "
              :thumbnail="data.thumbnail"
              :reward="$route.params.component === GET.SLOTS ? '' : data.excerpt"
              :description="data.about"
              :offer="data.termsAndConditions"
              :href="{
                name: pluralize(camelCaseToWords($route.params.component), 1),
                params: {
                  slug: data.slug,
                },
              }"
            ></CardCasinoOffer>
          </a-col>
        </template>
        <template v-else>
          <a-col :xl="6" v-for="data in fetch.data" :key="data">
            <card-cash-back
              :title="data.title"
              :category="currentTag.name"
              :rating="
                data.review === null ? 0 : fCalcRating(data.review.rating)
              "
              :thumbnail="data.thumbnail"
              :bonus="data.bonus"
              :reward="data.excerpt"
              :rewards="data.rewards"
              :offer="data.termsAndConditions"
              :href="{
                name: pluralize(camelCaseToWords($route.params.component), 1),
                params: {
                  slug: data.slug,
                },
              }"
            ></card-cash-back>
          </a-col>
        </template>
      </a-row>
    </div>
  </div>
</template>

<script lang="ts">
import Hero from "@/components/Hero/Hero.vue";
import { defineComponent, Ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import Tags from "@/components/Tags/Tags.vue";
import { camelCaseToWords } from "../misc/utilis/api/helpers";
import fetchOtherTags from "../misc/composition/fetchOtherTags";
import CardCasinoOffer from "../components/CardCasinoOffer/CardCasinoOffer.vue";
import CardCashBack from "../components/CardCashBack/CardCashBack.vue";
import { GET } from "../misc/utilis/api/endpoints";
import casinoHelper from "../misc/composition/casinoHelpers";
import { Casino } from "@/types";
var pluralize = require("pluralize");
import LoadingPageAnim from "../components/LoadingPageAnim.vue"
export default defineComponent({
  components: {
    Hero,
    Tags,
    CardCasinoOffer,
    CardCashBack,
    LoadingPageAnim
  },

  setup() {
    const route = useRoute();
    let component;
    if (
      ![GET.CASINOS, GET.BOOKMAKERS, GET.SLOTS, GET.BONUSES].includes(
        route.params.component as GET
      )
    ) {
      useRouter().push({ name: "Home" });
    }
    const {
      fetchTags,
      getCurrentTag: currentTag,
      loading,
      tags,
      fetch,
    } = fetchOtherTags(
      route.params.category as string,
      route.params.slug as string,
      route.params.component as string
    );
    document.title =
      "List " +
      camelCaseToWords(route.params.component as string) +
      " - Coinflip";

    const { fCalcRating } = casinoHelper({} as Ref<Casino>);

    return {
      component,
      casinoHelper,
      fetch,
      tags,
      GET,
      loading,
      camelCaseToWords,
      currentTag,
      fCalcRating,
      fetchTags,
      pluralize,
    };
  },
});
</script>

<style scoped>
.checkboxes-categories-title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

:deep(.tags) {
  margin-bottom: 70px;
}

:deep(.tags .tag) {
  box-shadow: 0 0 20px rgb(0 0 0 / 7%);
}
</style>
