<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <div class="review">
    <div v-if="!loading">
      <hero
        :title="review.title"
        :backgroundImage="
          $getFileSource(
            review.cover === null
              ? 'images/background/bg_certified_casions.png'
              : review.cover
          )
        "
        :breadcrumbs="[
          { href: '/', name: 'Coinflip' },
          { href: '#', name: review.title },
        ]"
      ></hero>

      <a-row v class="details container">
        <a-col :xl="16" :xs="24" class="pe-0 pe-md-5">
          <SectionTitle
            class="rating-title removeBorderBottom mt-3"
            :title="'Our Scores:'"
          />
          <overal-rating :ratings="review.rating"></overal-rating>
          <SectionTitle
            class="written-for-title mt-5 removeBorderBottom"
            :title="'Written For:'"
          />

          <template v-if="review.casinos.length > 0">
            <card-casino-online
              class="review-casino-card mb-4 no-anim justify-content-between"
              :title="casino.title"
              :thumbnail="casino.thumbnail"
              :excerpt="casino.excerpt"
              :offer="casino.termsAndConditions"
              :href="{
                name: 'Casino',
                params: {
                  slug: casino.slug,
                },
              }"
              v-for="casino in review.casinos.slice(0, 3)"
              :key="casino"
              :description="''"
            ></card-casino-online>
          </template>

          <template v-if="review.slots.length > 0">
            <card-game
              :title="slot.title"
              :thumbnail="slot.thumbnail"
              :description="slot.description"
              :excerpt="slot.excerpt"
              :href="{
                name: 'Slot',
                params: {
                  slug: slot.slug,
                },
              }"
              class="mb-4 no-anim"
              v-for="slot in review.slots"
              :key="slot"
            ></card-game>
          </template>

          <template v-if="review.bookmakers.length > 0">
            <card-casino-online
              class="mb-4 no-anim"
              :title="bookmaker.title"
              :thumbnail="bookmaker.thumbnail"
              :excerpt="bookmaker.excerpt"
              :offer="bookmaker.termsAndConditions"
              :href="{
                name: 'Bookmaker',
                params: {
                  slug: bookmaker.slug,
                },
              }"
              v-for="bookmaker in review.bookmakers"
              :key="bookmaker"
              :description="''"
            ></card-casino-online>
          </template>

          <template v-if="review.bonuses.length > 0">
            <a-row :gutter="[24, 24]">
              <a-col :xl="12" v-for="bonus in review.bonuses" :key="bonus">
                <card-cash-back
                  class="review-card-game mb-4 no-anim"
                  :bonus="bonus.bonus"
                  :rewards="bonus.rewards"
                  :category="
                    bonus.categories !== undefined
                      ? bonus.categories[0].name
                      : 'No Category'
                  "
                  :href="{
                    name: 'Bonus',
                    params: {
                      slug: bonus.slug,
                    },
                  }"
                  :description="bonus.description"
                ></card-cash-back>
              </a-col>
            </a-row>
          </template>

          <casino-about
            :description="$formatTextToMarkdown(review.content)"
          ></casino-about>

          <div class="mt-5" v-if="!fetchedComments.loading">
            <section-title
              v-if="fetchedComments.comments.length > 0"
              :title="getComments"
              :removeBorderBottom="true"
              :slim="true"
            ></section-title>
            <template
              v-for="comment in fetchedComments.comments"
              :key="comment"
            >
              <Comment
                v-if="!comment.blocked"
                :authorName="comment.authorName"
                :content="comment.content"
                :createdAt="$formatDate(comment.createdAt)"
                :comments="comment.children"
                :ctx="{
                  contentType: 'review',
                  contentID: review.id,
                  id: comment.id,
                }"
                @onRefreshComments="fetchedComments.fetchComments()"
                :blockedThread="comment.blockedThread"
              />
            </template>
          </div>
          <comment-box
            class="mt-5 mb-5"
            :ctx="{ contentType: 'review', contentID: review.id }"
            @onRefreshComments="fetchedComments.fetchComments()"
          ></comment-box>
        </a-col>

        <a-col :xl="8" :xs="24">
          <widget-layout
            title="Recent News"
            :items="latestNews"
            v-if="!loadingNews"
          >
            <template v-slot:default="slotProps">
              <CardBlogPost
                v-bind="slotProps.item"
                :title="slotProps.item.title"
                :description="slotProps.item.description"
                :href="{
                  name: 'Blog',
                  params: {
                    slug: slotProps.item.slug,
                  },
                }"
                :type="'compact'"
                :author="{
                  name:
                    slotProps.item.author.firstname +
                    ' ' +
                    slotProps.item.author.lastname,
                  href: '/',
                }"
                :thumbnail="slotProps.item.thumbnail"
                :details="{
                  commentNo: slotProps.item.comments.length,
                  date: Date.parse(slotProps.item.publishedAt),
                }"
                :class="{ 'mt-4': slotProps.i !== 0 }"
              ></CardBlogPost>
            </template>
          </widget-layout>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import fetchReview from "../misc/composition/fetchReview";
import { useRoute } from "vue-router";
import CasinoAbout from "@/components/CasinoAbout/CasinoAbout.vue";
import SectionTitle from "../components/SectionTitle/SectionTitle.vue";
import CommentBox from "@/components/CommentBox/CommentBox.vue";
import Comment from "@/components/Comment/Comment.vue";
import { camelCaseToWords, kebabize } from "../misc/utilis/api/helpers";
import fetchComments from "../misc/composition/fetchComments";
import postLike from "../misc/composition/postLike";
import WidgetLayout from "../components/WidgetLayout/WidgetLayout.vue";
import fetchLatestNews from "../misc/composition/fetchLatestNews";
import CardBlogPost from "../components/CardBlogPost/CardBlogPost.vue";
import { GET } from "../misc/utilis/api/endpoints";
import Hero from "@/components/Hero/Hero.vue";
import OveralRating from "../components/OveralRating/OveralRating.vue";
import CardCasinoOnline from "../components/CardCasinoOnline/CardCasinoOnline.vue";
import CardGame from "../components/CardGame/CardGame.vue";
import CardCashBack from "../components/CardCashBack/CardCashBack.vue";
import LoadingPageAnim from "../components/LoadingPageAnim.vue"
export default defineComponent({
  components: {
    CasinoAbout,
    CardGame,
    SectionTitle,
    CommentBox,
    Comment,
    WidgetLayout,
    CardBlogPost,
    Hero,
    OveralRating,
    CardCasinoOnline,
    CardCashBack,
    LoadingPageAnim
  },
  setup() {
    const route = useRoute();
    let fetchedComments = ref();

    const { review, loading } = fetchReview(route.params.slug);
    watch(review, () => {
      fetchedComments.value = fetchComments("review", review.value.id);
      document.title = (review.value.title ?? "Review") + " - Coinflip";
    });

    const { submitLike } = postLike();
    const { latestNews, loading: loadingNews } = fetchLatestNews(2);
    return {
      kebabize,
      submitLike,
      latestNews,
      review,
      loadingNews,
      fetchReview,
      loading,
      GET,
      camelCaseToWords,
      fetchedComments,
    };
  },
  computed: {
    getComments(): string {
      const plural = this.fetchedComments.comments.length !== 1 ? "s" : "";
      return `${this.fetchedComments.comments.length} comment${plural} for "${this.review.title}"`;
    },
  },
});
</script>

<style scoped>
:deep(.box-news) {
  border-radius: 0 !important;
}
.card a {
  font-size: 10px !important;
  color: #ffff;
}
.rating-title,
.written-for-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
}
.details {
  padding: 60px 0 30px;
  background: white;
}
.about {
  padding: 100px 0;
}
.cover {
  width: 100%;
  height: auto;
  filter: brightness(0.3);
}
.secondary-title {
  font-size: 19px !important;
  line-height: 22px !important;
}
:deep(.tags) {
  margin-top: 27px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 30px;
  border-radius: 0 !important;
}
:deep(.tags .tag:first-child) {
  margin-left: 0 !important;
}
.expp-position {
  margin-bottom: 45px;
  margin-top: -150px;
}

.general-btn {
  line-height: 38px;
  padding: 5px 35px !important;
}
.sticky {
  z-index: 500;
}
:deep(.thumbnail) {
  width: 150px !important;
}
:deep(.img-left) {
  padding: 15px !important;
}
:deep(.title h3) {
  font-weight: 600;
}
:deep(.review-casino-card .d-flex.centerV) {
  width: 100%;
}
</style>
