<template>
  <loading-page-anim :loading="loading"></loading-page-anim>

  <div class="slot">
    <div v-if="!loading">
      <hero
        :breadcrumbs="[
          { href: '/', name: 'Coinflip' },
          {
            href: {
              name: 'BlogList',
              params: {
                slug: slot.categories[0].slug,
                type: 'tag',
              },
            },
            name: slot.categories[0].name,
          },
          { href: '#', name: slot.title },
        ]"
      ></hero>
      <div class="details container">
        <slot-details
          :href="slot.externalLink"
          :description="slot.description"
          :title="slot.title"
          :developer="slot.casino.title"
          :developerLink="{
            name: 'Casino',
            params: {
              slug: slot.casino.slug,
            },
          }"
        ></slot-details>
      </div>

      <div class="about">
        <a-row class="container">
          <a-col :xl="16" class="pe-md-5">
            <SectionTitle :title="'About ' + slot.title" v-if="slot.about" />

            <casino-about
              :description="$formatTextToMarkdown(slot.about)"
            ></casino-about>

            <SectionTitle
              class="mt-5"
              :title="slot.title + '\'s Features'"
              v-if="slot.features || slot.description"
            />

            <casino-features
              :description="slot.description"
              :items="getFeatures"
            ></casino-features>
            <template v-if="slot.categories !== null">
              <SectionTitle
                :title="'Categories:'"
                :slim="true"
                :removeBorderBottom="true"
                class="secondary-title"
              />
              <tags
                :params="{
                  category: 'slot-categories',
                  component: GET.SLOTS,
                }"
                :routerPage="'List'"
                :items="slot.categories"
              ></tags>
            </template>
            <SectionTitle
              class="games-title"
              :title="'More Games you can Play'"
            />

            <a-row :gutter="[24, 24]">
              <a-col :xl="12" v-for="slotz in fetchedSlots.slots" :key="slotz">
                <card-game
                  :href="{
                    name: 'Slot',
                    params: {
                      slug: slotz.slug,
                    },
                  }"
                  :title="slotz.title"
                  :thumbnail="slotz.thumbnail"
                  :excerpt="slotz.excerpt"
                  :description="''"
                ></card-game
              ></a-col>
            </a-row>
            <div class="mt-5" v-if="!fetchedComments.loading">
              <section-title
                v-if="fetchedComments.comments.length > 0"
                :title="getComments"
                :removeBorderBottom="true"
                :slim="true"
              ></section-title>
              <template
                v-for="comment in fetchedComments.comments"
                :key="comment"
              >
                <Comment
                  v-if="!comment.blocked"
                  :authorName="comment.authorName"
                  :content="comment.content"
                  :createdAt="$formatDate(comment.createdAt)"
                  :comments="comment.children"
                  :ctx="{
                    contentType: 'slot',
                    contentID: slot.id,
                    id: comment.id,
                  }"
                  @onRefreshComments="fetchedComments.fetchComments()"
                  :blockedThread="comment.blockedThread"
                />
              </template>
            </div>

            <comment-box
              class="mt-5 mb-5"
              :ctx="{ contentType: 'slot', contentID: slot.id }"
              @onRefreshComments="fetchedComments.fetchComments()"
            ></comment-box>
          </a-col>

          <a-col :xl="8">
            <ProCons class="expp-position" :items="getProCons" />

            <widget-layout
              title="Recent News"
              :items="latestNews"
              v-if="!loadingNews"
            >
              <template v-slot:default="slotProps">
                <CardBlogPost
                  v-bind="slotProps.item"
                  :title="slotProps.item.title"
                  :description="slotProps.item.description"
                  :href="{
                    name: 'Blog',
                    params: {
                      slug: slotProps.item.slug,
                    },
                  }"
                  :type="'compact'"
                  :author="{ name: slotProps.item.author.firstname + ' ' + slotProps.item.author.lastname, href: '/' }"
                  :thumbnail="slotProps.item.thumbnail"
                  :details="{
                    commentNo: slotProps.item.comments.length,
                    date: Date.parse(slotProps.item.publishedAt),
                  }"
                  :class="{ 'mt-4': slotProps.i !== 0 }"
                ></CardBlogPost>
              </template>
            </widget-layout>
          </a-col>
        </a-row>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import fetchSlot from "../misc/composition/fetchSlot";
import { useRoute } from "vue-router";
import CasinoAbout from "@/components/CasinoAbout/CasinoAbout.vue";
import ProCons from "../components/ProConBox/ProConBox.vue";
import SectionTitle from "../components/SectionTitle/SectionTitle.vue";
import CasinoFeatures from "../components/CasinoFeatures/CasinoFeatures.vue";
import Tags from "@/components/Tags/Tags.vue";
import CommentBox from "@/components/CommentBox/CommentBox.vue";
import Comment from "@/components/Comment/Comment.vue";
import { camelCaseToWords, kebabize } from "../misc/utilis/api/helpers";
import fetchComments from "../misc/composition/fetchComments";
import postLike from "../misc/composition/postLike";
import WidgetLayout from "../components/WidgetLayout/WidgetLayout.vue";
import fetchLatestNews from "../misc/composition/fetchLatestNews";
import CardBlogPost from "../components/CardBlogPost/CardBlogPost.vue";
import { GET } from "../misc/utilis/api/endpoints";
import Hero from "../components/Hero/Hero.vue";
import SlotDetails from "../components/SlotDetails/SlotDetails.vue";
import fetchSlots from "../misc/composition/fetchSlots";
import CardGame from "../components/CardGame/CardGame.vue";
import LoadingPageAnim from "../components/LoadingPageAnim.vue"
export default defineComponent({
  components: {
    ProCons,
    CasinoAbout,
    SectionTitle,
    CasinoFeatures,
    Tags,
    CommentBox,
    Comment,
    WidgetLayout,
    CardBlogPost,
    Hero,
    SlotDetails,
    CardGame,
    LoadingPageAnim
  },
  setup() {
    const route = useRoute();
    let fetchedComments = ref();
    let fetchedSlots = ref();
    let showBanner = ref(false);

    const {
      slot,
      loading,
      canUserPlay,
      calcRating,
      getProCons,
      getFeatures,
    } = fetchSlot(route.params.slug);
    watch(slot, () => {
      document.title = (slot.value.title ?? "Slot") + " - Coinflip";
      fetchedComments.value = fetchComments("slot", slot.value.id);
      fetchedSlots.value = fetchSlots();
    });

    const { submitLike } = postLike();
    const { latestNews, loading: loadingNews } = fetchLatestNews(2);
    return {
      kebabize,
      showBanner,
      submitLike,
      latestNews,
      slot,
      loadingNews,
      fetchSlot,
      loading,
      fetchedSlots,
      canUserPlay,
      calcRating,
      getProCons,
      GET,
      getFeatures,
      camelCaseToWords,
      fetchedComments,
    };
  },
  computed: {
    getComments(): string {
      const plural = this.fetchedComments.comments.length !== 1 ? "s" : "";
      return `${this.fetchedComments.comments.length} comment${plural} for "${this.slot.title}"`;
    },
  },
});
</script>

<style scoped>
.details {
  padding: 60px 0;
  background: white;
}
.about {
  background: #fafafa;
  padding: 100px 0;
}
.cover {
  width: 100%;
  height: auto;
  filter: brightness(0.3);
}
.secondary-title {
  font-size: 19px !important;
  line-height: 22px !important;
  margin-top: 42px;
}
:deep(.tags) {
  margin-top: 27px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 30px;
  border-radius: 0 !important;
}
:deep(.tags .tag:first-child) {
  margin-left: 0 !important;
}
.expp-position {
  margin-bottom: 45px;
}

.general-btn {
  line-height: 38px;
  padding: 5px 35px !important;
}
.sticky {
  z-index: 500;
}

.games-title {
  margin: 48px 0 20px;
}

:deep(.title h3) {
  font-weight: 600;
}
</style>
