<template>
  <div class="popular-game-card d-flex">
    <router-link class="d-flex flex-column align-items-start" :to="href">
      <img
        class="popular-games-thumbnail"
        v-if="thumbnail"
        :src="$getFileSource(thumbnail.url)"
      />
      <span class="title">{{ title }}</span>
    </router-link>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Thumbnail } from "../../types";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
    href: {
      type: String,
      default: "/",
    },
  },
});
</script>
<style scoped>
.popular-game-card > a {
  text-decoration: none;
}
.title {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  padding-top: 25px;
}
.popular-games-thumbnail {
  width: 100%;
  border-radius: 10px;
}
</style>
