<template>
  <div class="card anim-shadow-hover position-relative">
    <div class="img-left overflow-hidden">
      <div class="position-absolute badge" v-if="badge">
        <img
          v-if="badge.type === 'ribbon'"
          src="../../assets/images/misc/badge.svg"
        />
        <img v-else src="../../assets/images/misc/casino-badge.svg" />
        <div
          :class="badge.type"
          class="position-absolute position-absolute-stretch img-num"
        >
          {{ badge.positionNo }}
        </div>
      </div>
      <router-link class="position-relative h-100 d-block" :to="href">
        <rating
          v-if="rating !== 0"
          :rating="rating"
          class="rating"
          :position="'top-right'"
        ></rating>
        <img v-if="thumbnail" :src="$getFileSource(thumbnail.url)" />
      </router-link>
    </div>
    <div class="content w-100">
      <div class="text-center">
        <p class="subtitle mt-0">{{ reward }}</p>
        <h4 class="post-name-listings">
          <router-link :to="href">{{ title }}</router-link>
        </h4>
      </div>
      <div class="text-center">
        <p class="desc mx-auto">{{ description }}</p>

        <router-link type="link" class="button general-btn d-block" :to="href">
          <span>
            <font-awesome-icon
              :icon="['fas', 'arrow-circle-right']"
              class="icon"
            />
            Play Now
          </span>
        </router-link>

        <div v-if="offer" class="tandc">
          <a-tooltip placement="bottom">
            <template #title>{{ offer }}</template>
            T&C applies
          </a-tooltip>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import Rating from "../Rating/Rating.vue";
import { Thumbnail } from "../../types";
type CustomBadge = {
  positionNo: Number;
  type: "ribbon" | "default";
};
export default defineComponent({
  components: { Rating },
  props: {
    title: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    badge: {
      type: Object as PropType<CustomBadge>,
    },
    offer: {
      type: String,
    },
    reward: {
      type: String,
    },
    /** Must be between 1 and 5 */
    rating: {
      type: Number,
      default: 1,
      validator(value: Number) {
        return value <= 5 || value >= 1;
      },
    },
    href: {
      type: [String, Object],
      default: "/",
      required: true,
    },
  },
});
</script>

<style scoped>
.badge {
  z-index: 1;
  left: -35px;
  top: -30px;
}
.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/** CARD */
.card {
  background: white;
  border-radius: 10px;
  transition: all 250ms ease;
}
/** IMAGE */
.img-left {
  height: 165px;
  border-radius: 10px 10px 0px 0px;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.img-num.default {
  top: -10px;
  color: white;
}
.img-num {
  width: 41px;
  height: 10px;
  margin: auto;
  font-size: 13px;
  font-weight: 700;
  color: red;
  font-size: 13px;
  top: -17px;
  left: -1px;
  text-align: center;
}
/** DESCRIPTION */
p {
  font-weight: 400;
  text-align: center;
  margin: 15px 0;
}

/** TITLE */
h4 {
  font-size: 23px !important;
  margin: 0 !important;
  text-align: center;
  line-height: 1;
  font-weight: 700;
}

h4 > a {
  color: #151515;
}

h4:hover > a {
  text-decoration: underline;
}

/** SUBTITLE */
.subtitle {
  margin-bottom: 5px;
  color: #262626;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
}

/** CONTENT */
.content {
  padding: 30px 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}

.rating {
  margin-right: 15px;
  margin-top: 15px;
}
.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 80%;
}
@media screen and (max-width: 767px) {
  .img-left {
    height: 200px !important;
  }
}
</style>
