<template>
  <div class="casino-features">
    <div class="pro-section">
      <div class="title">
        <font-awesome-icon :icon="['fas', 'plus-circle']" class="plus icon" />
        <h3 class="mt_listing_content_heading">Pros</h3>
      </div>
      <ul>
        <li v-for="pro in items.pros" :key="pro">
          <font-awesome-icon :icon="['fas', 'plus']" class="plus" /> {{ pro }}
        </li>
      </ul>
    </div>
    <div class="con-section">
      <div class="title">
        <font-awesome-icon :icon="['fas', 'minus-circle']" class="minus icon" />
        <h3 class="mt_listing_content_heading">Cons</h3>
      </div>
      <ul>
        <li v-for="con in items.cons" :key="con">
          <font-awesome-icon :icon="['fas', 'minus']" class="minus" /> {{ con }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { ProCons } from "../../types";
export default defineComponent({
  props: {
    items: {
      type: Object as PropType<ProCons>,
    },
  },
});
</script>

<style scoped>
.casino-features {
  padding: 27px 30px 5px;
  background: #fff;
  margin-bottom: 45px;
  box-shadow: 0 0 20px rgb(0 0 0 / 7%);
  overflow: hidden;
  border-radius: 10px;
}
.icon {
  width: 23px;
  height: 23px;
}
.plus {
  color: #389d29;
  margin-right: 20px;
}
.minus {
  color: #ff2122;
  margin-right: 20px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  padding: 0 5px;
}
.con-section {
  border-top: 1px solid #f5f5f5;
  padding-top: 25px;
}
li {
  font-weight: 400;
  margin: 10px 0;
  color: #686868;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  opacity: 1;
  visibility: visible;
}
h3 {
  font-size: 23px;
  font-weight: 700;
  margin: 15px 0;
  display: initial;
}
@media only screen and (max-width: 767px) {
  .title{
    display:flex;
    flex-direction:row;
    align-items:center;
  }
  .title h3{
    margin:0;
  }

  
}
</style>
