<template>
  <div class="box-news">
    <div class="position-relative">
      <div class="date-btn">
        <font-awesome-icon class="tag-icon" :icon="['fas', 'calendar']" />
        <router-link :to="href" >{{ $formatDate(date) }}</router-link>
      </div>
      <router-link :to="href">
        <img class="box-news-thumbnail" :src="$getFileSource(thumbnail.url)" :alt="title" />
      </router-link>
    </div>
    <div class="box-news-content">
      <h3 class="box-news-title">
        <router-link :to="href">
          <span>{{ title }}</span
          ><br />
        </router-link>
      </h3>
      <div class="box-news-tags d-flex">
        <div class="news-details" v-if="category">
          <font-awesome-icon class="tag-icon" :icon="['fas', 'tag']" />
          <router-link :to="categoryLink">
            <span>{{ category }}</span
            ><br />
          </router-link>
        </div>

        <div class="news-details">
          <font-awesome-icon class="tag-icon" :icon="['far', 'user']" />
          <router-link :to="author.href">
            <span class="box-news-author">{{ author.name }}</span
            ><br />
          </router-link>
        </div>
      </div>
      <div class="box-news-description">
        <span>{{ description }}</span
        ><br />
      </div>
      <div class="box-news-btn">
        <a-button
          :href="$router.resolve(href).href"
          type="link"
          class="general-btn"
          >{{ buttonText }}</a-button
        >
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "@vue/runtime-core";
import { Link, Thumbnail } from "../../types";
export default defineComponent({
  props: {
    thumbnail: Object as PropType<Thumbnail>,
    title: String,
    description: String,
    author: Object as PropType<Link>,
    categoryLink: Object as PropType<Link>,
    category: String,
    buttonText: String,
    href: [String, Object],
    date: {
      type: Date,
      default: function () {
        return new Date();
      },
      required: true,
    },
  },
});
</script>

<style scoped>
/* Style Card */
.box-news {
  max-width: 750px;
  height: auto;
  border: 1px solid #ededed;
  position: relative;
}
/* Date */
.date-btn > a, .date-btn > svg {
  color: #fff;
  text-decoration: none;
}
.date-btn {
  border-radius: 3px;

  margin: 0;
  padding: 5px 15px;
  background: #151515;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  font-weight: 300;
  position: absolute;
  bottom: 50px;
  left: 50px;
  border: 0;
  font-size: 15px;
}
.date-btn:hover {
  background-color: #389d29;
}
/* Style Image */
.box-news-thumbnail {
  max-width: 100%;
  height: auto;
}
/* Style Content-Box */
.box-news-content {
  padding: 40px 50px;
}
/* Style Tags */
.box-news-tags span {
  font-size: 15px;
  color: #686868;
  font-size: 300;
}
/* Style Title */
.box-news-title {
  color: black;
  line-height: 140%;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
}
/* Style description */
.box-news-description {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  margin-top: 15px;
  color: #686868;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Style author */
.box-news-author {
  font-size: 5px;
  color: #151515;
}
/* Style btn */
.box-news-btn {
  margin-top: 15px;
}
/* Style Icon */
.tag-icon {
  margin-right: 5px;
}
/* Style News Details */
.news-details {
  margin-right: 10px;
}
/* Responsive */
@media (max-width: 767.98px) {
  /* Date */
  .date-btn {
    bottom: 20px;
    left: 20px;
  }
  /* Style Content-Box */
  .box-news-content {
    padding: 10px 20px;
  }
}
</style>
