<template>
  <div class="container centerV">
    <div class="mh-content">
      <h1 class="title">
        {{ title }} <br />
        {{ subtitle }}
      </h1>
      <p class="w-75" v-html="description"></p>
      <div class="centerV">
        <a-button type="link" class="general-btn no-anim" :href="href">{{
          buttonName
        }}</a-button>
        <span class="secondary hide-on-mobile">{{ secondaryText }}</span>
      </div>
    </div>

    <img
      v-if="!hideImages"
      class="image-right hide-on-mobile"
      src="../../assets/images/misc/slider_plans.png"
    />

    <img
      v-if="!hideImages"
      class="money-1 scale"
      width="200"
      height="200"
      src="../../assets/images/misc/slider_coin1-251x300.png"
    />
    <img
      v-if="!hideImages"
      class="money-2 scale"
      width="200"
      height="200"
      src="../../assets/images/misc/slider_coin2-300x279.png"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
    },
    description: {
      type: String,
      required: true,
    },
    secondaryText: {
      type: String,
    },
    href: {
      type: String,
      default: "/",
      required: true,
    },
    buttonName: {
      type: String,
    },
    hideImages: {
      type: Boolean,
      default: false,
      required: false
    },
  },
});
</script>

<style scoped>
/** DESCRIPTION */
p {
  margin: 20px 0 !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.general-btn {
  padding: 10px 30px !important;
}
/** TITLE */
.title {
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 0 !important;
}

/** SUBTITLE */
.secondary {
  color: #636363;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-family: Raleway;
  margin-left: 35px;
}
@media only screen and (max-width: 767px) {
  .money-1 {
    top: -50% !important;
    left: -40% !important;
  }
  .money-2 {
    top: -170% !important;
    left: 35% !important;
  }
  .container.centerV {
    display: block;
    text-align: center;
  }
  .centerV {
    justify-content: center;
  }
  .mh-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.mh-content {
  position: relative;
  z-index: 2;
}
.image-right {
  object-fit: cover;
  position: absolute;
  right: 0;
  height: 100%;
}

.money-1 {
  position: relative;
  left: -65%;
  top: 20%;
  z-index: 1;
  width: 250px;
  height: auto;
}

.money-2 {
  z-index: 1;
  top: -20%;
  left: -30%;
  position: relative;
  width: 250px;
  height: auto;
}
</style>
