<template>
  <a-form
    name="custom-validation"
    ref="formRef"
    :model="formState"
    :rules="rules"
  >
    <div class="contact-form">
      <div class="form-title d-flex flex-column">
        <span class="fw-bold fs-1">Get in Touch</span>
        <span class="subtitle fw-light fs-6 text-secondary"
          >Feel free to drop us a line below!</span
        >
        <div class="user-details me-5">
          <a-row>
            <a-col :xs="{ span: 24 }" :lg="{ span: 12 }">
              <div class="col-input pe-3">
                <a-form-item  name="name">
                  <a-input
                    class="form-control"
                    v-model:value="formState.name"
                    placeholder="Your Name"
                  />
                </a-form-item>
              </div>
            </a-col>
            <a-col :xs="{ span: 24 }" :lg="{ span: 12 }">
              <div class="col-input ps-3">
                <a-form-item  name="email">
                  <a-input
                    class="form-control"
                    v-model:value="formState.email"
                    placeholder="Email Address"
                  />
                </a-form-item>
              </div>
            </a-col>
          </a-row>
        </div>

        <div class="user-message">
          <a-form-item  name="content">
            <a-textarea
              class="form-control user-message"
              placeholder="Your Message"
              :rows="4"
              v-model:value="formState.content"
            />
          </a-form-item>
        </div>
        <div class="button-wrapper">
          <a-button class="general-btn text-white" @click="onSubmit">
            <template v-slot:default>
              <span class="me-3">Send message</span>
              <font-awesome-icon
                class="fa"
                :icon="['fas', 'long-arrow-alt-right']"
              />
            </template>
          </a-button>
        </div>
      </div>
    </div>
  </a-form>
</template>
<script lang="ts">
import { ValidateErrorEntity } from "ant-design-vue/lib/form/interface";
import { defineComponent, reactive, ref, toRaw, UnwrapRef } from "vue";
interface FormState {
  name: string;
  email: string;
  content: string;
}
export default defineComponent({
  setup() {
    const formRef = ref();
    const formState: UnwrapRef<FormState> = reactive({
      name: "",
      email: "",
      content: "",
    });
    const rules = {
      name: [{ required: true, trigger: "change" }],
      email: [{ required: true, trigger: "change" }],
      content: [{ required: true, min: 3, trigger: "change" }],
    };

    const onSubmit = () => {
      formRef.value
        .validate()
        .then(() => {
          console.log('values', formState, toRaw(formState));
        })
        .catch((error: ValidateErrorEntity<FormState>) => {
          console.log('error', error);
        });
    };
    return {
      formState,
      formRef,
      rules,
      onSubmit,
    };
  },
});
</script>

<style scoped="scoped">
.button-wrapper {
  margin-top:8px;
}
.form-title {
  margin-left: 15px;
}
.subtitle {
  margin-bottom: 30px;
}
.contact-form {
  padding-right: 30px;
  padding-left: 100px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}
.form-control {
  background-color: #faf9f9 !important;
  box-shadow: none;
  border-radius: 10px !important;
}
.ant-input::placeholder {
  font-weight: 400;
  color: #4f4f4f6b !important;
  font-size: 15px;
}
.general-btn {
  height: 40px;
  padding: 0 20px !important;
}
.user-details,
.user-textarea {
  width: 100%;
}
.user-details {
  margin-bottom: 12px !important;
}
.user-details {
  border: none !important;
}

@media (max-width: 767.98px) {
  .form-title {
    margin-left: 0 !important;
  }
  .contact-form,
  .user-details {
    display: flex !important;
    flex-direction: column;
  }
  .col-input {
    padding: 0 !important;
    margin-top: 20px;
  }
  .contact-form {
    width: 100%;
    display: flex;
    padding: 30px;
    height: 100%;
  }
  .user-details > input {
    width: 290px !important;
    height: 50px;
    border-radius: 10px !important;
    border: none;
  }
  .user-textarea {
    width: 290px;
    border: none;
  }
  .user-details {
    margin-bottom: 20px;
  }
}
</style>
