<template>
  <div class="contact-info blue-background mx-auto d-flex flex-column">
    <h4 class="contact-info-title-small fw-bold justify-content-start">
      Contact Info
    </h4>
    <h1 class="contact-info-title fw-bold justify-content-start">Contact Us</h1>
    <div class="ContactInfoSeparator"></div>
    <ul class="info-details">
      <li
        class="contact-adress d-flex mb-3 justify-content-start align-items-center"
      >
        <font-awesome-icon class="fa-w-16" :icon="['fas', 'map-marker-alt']" />
        <span class="ms-3 fs-6 fw-light">{{ address }}</span>
      </li>
      <li
        class="contact-email d-flex text-white mb-3 justify-content-start align-items-center"
      >
        <font-awesome-icon :icon="['fas', 'envelope']" />
        <span class="ms-3 fs-6 fw-light">{{ mail }}</span>
      </li>
      <li
        class="contact-phone d-flex text-white justify-content-start align-items-center"
      >
        <font-awesome-icon :icon="['fas', 'phone']" />
        <span class="ms-3 fs-6 fw-light">{{ phoneNo }}</span>
      </li>
    </ul>
  </div>
</template>
<script lang="ts">
export default {
  props: {
    phoneNo: String,
    address: String,
    mail: String,
  },
};
</script>
<style scoped="scoped">
.contact-info {
  padding-top: 80px !important;
  padding-right: 30px !important;
  padding-bottom: 80px !important;
  padding-left: 30px !important;
  background-image: url(../../assets/images/background/contact_cover.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.info-details {
  padding: 0 !important;
}
.ContactInfoSeparator {
  height: 3px;
  width: 70px;
  margin-bottom: 30px;
  background: #ffff;
}
.contact-info-title-small,
.contact-info-title,
.info-details {
  color: #ffff;
}
.contact-info-title {
  font-size: 36px;
}
.contact-info-title-small {
  font-size: 15px;
  font-weight: 400 !important;
}
.info-details {
  font-weight: 400 !important;
  font-size: 17px;
}

@media (max-width: 767.98px) {
  .contact-info {
    width: 100% !important;
  }
}
</style>
