<template>
  <div v-if="!loading">
    <div v-if="!titleLoading">
      <SectionHeading
        class="section-heading"
        :title="titles.section[3].title"
        :subtitle="titles.section[3].subtitle"
        :description="titles.section[3].description"
      />
    </div>
    <a-row justify="center" type="flex" :gutter="[30, 30]">
      <a-col :xl="12" :xs="24" v-for="item in newcasinos" :key="item">
        <CardCasinoOnline
          class=" "
          :title="item.title"
          :thumbnail="item.thumbnail"
          :excerpt="item.excerpt"
          :offer="item.termsAndConditions"
          :href="{
              name: 'Casino',
              params: {
                  slug: item.slug
              }
          }"
        />
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import CardCasinoOnline from "../../components/CardCasinoOnline/CardCasinoOnline.vue";
import fetchHomeOnlineCasino from "../../misc/composition/fetchHomeNewOnlineCasino";
import SectionHeading from "../../components/SectionHeading/SectionHeading.vue";
import fetchHomeTitles from "../../misc/composition/fetchHomeSectionTitles";
export default defineComponent({
  name: "Home",
  components: {
    CardCasinoOnline,
    SectionHeading,
  },
  setup() {
    //
    const { newcasinos, loading } = fetchHomeOnlineCasino();
    const { titles, loading: titleLoading } = fetchHomeTitles();
    return { newcasinos, loading, titleLoading, titles };
  },
});
</script>
<style scoped>
.section-heading {
  margin-bottom: 60px;
}
:deep(.card > .centerV){
  justify-content:space-between;
  width:100%;
}
:deep(.card img) {
  width: 115px;
}
</style>
