<template>
  <div class="card anim-shadow-hover centerV" :class="{ 'p-0': mini }">
    <div>
      <router-link :to="href">
        <img
          v-if="thumbnail"
          :src="$getFileSource(thumbnail.url)"
          :class="{ mini }"
        />
      </router-link>
    </div>
    <div :class="{ 'd-flex centerV w-100': !mini }">
      <div class="coinflip-center-flex centerH flex-column">
        <router-link :to="href">
          <span class="title">{{ title }}</span>
        </router-link>
        <p v-if="!mini" class="m-0 hide-on-mobile">{{ excerpt }}</p>
        <p v-if="!mini" class="m-0 hide-on-mobile">{{ description }}</p>
      </div>

      <div class="coinflip-end-flex ms-auto" :class="{ mini }">
        <a-button
          type="link"
          class="button"
          :class="{ 'general-btn': !mini, mini }"
          :href="$router.resolve(href).href"
        >
          <font-awesome-icon
            :icon="['fas', 'arrow-circle-right']"
            class="icon"
          />
          Play Now
        </a-button>
        <div v-if="offer">
          <a-tooltip placement="bottom">
            <template #title>{{ offer }}</template>
            T&C applies
          </a-tooltip>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Thumbnail } from "../../types";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
    excerpt: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: false,
    },
    href: {
      type: [String, Object],
      default: "/",
      required: true,
    },
    offer: {
      type: String,
    },
    mini: {
      type: Boolean,
      default: false,
    },
  },
});
</script>

<style scoped>
@media only screen and (max-width: 767px) {
  .d-flex.centerV {
    flex-direction: column;
    align-items: flex-start;
  }
  .coinflip-end-flex {
    margin-left: 22px !important;
  }
}
/** CARD */
.card {
  background: white;
  transition: all 250ms ease;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 7%);
}

/** BONUS CODE */
.bonus-code {
  font-size: 23px;
  font-weight: 700;
  border: 1.5px solid #389d29;
  color: #389d29;
  border-radius: 15px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

/** IMAGE */
img {
  width: 100px;
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
}

/** TITLE */
.title {
  font-weight: 600;
  margin: 8px 0 11px;
  font-size: 18px;
}

/** CONTENT */
.content {
  padding: 30px 20px;
  border-radius: 0px 0px 10px 10px;
  background: #f9f9f9;
}

.coinflip-center-flex {
  margin-left: 22px;
  margin-right: 10px;
}

.coinflip-end-flex {
  padding-right: 22px;
}
/** MINI PANEL BUTTON */
.button.mini {
  background: 0 0;
  color: #389d29;
  padding: 0;
  font-weight: 600;
  font-family: Raleway;
  text-transform: uppercase;
}
.button.mini svg {
  margin-right: 5px;
  width: 17px;
  height: 17px;
  position: relative;
  top: 1px;
}
.button.mini:hover {
  color: #252525;
}
/** ALIGN MINI BUTTON & T&C WITH TITLE */
.coinflip-end-flex.mini {
  margin-left: 22px !important;
}
img.mini {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 130px;
}

</style>
