<template>
    <div class="d-flex justify-content-between bonuses-section">
        <div class="">
            <CardcashbackEsports
            class=""
            :bonus="100"
            type="Cashback Bonuses"
            :features="features"
          
            />
        </div>
         <div class="">
            <CardcashbackEsports
            class=""
            :bonus="100"
             type="Cashback Bonuses"
              :features="features"
            />
        </div>
         <div class="">
            <CardcashbackEsports
            class=""
            :bonus="100"
             type="Cashback Bonuses"
              :features="features"
            />
        </div>
         <div class="">
            <CardcashbackEsports
            class=""
            :bonus="100"
             type="Cashback Bonuses"
              :features="features"
            />
        </div>
    </div>
</template>

<script  lang="ts">
import {defineComponent} from "vue";
import CardcashbackEsports from "@/components/CardCashbackEsports/CardCashbackEsports.vue"

export default defineComponent({
        name: "Home",
        components: {
            CardcashbackEsports
        },
        
        data() {
            return {
                features: ["€122 WELCOME BONUS", "24/7 SUPPORT", "WIDE ARRAY OF ESPORT"]
            }

        }
});
</script>

<style scoped>
:deep(.bonus-card){
    width: 250px;
  
}
@media (max-width: 767.98px) {
    .bonuses-section{
        display:block!important;
    }
}
</style>