<template>
  <div class="justify-content-evenly centerV">
    <div class="me-5">
      <div class="mt-item-reviews-average-wrapper">
        <div class="rating" :class="['level-color-' + getClassLevel]">{{Math.round((getRatingAvg + Number.EPSILON) * 100) / 100 }}</div>
        <p>Overal Rating</p>
      </div>
    </div>
    <div class="flex-grow-1">
      <progress-bar
        v-for="rating in ratings"
        :key="rating"
        v-bind="rating"
      ></progress-bar>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import ProgressBar from "../ProgressBar/ProgressBar.vue";
import { Rating } from "../../types";
import { meanBy } from "lodash";

export default defineComponent({
  components: { ProgressBar },
  props: {
    ratings: {
      type: Object as PropType<Rating[]>,
      required: true,
    },
  },
  computed: {
    getRatingAvg(): number {
      return meanBy(this.ratings, (p) => p.percentage) / 20;
    },
    getClassLevel() : number {
      return this.getRatingAvg < 1 ? 1 : Math.round(this.getRatingAvg)
    }
  },
});
</script>

<style scoped>
:deep(.ant-progress-bg) {
  background-color: #389d29;
  border-radius: 0 !important;
  height: 5px !important;
}
span {
  font-size: 15px;
  font-weight: 500;
}
.label_text_percentage {
  margin-bottom: -6px;
}

.rating {
      font-size: 60px;
    line-height: 1em;
    font-weight: 700;
    text-align: left;
}
</style>
