<template>
  <swiper
    :slides-per-view="4"
    :centeredSlides="false"
    :spaceBetween="30"
    :grabCursor="true"
    :pagination="{
      clickable: true,
    }"
     :breakpoints="{
      '@0.00': {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      '@0.75': {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      '@1.00': {
        slidesPerView: 3,
        spaceBetween: 40,
      },
      '@1.50': {
        slidesPerView: 5,
        spaceBetween: 50,
      },
    }"
  >
    <swiper-slide v-for="item in items" :key="item">
      <CardGameB v-bind="item" class="bullets"></CardGameB>
    </swiper-slide>
  </swiper>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from "swiper/vue/swiper-vue";

// import Swiper core and required modules
import SwiperCore, { Pagination } from "swiper";

// install Swiper modules
SwiperCore.use([Pagination]);
import "swiper/swiper-bundle.min.css";

// Import Swiper styles
import "swiper/swiper.min.css";
import CardGameB from "../CardGameB/CardGameB.vue";
import { CardGameB as CardsType } from "./../CardGameB/CardGameB";
export default defineComponent({
  components: {
    Swiper,
    SwiperSlide,
    CardGameB,
  },
  props: {
    items: {
      type: Object as PropType<CardsType[]>,
    },
  },
});
</script>

<style scoped>
/** SLIDER BULLETS */
.bullets {
  padding-bottom: 50px;
}

.swiper-pagination.swiper-pagination-bullets {
  bottom: 0 !important;
}
:deep(.swiper-pagination-bullet) {
  width: 35% !important;
  border-radius: 0 !important;
  margin: 0 !important;
  height: 5px;
  background: #5689de !important;
}
@media (max-width: 768px) {
:deep(.swiper-pagination-bullet ){
    width: 20%!important;
}
}

</style>
