<template>
  <div class="">
    <a-row :gutter="[32, 15]">
      <a-col :lg="8">
        <CardNews
          :thumbnail="{ url: 'images/demosimages/card-blog-1.jpeg' }"
          title="Four ways to cheer yourself up on the Next Blue Monday!"
          description="Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum complectitur et, eam ut veri"
          :author="{
            href: 'https://modeltheme.com/go/coinflip/',
            name: 'Jason McElwaine',
          }"
          href="https://modeltheme.com/go/coinflip/"
        />
      </a-col>
      <a-col :lg="8">
        <CardNews
          :thumbnail="{ url: 'images/misc/article-blog-8.jpg' }"
          title="Four ways to cheer yourself up on the Next Blue Monday!"
          description="Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum complectitur et, eam ut veri"
          :author="{
            href: 'https://modeltheme.com/go/coinflip/',
            name: 'Jason McElwaine',
          }"
          href="https://modeltheme.com/go/coinflip/"
        />
      </a-col>
      <a-col :lg="8">
        <CardNews
          :thumbnail="{ url: 'images/misc/article-blog-10.jpg' }"
          title="Four ways to cheer yourself up on the Next Blue Monday!"
          description="Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum complectitur et, eam ut veri"
          :author="{
            href: 'https://modeltheme.com/go/coinflip/',
            name: 'Jason McElwaine',
          }"
          href="https://modeltheme.com/go/coinflip/"
        />
      </a-col>
    </a-row>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CardNews from "@/components/CardNews/CardNews.vue";

export default defineComponent({
  name: "Home",
  components: {
    CardNews,
  },
});
</script>
