<template>
  <div class="home-info center">
    <div v-if="!loading">
      <div class="section-title">
        <SectionHeading
          class="section-info-title"
          :title="info.sectionTitle.title"
          :subtitle="info.sectionTitle.subtitle"
          :description="info.sectionTitle.description"
        />
      </div>

      <a-row class="card-row" justify="center" type="flex" :gutter="[25, { xs: 0, sm: 0, md: 25, lg: 25 }]">
        <a-col
          class="card info-cards"
          :xl="8"
          :xs="24"
          v-for="item in info.content"
          :key="item"
        >
          <CardInfo
            :title="item.title"
            :description="item.description"
            :icon="{
              type: convertTextToIconType(item.icon[0].type),
              name: item.icon[0].name,
            }"
            :link="item.link"
          />
        </a-col>
      </a-row>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import SectionHeading from "../../components/SectionHeading/SectionHeading.vue";
import CardInfo from "../../components/CardInfo/CardInfo.vue";
import fetchHomeInfo from "../../misc/composition/fetchHomeInfo";
import { Icon } from "@/types";
import convertTextToIconType from "../../misc/helpers/convertTextToIconType";

export default defineComponent({
  name: "Home",
  components: {
    CardInfo,
    SectionHeading,
  },
  icon: {
    type: Object as PropType<Icon>,
    required: true,
  },
  setup() {
    const { info, loading } = fetchHomeInfo();
    return { info, loading, convertTextToIconType };
  },
});
</script>
<style scoped>
:deep(.section-title) {
  color: #ffff !important;
}
:deep(.subtitle) {
  color: #ffff !important;
}
:deep(.section-info-title::after) {
  background-color: #ffff !important;
}
@media only screen and (max-width: 767px) {
  .card-row {
    margin: 0 12px !important;
  }
  .card-row > div {
    border-bottom: 2px solid #eeeeee;
    border-right: none !important;
  }
  .card-row > .ant-col {
    padding-top: 0 !important;
  }
}

.card {
  padding: 30px 20px;
  background-color: #ffff;
}
.ant-row .ant-col:not(:last-child) {
  border-right: 2px solid #ececec;
}
.card-row {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}
.section-title {
  margin-bottom: 70px;
}
</style>
