<template>
  <aside>
    <h3>{{ title }}</h3>
    <ul class="p-0">
      <li class="d-flex article" v-for="post in posts" :key="post">
        <div class="thumbnail position-relative">
          <router-link :to="post.href">
            <img
              :src="$getFileSource(post.thumbnail.url)"
              :alt="post.title"
              class="w-100 h-100"
            />
            <div
              class="thumbnail-overlay position-absolute position-absolute-stretch center"
            >
              <font-awesome-icon :icon="['fas', 'plus']" class="icon" />
            </div>
          </router-link>
        </div>
        <div>
          <router-link class="title" :to="post.href">{{
            post.title
          }}</router-link>
          <span class="date">{{ $formatDate(post.date) }}</span>
        </div>
      </li>
    </ul>
  </aside>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

import { MiniPost } from "@/types";

export default defineComponent({
  props: {
    title: {
      type: String,
    },
    posts: {
      type: Object as PropType<MiniPost[]>,
    },
  },
});
</script>

<style scoped>
/** CONTENT */

.title {
  color: #cecece !important;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
  color: #c8c8c8;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  padding: 5px 0 0;
}

/** MISC */

ul > li:not(:last-child) {
  margin: 0 0 15px;
  padding: 0px 0 15px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.13);
}

h3 {
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
  line-height: 25px;
}

/** THUMBNAIL */

.thumbnail {
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.thumbnail img {
  object-fit: cover;
}

/** THUMBNAIL OVERLAY */

.thumbnail-overlay {
  background: rgba(37, 37, 37, 0.7);
  transition: all 0.25s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.article:hover .thumbnail-overlay {
  opacity: 1;
  visibility: visible;
}

svg {
  color: white;
}
</style>
