<template>
  <div class="wrapper center">
    <div class="text-center">
      <h2>See Our Live Games</h2>

      <p>
        At Modeltheme, we show only the best websites and portfolios built
        completely<br />
        with passion, simplicity &amp; creativity !
      </p>

      <img
        @click="showModal"
        src="../../assets/images/misc/Coinflip-Play.png"
        alt="Play"
        class="buton_image_class"
      />
    </div>
  </div>

  <a-modal
    v-model:visible="visible"
    width="100%"
    wrap-class-name="full-modal"
    @ok="handleOk"
  >
    <iframe
      class="mfp-iframe w-100"
      :src="youtubeLink"
      frameborder="0"
      allowfullscreen="true"
    ></iframe>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    const visible = ref<boolean>(false);

    const showModal = () => {
      visible.value = true;
    };

    const handleOk = (e: MouseEvent) => {
      console.log(e);
      visible.value = false;
    };
    return {
      visible,
      showModal,
      handleOk,
    };
  },
  props: {
    youtubeLink: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>
.wrapper {
  background: url("../../assets/images/misc/recommended-bonus-scaled.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 510px;
}
h2 {
  font-size: 36px;
  color: #ffffff;
  line-height: 43px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.mfp-iframe {
  min-height: 510px;
}
p {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: white;
  margin-bottom: 32px;
}
.buton_image_class {
  transform: scale(1);
  transition: all 0.4s ease-in-out 0s;
  max-width: 120px;
  cursor: pointer;
}
.buton_image_class:hover {
    transform: scale(1.1);
}
</style>
