<template>
  <transition name="fade">
    <div class="coinflip_preloader_holder center" v-if="loading">
      <img
        class="preloader_image"
        src="../assets/images/logos/coinflip-loader.svg"
        alt="Coinflip"
      />
    </div>
  </transition>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    loading: {
      type: Boolean,
    },
  },
});
</script>
<style scoped="scoped">
body .coinflip_preloader_holder {
  background-color: #151515;
}
.coinflip_preloader_holder {
  background: #009dde none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10003;
}
.coinflip_preloader_holder .preloader_image {
  top: 45%;
  left: 45%;
  width: 13%;
  position: absolute;
  transform: scale(1);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
</style>
