<template>
  <div class="d-flex flex-column">
    <ul class="categories-list list-unstyled">
      <li class="categories-list p-2" v-for="(link, i) in items" :key="link">
        <span class="d-flex justify-content-between">
          <router-link
            @click.prevent="
              link.path.includes('[blank]') === false
                ? $emit('menuSelected')
                : currentActiveDropdownMenu === i
                ? (currentActiveDropdownMenu = -1)
                : (currentActiveDropdownMenu = i)
            "
            :to="removeBlankLink(link.path)"
          >
            {{ link.title }}
          </router-link>
          <font-awesome-icon
            @click.prevent="
              currentActiveDropdownMenu === i
                ? (currentActiveDropdownMenu = -1)
                : (currentActiveDropdownMenu = i)
            "
            v-if="link.items.length > 0"
            :icon="['fas', 'angle-down']"
          />
        </span>
        <template v-if="i === currentActiveDropdownMenu">
          <mobile-submenu
            :items="link.items"
            :menuPath="replaceBlankLink(link.path)"
            @menuSelected="$emit('menuSelected')"
          ></mobile-submenu>
        </template>
      </li>
    </ul>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { API_Menu_Link } from "../types";
import MobileSubmenu from "./MobileSubmenu.vue";

export default defineComponent({
  components: { MobileSubmenu },
  props: {
    items: {
      type: Object,
    },
  },
  data() {
    return {
      currentActiveDropdownMenu: -1,
      expanded: false,
    };
  },
  methods: {
    isMegaMenu(item: API_Menu_Link) {
      return item.items
        .map((item) => item.items.length > 0)
        .every((v) => v === true);
    },
  },
  setup() {
    function removeBlankLink(link: string): string {
      if (link.includes("[blank]")) {
        return "";
      }
      return link;
    }
    function replaceBlankLink(link: string): string {
      if (link.includes("[blank]")) {
        return link;
      }
      return "";
    }
    return { removeBlankLink, replaceBlankLink };
  },
});
</script>
<style scoped="scoped">
.categories-list li .svg-inline--fa:not(.fa-angle-down) {
  height: 10px;
  width: 10px;
}
.categories-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #151515;
  font-size: 13px !important;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 34px;
}

.svg-inline--fa.fa-w-10 {
  width: 0.8em;
  height: 1.5em;
}
@media screen and (max-width: 767px) {
  .categories-list > li {
    padding: 3px 15px !important;
  }
}

.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}
</style>
