<template>
  <ul class="categories-list list-unstyled">
    <li v-for="(item, i) in items" :key="item">
      <router-link
        :to="item.path.replace(menuPath, '')"
        :removeDecorations="true"
        class="d-flex justify-content-between"
      >
        <span @click="$emit('menuSelected')">{{ item.title }}</span>
        <font-awesome-icon
          @click.prevent="
            currentActiveDropdownMenu === i
              ? (currentActiveDropdownMenu = -1)
              : (currentActiveDropdownMenu = i)
          "
          v-if="item.items.length > 0"
          :icon="['fas', 'angle-down']"
        />
      </router-link>
      <template v-if="i === currentActiveDropdownMenu">
        <mobile-submenu
          :isNestedSubmenu="true"
          :menuPath="menuPath"
          :items="item.items"
        ></mobile-submenu>
      </template>
    </li>
  </ul>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { API_Menu_Link } from "../types";

export default defineComponent({
  props: {
    items: {
      type: Object,
    },
    menuPath: {
      type: String,
    },
    isNestedSubmenu: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      currentActiveDropdownMenu: -1,
      expanded: false,
    };
  },
  methods: {
    isMegaMenu(item: API_Menu_Link) {
      return item.items
        .map((item) => item.items.length > 0)
        .every((v) => v === true);
    },
  },
  setup() {
    function removeBlankLink(link: string): string {
      if (link.includes("[blank]")) {
        return "";
      }
      return link;
    }
    function replaceBlankLink(link: string): string {
      if (link.includes("[blank]")) {
        return link;
      }
      return "";
    }
    return { removeBlankLink, replaceBlankLink };
  },
});
</script>
<style scoped="scoped">
.categories-list li .svg-inline--fa:not(.fa-angle-down) {
  height: 10px;
  width: 10px;
}
.categories-list li {
  color: #000000 !important;
  font-weight: 500;
  text-transform: none;
  line-height: 30px !important;
}
.list-unstyled {
  list-style-type: none;
  padding-left: 20px !important;
}
ul {
  margin: 5px 0;
}
.svg-inline--fa.fa-w-10 {
  width: 0.8em;
  height: 1.5em;
}
</style>
