<template>
    <div v-if="!loading">
        <AboutUs
            :title="offer.title"
            :thumbnail="offer.thumbnail"
            :smalltitle="offer.smalltitle"
            :description="offer.description"
            :subtitle="offer.subtitle"
            :href="offer.button.href"
            :buttonName="offer.button.name"
        />
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import AboutUs from "../../components/AboutUs/AboutUs.vue"
import fetchAboutOffer from "../../misc/composition/fetchAboutOffer"
export default defineComponent({
  name: "Home",
  components: {
  AboutUs
  },
  setup() {
    //
    const {offer, loading} = fetchAboutOffer();
    return {offer,loading};
  },
});
</script>

