<template>
  <div class="deals-cards d-flex justify-content-around">
    <div>
      <img
        class="deals-thumbnail hide-on-mobile"
        v-if="thumbnail"
        :src="$getFileSource(thumbnail.url)"
      />
    </div>
    <h3 class="title">
      {{ title }}
    </h3>
    <div class="btn-side">
      <a-button class="deals-btn general-btn" :href="$router.resolve(href).href" >GET BONUS</a-button>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Thumbnail } from "../../types";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    href: {
      type: [String, Object],
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
  },
});
</script>
<style scoped>
.deals-cards {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 7%);
  border-radius: 10px;
}
.title {
  display: inline-block;
  width: 57%;
  padding-right: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-top: 30px;
}
.deals-thumbnail {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0 15px;
}
.btn-side {
  margin-top: 30px;
  padding: 0 15px;
}
.deals-btn {
  border-radius: 75px !important;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 15px;
  margin-top: 6px;
}
@media screen and (max-width:760px) {
  .title, .btn-side {
    margin-top: 0px;
  }
}
</style>
