<template>
  <div>
    <div>
      <p class="subtitle">{{ subtitle }}</p>
      <h2 class="title">{{ title }}</h2>
    </div>

    <div>
      <p class="description">{{ description }}</p>
    </div>

    <slot name="action">
      <a-button
        v-if="buttonName"
        type="link"
        class="button general-btn wide no-anim"
        :href="href"
      >
        {{ buttonName }}
      </a-button>
    </slot>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
    },
    description: {
      type: String,
      required: true,
    },
    href: {
      type: String,
      default: "/",
      required: true,
    },
    buttonName: {
      type: String,
    },
  },
});
</script>

<style scoped>
/** DESCRIPTION */
.description {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
  margin-top: 45px;
  margin-bottom: 50px;
}

/** TITLE */
h2 {
  font-size: 35px;
  line-height: 1.1;
  font-weight: bold;
}

/** SUBTITLE */
.subtitle {
  color: #616161;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  font-family: Raleway;
}
.title{
  line-height:1.4;
}
</style>
