<template>
  <div class="hero">
    <div
      class="container d-flex align-middle justify-content-around align-items-center"
    >
      <div class="pe-5 ps-md-0 ps-3">
        <h1 class="title">{{ title }}</h1>
        <p class="description w-75">{{ description }}</p>
        <div class="hero-btn pt-3">
          <a-button class="general-btn no-anim" href="/">back to home</a-button>
          <a-button
            v-if="purchaseLink"
            class="general-btn second-btn no-anim ms-4"
            :href="$router.resolve(purchaseLink).href"
            >purchase</a-button
          >
        </div>
      </div>
      <div class="media center hide-on-mobile">
        <img
          v-if="youtubeLink"
          @click="showModal"
          src="../../assets/images/misc/Coinflip-Play.png"
          alt="Play"
          class="buton_image_class"
        />
      </div>
    </div>

    <a-modal
      v-if="youtubeLink"
      v-model:visible="visible"
      width="100%"
      wrap-class-name="full-modal"
      @ok="handleOk"
    >
      <iframe
        class="mfp-iframe w-100 h-100"
        :src="youtubeLink"
        frameborder="0"
        allowfullscreen="true"
      ></iframe>
    </a-modal>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    purchaseLink: {
      type: [String, Object],
    },
    youtubeLink: {
      type: String,
    },
  },
  setup() {
    const visible = ref<boolean>(false);

    const showModal = () => {
      visible.value = true;
    };

    const handleOk = (e: MouseEvent) => {
      console.log(e);
      visible.value = false;
    };
    return {
      visible,
      showModal,
      handleOk,
    };
  },
});
</script>

<style scoped>
.container {
  padding: 250px 0;
}
.second-btn {
  background-color: #ffff !important;
}
:deep(.second-btn:hover span) {
  color: #fff !important;
}
:deep(.ant-modal-body) {
  aspect-ratio: 16/9;
}
.buton_image_class {
  transform: scale(1);
  transition: all 0.4s ease-in-out 0s;
  max-width: 120px;
  cursor: pointer;
}
:deep(.second-btn > span) {
  color: #000;
}
.media {
  border-radius: 10px;
  height: 300px;
  width: 500px;
  background-image: url("../../assets/images/misc/banner-coinflip-video-1.jpg");
  background-position: center;
}
.hero {
  background-size: cover;
  background-position: center center;
  background-image: url("../../assets/images/demosimages/hero.jpeg");
}
.title {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin: 0 !important;
}
.description {
  color: #fff;
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
}
.herto-btn {
  padding-top: 10px;
}
</style>
