<template>
<aside>
    <h3>{{ title }}</h3>
    <p>
        {{description}}
    </p>

    <form method="post">
        <div class="d-flex">
            <div class="c-sign-up-form-input w-100">
                <input type="email" name="EMAIL" placeholder="Insert your email" required="" class="w-100">
            </div>
            <button type="submit">
                <font-awesome-icon :icon="['fas', 'arrow-right']" class="icon" /></button>
        </div>
    </form>
</aside>
</template>

<script lang="ts">
import {
    defineComponent,
} from "vue";

export default defineComponent({
    props: {
        title: {
            type: String,
        },
        description: {
            type: String
        }
    }
})
</script>

<style scoped>
h3 {
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px 0;
    line-height: 25px;
}

p {
    margin-bottom: 30px;
    color: #c8c8c8;
    font-size: 14px;
}

input {
    background: #151515;
    border-radius: 0px;
    color: #c8c8c8;
    font-size: 14px;
    padding: 5px 15px;
    height: 50px;
    font-weight: 300;
    border: 2px solid #151515;
    outline: 0;
}

button {
    border: 0 none;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    outline: 0;
    background-color: #151515;
    color: #fff;
    font-style: normal;
    width: 20%;
    height: 50px;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #ffff !important;
    color: #151515;
}
</style>
