<template>
    <div>
        <a-row :gutter="[32,16]">
            <a-col :lg="8">
                <BlogCards 
                title="Four ways to cheer yourself up on the Next Blue Monday!"
                smalltitle="BETTING-NEWS"
                 :date="$formatDate(new Date())"
              />
            </a-col>
                 <a-col :lg="8">
                <BlogCards 
                title="Which are the Most Popular Roulette Systems?"
                smalltitle="BETTING-NEWS"
                :date="$formatDate(new Date())"
                 />
            </a-col>
                 <a-col :lg="8">
                <BlogCards 
                title="How to Properly Use Casino Fibonacci System for now"
                smalltitle="BETTING-NEWS"
                :date="$formatDate(new Date())"
                 />
            </a-col>
        </a-row>

    </div>
</template>
<script lang="ts">
import { defineComponent,PropType } from "vue";
import BlogCards from "../BlogCards/BlogCards.vue"
export default defineComponent({
  name: "Home",
  components: {
    BlogCards       
  },
   props: {
    items: {
      type: Object as PropType<String[]>,
    },
    title: {
        type:String
    },
  },
});
</script>

<style scoped>
.news-cards{
    height:330px;
}
</style>