<template>
  <footer v-if="!loading">
    <div class="container">
      <a-row :gutter="[24, 24]">
        <a-col :xl="6" :xs="24">
          <footer-about-us
            :title="'About Us'"
            :description="footer.aboutUs"
            :contacts="[
              {
                href: footer.email,
                name: 'Email Us',
                actionMask: footer.email,
                actionURL: 'mailto:' + footer.email,
              },
              {
                href: footer.phoneNo,
                name: 'Call Us',
                actionMask: footer.phoneNo,
                actionURL: 'tel:' + footer.phoneNo,
              },
            ]"
            :socials="footer.socials"
          ></footer-about-us>
        </a-col>
        <a-col :xl="6" :xs="24">
          <footer-recent
            :title="'RECENT POSTS'"
            v-if="!blogsLoading"
            :posts="miniBlogs"
          ></footer-recent>
        </a-col>
        <a-col :xl="6" :xs="24">
          <footer-recent
            :title="'RECENT CASINOS'"
            v-if="!casinosLoading"
            :posts="miniCasinos"
          ></footer-recent>
        </a-col>
        <a-col :xl="6"  :xs="24">
          <footer-subscribe
            :title="'Subscribe'"
            :description="footer.subscribeText"
          ></footer-subscribe>
        </a-col>
      </a-row>
    </div>
    <div class="footer-div-parent">
      <div class="container_inner_footer">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright text-center">
              © 2022 Joe Bove
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import FooterAboutUs from "../FooterAboutUs/FooterAboutUs.vue";
import FooterRecent from "../FooterRecent/FooterRecent.vue";
import FooterSubscribe from "../FooterSubscribe/FooterSubscribe.vue";
import fetchFooter from "../../misc/composition/fetchFooter";
import fetchBlogs from "../../misc/composition/fetchBlogs";
import fetchCasinos from "../../misc/composition/fetchCasinos";
export default defineComponent({
  components: { FooterAboutUs, FooterRecent, FooterSubscribe },
  setup() {
    const { footer, loading } = fetchFooter();
    const { blogs, loading: blogsLoading } = fetchBlogs(2);
    const { casinos, loading: casinosLoading } = fetchCasinos(2);

    let miniBlogs = ref();
    let miniCasinos = ref();
    watch(blogsLoading, () => {
      miniBlogs.value = blogs.value.map((blog) => {
        return {
          title: blog.title,
          href: {
            name: "Blog",
            params: {
              slug: blog.slug,
            },
          },
          thumbnail: blog.thumbnail,
          date: blog.publishedAt,
        };
      });
    });
    watch(casinosLoading, () => {
      miniCasinos.value = casinos.value.map((casino) => {
        return {
          title: casino.title,
          href: {
            name: "Casino",
            params: {
              slug: casino.slug,
            },
          },
          thumbnail: casino.cover,
          date: casino.publishedAt,
        };
      });
    });

    return {
      footer,
      loading,
      blogs,
      blogsLoading,
      miniBlogs,
      casinosLoading,
      miniCasinos,
    };
  },
});
</script>

<style scoped>
footer {
  background: #222;
}
footer > div:first-child {
  padding-top: 60px;
  padding-bottom: 50px;
}
strong {
  color: #e8aa02;
}
p.copyright {
  line-height: 60px;
  margin: 10px 0;
  background: #222;
  color: #c8c8c8;
  font-size: 15px;
  border-top: 1px solid #60606060;
}
</style>
