<template>
  <div class="position-absolute" :class="{ isMegaMenu }">
    <div v-if="items !== undefined" class="submenu-vertical">
      <div
        class="d-flex wrapper"
        :class="{ 'flex-column': !isMegaMenu }"
        v-for="rowIdx in Math.ceil(items.length / itemsPerRow)"
        :key="rowIdx"
      >
        <template v-if="isMegaMenu">
          <div
            class="d-inline-flex flex-column mb-3 col-wrapper"
            v-for="item in items.slice(
              itemsPerRow * (rowIdx - 1),
              itemsPerRow * rowIdx
            )"
            :key="item"
          >
            <h6 class="fw-bold text-uppercase text-dark">{{ item.title }}</h6>
            <div class="item-group" v-for="link in item.items" :key="link">
              <router-link
                v-if="link.type === 'INTERNAL'"
                :to="link.path.replace(menuPath, '')"
                >{{ link.title }}</router-link
              >

              <a v-else class="item-group" :href="link.path" target="_blank">{{
                link.title
              }}</a>
            </div>
          </div>
        </template>

        <template v-else>
          <div
            class="d-flex flex-column liunk"
            v-for="item in items"
            :key="item"
          >
            <router-link
              v-if="item.type === 'INTERNAL'"
              class="p-0 item-group"
              :to="item.path.replace(menuPath, '')"
              >{{ item.title }}</router-link
            >

            <a
              v-else
              :href="item.path"
              target="_blank"
              class="p-0 item-group"
              >{{ item.title }}</a
            >
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

import { API_Menu_Link } from "../../types";

export default defineComponent({
  props: {
    items: {
      type: Object as PropType<API_Menu_Link[]>,
      required: true,
    },
    itemsPerRow: {
      type: Number,
      default: 3,
    },
    menuPath: {
      type: String,
    },
  },
  computed: {
    isMegaMenu() {
      if (this.items === undefined) return false;
      return this.items
        .map((item) => item.items.length > 0)
        .every((v) => v === true);
    },
  },
});
</script>

<style scoped>
/** SUBMENU CONTAINER */
.submenu-vertical {
  box-shadow: 0 10px 10px rgb(37 37 37 / 12%);
  text-align: left;
  position: absolute;
  top: 150%;
  transition: all 0.25s ease-in-out;
  padding: 25px 0;
  border-radius: 5px;
  background: white;
  z-index: 500;
  min-width: 100%;
}
.isMegaMenu {
  left: -400%;
}
.liunk .item-group {
  padding: 10px 25px !important;
  white-space: pre;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
.liunk .item-group:hover {
  background: white !important;
  color: #252525;
  text-decoration: underline;
}
.col-wrapper {
  margin: 0 25px !important;
}

.wrapper {
  margin: auto;
  width: stretch;
}

/** SUBMENU ITEM GROUP */
.item-group a {
  line-height: 2.5;
  font-weight: 400;
  font-size: 14px;
  min-width: 150px;
  white-space: nowrap;
  text-transform: initial;
}

.item-group:hover {
  color: rgb(255, 255, 255);
  border-left: 2px solid #389d29;
  background-color: #f3f3f4;
}

.item-group:hover a {
  margin-left: 5px;
}

.item-group,
.item-group a {
  transition: all 250ms ease-in-out 0s;
}

.item-group {
  min-width: 200px;
}
/** SUBMENU ITEMS */

.submenu-vertical a {
  padding-top: 10px;
  font-size: 14px;
  color: #252525;
  font-weight: 500;
  padding-left: 15px;
  cursor: pointer;
}

/** ITEM TITLE */
h6 {
  color: #151515;
  padding-top: 15px;
  padding-left: 10px;
  display: block;
  font-weight: bold;
  font-family: Poppins;
  font-size: 17px;
  line-height: 25px;
  white-space: nowrap;
}
.submenu {
  box-shadow: 0 10px 10px rgb(37 37 37 / 12%);
}
.liunk a {
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  min-width: 150px;
  line-height: 1.6;
  padding: 10px 0 !important;
}
</style>
