<template>
  <!-- New Table -->
  <div class="table w-100">
    <div class="row bookmaker-table-titles d-flex">
      <div class="cell-title-bookmaker hide-on-mobile">Bookmaker</div>
      <div class="cell-title-features hide-on-mobile">Languages</div>
      <div class="cell-title-comments hide-on-mobile">Rating</div>
      <div class="cell-title-offers hide-on-mobile">New account offers</div>
      <div class="cell-title-actions hide-on-mobile">Actions</div>
    </div>
    <div class="table-content" v-for="(item, i) in items" :key="item.id">
      <div class="d-block d-md-flex">
        <div class="cell bookmaker-title center">
          <div class="position-relative">
            <img src="../../assets/images/misc/badge.svg" />
            <div class="position-absolute position-absolute-stretch img-num">
              {{ i+1 }}
            </div>
          </div>
          {{ item.title }}
        </div>
        <div
          class="cell bookmaker-features center hide-on-mobile"
          v-if="item.tags.languages !== null"
        >
          <template v-for="lang in item.tags.languages" :key="lang.code">
            <img
              v-if="lang.code !== 'EN'"
              width="20"
              height="20"
              :src="$getFileSource(`/images/flags/${lang.code}.svg`)"
              class="me-2"
            />
            <img
              v-else
              width="20"
              height="20"
              :src="$getFileSource(`/images/flags/US.svg`)"
              class="me-2"
            />
          </template>
        </div>
        <div class="cell bookmakers-comments text-center center hide-on-mobile">
          <Rating
            class="d-flex"
            v-if="item.review !== null"
            :rating="calcRating(item.review.rating)"
          ></Rating>
        </div>
        <div class="cell bookmakers-offer d-block text-center">
          <span class="offer-value">{{ item.offerValue }}</span
          ><br />
          <span class="offer-info">{{ item.offerInfo }}</span>
        </div>
        <div class="cell bookmakers-action d-block text-center align-middle">
          <div class="buttons d-flex center">
            <a-button
              :href="item.referralLink"
              type="link"
              class="general-btn me-4"
              >Play Now</a-button
            >
          </div>
          <a-tooltip class="info-tooltip" placement="bottom">
            <template #title
              ><span class="info-tooltip-text"
                >New Customer Offer.Exchange bets excluded.</span
              >
            </template>
            <span>T&C applies</span>
          </a-tooltip>
        </div>
      </div>
    </div>
  </div>
  <!-- End New Table -->
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { API_Bookmaker, Rating as API_Rating } from "../../types";
import Rating from "../Rating/Rating.vue";
import { meanBy } from "lodash";
export default defineComponent({
  setup() {
    const calcRating = function (rating: API_Rating[]) {
      return Math.round(meanBy(rating, (p: API_Rating) => p.percentage) / 20);
    };
    return { calcRating };
  },
  props: {
    items: {
      type: Object as PropType<API_Bookmaker[]>,
    },
  },
  methods: {
    nameToIcon(name: string): string {
      if (name === "Unlimited withdraw limits") {
        return "viruses";
      } else if (name === "Multiple withdraw methods") {
        return "euro-sign";
      } else if (name === "Live chat open 24/7") {
        return "heart";
      } else if (name === "Mobile-friendly design") {
        return "laptop";
      }
      return "minus";
    },
  },
  components: { Rating },
});
</script>

<style scoped>
td {
  border: 1px solid #e6e6e6;
  padding: 25px;
}
.bookmaker-offers {
  text-align: center;
}

.img-num {
  width: fit-content;
  height: fit-content;
  margin: auto;
  color: red;
  font-size: 13px;
  top: -10px;
}
.table-head {
  font-weight: 400;
  font-size: 15px;
  padding: 10px 10px 10px 0;
}
.bookmaker-title {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  border: 1px solid #e6e6e6;
  border-bottom: 0px;
  width: 20%;
}
.bookmaker-title:last-child,
.table {
  border-bottom: 1px solid #e6e6e6;
}
.bookmaker-features,
.bookmakers-offer {
  border: 1px solid #e6e6e6;
  border-bottom: 0px;
  border-left: 0;
  width: 20%;
}
.bookmakers-action {
  width: 22%;
  border: 1px solid #e6e6e6;
  border-bottom: 0px;
  border-left: 0;
}
.bookmakers-comments {
  width: 20%;
  border: 1px solid #e6e6e6;
  border-left: 0;
  border-bottom: 0;
}
.bookmaker-table-titles {
  margin-bottom: 10px;
}
.offer-value {
  font-size: 15px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 600;
  color: #606060;
}
.info-tooltip-text {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.offer-info {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 300;
  color: #686868;
}
.review-btn {
  margin: 0;
  padding: 4px 25px !important;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Raleway;
  height: fit-content;
  margin: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
}
.cell {
  padding: 25px;
}
.cell-title-bookmaker,
.cell-title-features {
  margin-right: 170px;
}
.cell-title-comments {
  margin-right: 115px;
}
.cell-title-offers {
  margin-right: 260px;
}
@media (max-width: 767.98px) {
  .bookmakers-comments {
    display: none;
  }
  .bookmaker-title,
  .bookmaker-features,
  .bookmakers-offer,
  .bookmakers-action,
  .bookmakers-offer {
    width: 100%;
  }
  .table {
    overflow: auto;
  }
}
.table-2 {
  overflow: auto;
}
</style>
