<template>
  <div class="card text-center anim-shadow-hover anim-translateY-hover">
    <div class="popularity" v-if="popularity">
      <span>{{ popularity }}</span>
    </div>
    <div class="img-left">
      <img src="../../assets/images/misc/money.svg" />
      <div class="bonus-code">{{ bonus }}</div>
      <div class="text-lowercase mt-3 mb-4">{{ category }}</div>
    </div>

    <div class="content">
      <!-- <p >{{ description }}</p> -->
      <p class="rewards">{{ rewards }}</p>
      <a-button
        type="link"
        class="button general-btn"
        :href="$router.resolve(href).href"
      >
        Get Bonus
      </a-button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    bonus: {
      type: String,
      required: true,
    },
    rewards: {
      type: String,
      required: true,
    },
    category: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: false,
    },
    popularity: {
      type: Number,
      required: false,
    },
    href: {
      type: [String, Object],
      default: "/",
      required: true,
    },
  },
});
</script>

<style scoped>
/** CARD */
.card {
  background: white;
  transition: all 250ms ease;
  box-shadow: 0 0 20px rgb(0 0 0 / 7%);
}

/** BONUS CODE */
.bonus-code {
  font-size: 23px;
  font-weight: 700;
  border: 1.5px solid #389d29;
  color: #389d29;
  border-radius: 15px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

/** IMAGE */
img {
  width: 100px;
  object-fit: cover;
  height: 100%;
  margin: auto;
  display: block;
  padding: 20px 0 10px;
}

/** DESCRIPTION */
p {
  margin: 20px 0;
  margin-top: 10px;
}
.rewards {
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 300;
  color: #686868;
}
.popularity {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 25px;
  font-weight: 700;
  color: #999;
  opacity: 0.6;
}

/** TITLE */
h4 {
  font-size: 23px !important;
  margin: 0 !important;
  line-height: 1;
  font-weight: 700;
}

h4 > a {
  color: #151515;
}

h4:hover > a {
  text-decoration: underline;
}

/** CONTENT */
.content {
  padding: 30px 35px;
  border-radius: 0px 0px 10px 10px;
  background: #f9f9f9;
}
</style>
