<template>
      <div class="fluid-container hide-on-mobile">
                <SectionWithImage
                    class="special-container"
                    :thumbnail="thumbnail"
                    :rtl="false">
                    <SectionTitle
                    class="faq-section-title"
                    title="Looking to get into
world of eSport betting?"
                    />
                    <FAQ :items="elements"/>
                </SectionWithImage>
            </div>
</template>
<script lang="ts">
import {defineComponent,PropType} from "vue";


import SectionWithImage from "@/components/SectionWithImage/SectionWithImage.vue";
import FAQ from "@/components/FAQ/FAQ.vue";
import SectionTitle from "@/components/SectionTitle/SectionTitle.vue"
import {Thumbnail} from "@/types"
export default defineComponent({
        name: "Home",
        components: {

            SectionWithImage,
            FAQ,
            SectionTitle
        },
        props:{
           thumbnail: {
            type: Object as PropType<Thumbnail>,
            required: true,
            },
        },
        data(){
            return{
                elements:[
                    {
                    question: "Which Plan is good for me ?",
                    answer:
                    "Trends, vision dominates a lot of our subconscious interpretation of the world around us. On top it, pleasing images create better user experience.    ",
                    },
                    {
                    question: "Do I have to commit to a program",
                    answer:
                    "Trends, vision dominates a lot of our subconscious interpretation of the world around us. On top it, pleasing images create better user experience.    ",
                    },
                    {
                    question: "What Payment Methods are Available?",
                    answer:
                    "Trends, vision dominates a lot of our subconscious interpretation of the world around us. On top it, pleasing images create better user experience.    ",
                    }
                ]
            }
        }
 });
</script>

<style scoped>

:deep(.ant-collapse-header){
 
background-color: #292b33!important;
color:#ffff!important;
}
:deep(.ant-collapse-content-box){
    background-color: #1a1b1f !important;
}
:deep(.side-one){
    background-color: #1a1b1f !important;
}
:deep(.side-two){
    background-color: #1a1b1f !important;
}
:deep(.side-two img){
    object-fit:fill;
}

:deep(.ant-collapse-content-active){
        background-color: #1a1b1f !important;
}
:deep(.faq-section-title::after){
    display:none!important;
}
:deep(.faq-section-title){

    font-size: 32px;
    color: #ffffff;
    line-height: 35px;
    text-align: left;
  
}
.faq-section-title{
    margin-bottom:30px;
}
</style>
