<template>
  <div v-if="!loading">
    <div v-if="!titleLoading">
      <SectionHeading
        class="section-heading"
        :title="titles.section[1].title"
        :subtitle="titles.section[1].subtitle"
        :description="titles.section[1].description"
      />
    </div>
    <a-row justify="center" type="flex" :gutter="[25, 25]">
      <a-col :xl="8" v-for="item in slots" :key="item">
        <CardGame
        class="card-game"
          :title="item.title"
          :thumbnail="item.thumbnail"
          :excerpt="item.excerpt"
          :href="{
              name: 'Slot',
              params: {
                  slug: item.slug
              }
          }"
        />
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import CardGame from "../../components/CardGame/CardGame.vue";
import fetchHomeSlots from "../../misc/composition/fetchHomeSlots";
import fetchHomeTitles from "../../misc/composition/fetchHomeSectionTitles";
import SectionHeading from "../../components/SectionHeading/SectionHeading.vue";
export default defineComponent({
  name: "Home",
  components: {
    CardGame,
    SectionHeading,
  },
  setup() {
    //
    const { slots, loading } = fetchHomeSlots();
    const { titles, loading: titleLoading } = fetchHomeTitles();
    return { slots, loading, titleLoading, titles };
  },
});
</script>
<style scoped>
.section-heading {
  margin-bottom: 60px;
}

</style>
