<template>
    <div>
        <div class="blog-card d-flex flex-column">
            <div class="thumbnail">
                <img class="image-thumbnail" :src="$getFileSource(thumbnail.url)"/>
            </div>
            <div class="content d-flex flex-column">
                <span class="date">{{date}}</span>
                <router-link to="/">
                    <span class="title">{{title}}</span>
                </router-link>
                <span class="description">{{description}}</span>
        
                <span class="author">{{author}}</span>
            </div>
        </div>
        <div class="">

        </div>
    </div>
</template>
<script lang="ts">
import {
    defineComponent,PropType
} from "vue";
import {Thumbnail} from "../../types";
export default defineComponent({
    props: {
        title: {
            type: String,
            required: true
        },
        description: {
            type: String,
            required: true
        },
        link:{
            type:String,
            required: true
        },
        date:{
            type:String,
            required:true
        },
        author:{
            type:String,
            required:true
        },
        thumbnail: {
            type: Object as PropType<Thumbnail>,
            required: true,
        }
    }
})

</script>

<style scoped>
.blog-card{
    box-shadow: 0 0 20px rgb(0 0 0 / 7%);
    overflow:hidden;
}
.content{
    padding:35px 35px 30px;
    background-color:#ffff;
}
.image-thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 600ms ease-in-out 0s;
    -webkit-transition: all 600ms ease-in-out 0s;
  }
.date{
    font-size:14px;
    font-weight:500;
    color:#686868;
}
.title{
    font-size: 20px;
    line-height: 1.4!important;
    font-weight: 600;
    text-transform: none;
    color: #151515;
    padding-top:10px;
   padding-bottom:10px;
}
.description{
    font-size: 16px;
    line-height: 25px;
    font-family: Raleway;
    font-weight: 400;
    color: #686868;
    padding-bottom:15px;
   
}
.author{
    color: #389d29 !important;
    font-weight:500;
    padding:20px 0 0;
    border-top: 2px solid #ececec;
}
.blog-card:hover .image-thumbnail {
    transform: scale(1.03) rotate(1deg);opacity: 0.9;}

</style>
