<template>
  <div v-if="!titleLoading">
    <div class="section-title">
      <slot>
        <SectionHeading
          class="section-heading"
          :title="titles.section[0].title"
          :subtitle="titles.section[0].subtitle"
          :description="titles.section[0].description"
        />
      </slot>
    </div>
  </div>
  <div v-if="!loading">
    <a-row justify="center" type="flex" :gutter="[30, 30]">
      <a-col :xl="6" :xs="24" v-for="item in casinos" :key="item">
        <CardCasinoOffer
          class="card-casino"
          :thumbnail="item.thumbnail"
          :title="item.title"
          :description="item.description"
          :rating="item.review === null ? 0 : fCalcRating(item.review.rating)"
          :href="{
            name: 'Casino',
            params: {
              slug: item.slug,
            },
          }"
          :offer="item.termsAndConditions"
          :reward="item.excerpt"
        />
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { defineComponent, Ref } from "vue";
import CardCasinoOffer from "../../components/CardCasinoOffer/CardCasinoOffer.vue";
import fetchHomeTitles from "../../misc/composition/fetchHomeSectionTitles";
import fetchHomeCasinoByID from "../../misc/composition/fetchHomeCasinoByID";
import SectionHeading from "../../components/SectionHeading/SectionHeading.vue";
import casinoHelpers from "../../misc/composition/casinoHelpers";
import { Casino } from "../../types";
export default defineComponent({
  name: "Home",
  components: {
    CardCasinoOffer,
    SectionHeading,
  },
  setup() {
    const { casinos, loading } = fetchHomeCasinoByID();
    const { titles, loading: titleLoading } = fetchHomeTitles();
    const { fCalcRating } = casinoHelpers({} as Ref<Casino>);
    return { casinos, loading, titleLoading, titles, fCalcRating };
  },
});
</script>
<style scoped>
.section-title {
  margin-bottom: 55px;
}
</style>
