<template>
  <div class="bonus-card">
    <div>
      <div
        class="header d-flex flex-column text-center"
        :style="{
          'background-image':
            'url(' +
            require('../../assets/images/demosimages/thumbnail-cashback-card-esports-2.png') +
            ')',
        }"
      >
        <span class="bonus-code">{{ bonus }}</span>
        <span class="type">{{ type }}</span>
      </div>

      <div class="content d-flex flex-column justify-content-center">
        <ul class="features-list text-center">
          <li v-for="feature in features" :key="feature">{{ feature }}</li>
        </ul>
        <a-button class="general-btn bonus-btn">get bonus</a-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Thumbnail, API_CustomEnumeration } from "@/types";
export default defineComponent({
  props: {
    bonus: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    link: {
      type: String,
      required: true,
    },
    features: {
      type: Object as PropType<API_CustomEnumeration>,
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
  },
});
</script>

<style scoped>
.features-list {
  list-style-type: none;
  padding: 0;
}
.card {
  border-radius: 5px;
}
.content {
  background-color: #292b33;
  padding: 30px;
}
.header {
  padding: 30px;
  background-size: cover;
  background-position: center;
}
.bonus-code {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}
.type {
  color: #fff;
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
}
.features-list > li {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  padding: 5px 0;
}
.bonus-btn {
  margin-top: 15px;
  font-size: 14px;
}
.bonus-card {
  border-radius: 5px;
}
:deep(.bonus-btn) {
  background-color: transparent !important;
  border: 1px solid #b446f1;
  padding: 18px !important;
}
:deep(.bonus-btn::after) {
  background-color: #5689de !important;
}
</style>
