<template>
<div class="gutter-example center">
    <a-row :gutter="30">
      <a-col class="gutter-row" v-for="item in items" :key="item" :xl="6">
         <CardCashBack  v-bind="item" :category="bonus.categories[0].name"/>
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import CardCashBack from '../CardCashBack/CardCashBack.vue'
import {
    defineComponent
    }
 from "vue";

export default defineComponent({
  components:{CardCashBack},
    props: {
      items:{
        type:Array,
        required:false
      }

    }
    
})
</script>