<template>
  <a-row type="flex" :gutter="[48, 0]" justify="space-between" align="middle">
    <a-col class="box-title text-center" :xs="{ span: 24 }" :lg="{ span: 7 }">
      <span class="details-title">{{ title }}</span
      ><br />
      <span class="details-developer"
        >By
        <router-link :to="developerLink"> {{ developer }}</router-link></span
      >
    </a-col>
    <a-col class="box-description" :xs="{ span: 24 }" :lg="{ span: 13 }">
      <span class="details-description">{{ description }}</span>
    </a-col>
    <a-col class="box-btn" justify="end" :xs="{ span: 24 }" :lg="{ span: 4 }">
      <a-button size="large" class="general-btn" :href="href">
        <font-awesome-icon
          class="me-2"
          :icon="['fas', 'arrow-alt-circle-right']"
        />
        Play Now
      </a-button>
      <div class="detail-tooltip">
        <a-tooltip placement="bottom">
          <template #title>
            <!-- <a
                  :href="social.href"
                  class="social-icon"
                  target="_blank"
                  v-for="social in socials"
                  :key="social"
                >
                  <font-awesome-icon
                    :icon="['fab', social.icon.name]"
                  ></font-awesome-icon>
                </a> -->

            <div class="social-btn">
              <a
                class="social-icon s-twitter"
                :href="`https://twitter.com/intent/tweet?text=${title};url=${returnCurrentURL};via=Coinflip`"
                target="_blank"
                rel="nofollow"
              >
                <font-awesome-icon
                  :icon="['fab', 'twitter']"
                ></font-awesome-icon></a
              ><a
                class="social-icon s-facebook"
                :href="`https://www.facebook.com/sharer/sharer.php?u=${returnCurrentURL}`"
                target="_blank"
                rel="nofollow"
                ><font-awesome-icon
                  :icon="['fab', 'facebook']"
                ></font-awesome-icon></a
              ><a
                class="social-icon s-pinterest"
                :href="`https://pinterest.com/pin/create/button/?url=${returnCurrentURL};media=h;description=${title}`"
                data-pin-custom="true"
                target="_blank"
                rel="nofollow"
                ><font-awesome-icon
                  :icon="['fab', 'pinterest']"
                ></font-awesome-icon></a
              ><a
                class="social-icon s-linkedin"
                :href="`https://www.linkedin.com/shareArticle?mini=true;url=${returnCurrentURL};title=${title}`"
                target="_blank"
                rel="nofollow"
                ><font-awesome-icon
                  :icon="['fab', 'linkedin']"
                ></font-awesome-icon></a
              ><a
                class="social-icon s-telegram"
                :href="`https://telegram.me/share/url?url=${returnCurrentURL};text=${title}`"
                target="_blank"
                rel="nofollow"
                ><font-awesome-icon
                  :icon="['fab', 'telegram']"
                ></font-awesome-icon></a
              ><a
                class="social-icon s-email"
                :href="`mailto:?subject=${title};body=${returnCurrentURL}`"
                target="_blank"
                rel="nofollow"
                ><font-awesome-icon :icon="['fas', 'inbox']"></font-awesome-icon
              ></a>
            </div>
          </template>
          <span
            >Share this
            <font-awesome-icon :icon="['fas', 'share-alt']" class="share"
          /></span>
        </a-tooltip>
      </div>
    </a-col>
  </a-row>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: false,
    },
    developer: {
      type: String,
      required: false,
    },
    developerLink: {
      type: [String, Object],
      required: false,
    },
    description: {
      type: String,
      required: false,
    },
    href: {
      type: [Object, String],
      required: false,
      default: "/",
    },
  },
  computed: {
    returnCurrentURL(): string {
      return window.location.href;
    },
  },
});
</script>

<style scoped>
.details-title {
  font-weight: 700;
  font-size: 30px;
}
.details-developer {
  color: #686868;
  font-size: 16px;
}
.box-title {
  border-right: 1px solid #eeebeb;
  padding: 15px;
}
.details-description {
  font-size: 17px;
  line-height: 1.75em;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
  line-height: 1.5em;
}

.detail-tooltip {
  font-size: 15px;
  color: #808080;
}
@media (max-width: 767.98px) {
  .box-description {
    margin: 0;
  }
}
.social-icon {
  color: white;
  margin: 0px 10px;
}
</style>
