<template>
  <nav class="d-flex align-items-center justify-content-between">
    <!-- LOGO -->
    <h1 class="logo m-0">
      <router-link to="/">
        <img
          :src="
            $getFileSource(logo === undefined ? 'images/logos/logo.png' : logo)
          "
          :alt="siteName"
        />
      </router-link>
    </h1>
    <!-- NAV MENU -->
    <div id="navbar" class="ms-auto hide-on-mobile">
      <ul class="menu m-0">
        <li
          class="menu-item position-relative"
          v-for="(link, i) in links"
          :key="link"
          :class="{ 'last-menu-item': i === links.length - 1 }"
        >
          <badge
            class="badge"
            v-if="link.badge"
            :text="link.badge.text"
            :type="link.badge.type"
            :position="{ 'top-right': 'top-right' }"
          ></badge>

          <router-link
            v-if="link.type === 'INTERNAL'"
            :to="removeBlankLink(link.path)"
            >{{ link.title }}</router-link
          >

          <a v-else :href="link.title === 'Home' ? process.env.VUE_APP_PATH : link.path">{{ link.title }}</a>

          <transition name="slideTop" v-if="link.items !== null">
            <component
              :is="'Submenu'"
              class="submenu"
              :items="link.items"
              :menuPath="replaceBlankLink(link.path)"
              :itemsPerRow="100"
            ></component>
          </transition>
        </li>

        <template v-if="socials">
          <li class="socials-separator"></li>

          <li class="social_links" v-for="social in socials" :key="social">
            <a :href="social.link.href">
              <font-awesome-icon
                :icon="[
                  convertTextToIconType(social.icon.type),
                  social.icon.name,
                ]"
                class="icon"
              />
            </a>
          </li>
        </template>
      </ul>
    </div>

    <div class="bars d-flex d-md-none center">
      <font-awesome-icon
        :icon="['fas', 'bars']"
        @click="showMobile = !showMobile"
      ></font-awesome-icon>
    </div>
  </nav>
  <mobile-menu
    class="d-block d-md-none"
    :items="links"
    @menuSelected="showMobile = !showMobile"
    v-if="showMobile"
  ></mobile-menu>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import Submenu from "../Submenu/Submenu.vue";
import { SocialLink, API_Menu_Link } from "../../types";
import Badge from "../Badge/Badge.vue";
import convertTextToIconType from "../../misc/helpers/convertTextToIconType";
import MobileMenu from "../../components/MobileMenu.vue";

export default defineComponent({
  components: {
    Submenu,
    Badge,
    MobileMenu,
  },
  props: {
    links: {
      type: Object as PropType<API_Menu_Link[]>,
      required: true,
    },
    socials: {
      type: Object as PropType<SocialLink[]>,
      required: false,
    },
    logo: {
      type: String,
    },
    siteName: {
      type: String,
    },
  },
  data() {
    return {
      showMobile: false,
    };
  },
  setup() {
    function removeBlankLink(link: string): string {
      if (link.includes("[blank]")) {
        return "";
      }
      return link;
    }
    function replaceBlankLink(link: string): string {
      if (link.includes("[blank]")) {
        return link;
      }
      return "";
    }
    return { convertTextToIconType, removeBlankLink, replaceBlankLink };
  },
});
</script>

<style scoped>
/** NAVBAR */
nav {
  z-index: 200;
  clear: both;
  border: 0 none;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
  position: relative;
  min-height: 72px;
  padding: 0 15px;
}
.bars {
  border: 3px solid #151515;
  padding: 5px 10px;
}
.bars > svg {
  width: 20px;
  height: 20px;
}
/** LOGO */
.logo img {
  max-width: 119px;
}

.badge {
  top: 10px !important;
}

/** NAVBAR ITEMS */
li {
  color: #151515;
  display: block;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 34px;
  padding: 19px 15px;
  transition: all 250ms ease-in-out 0s;
}

ul > li {
  display: inline-block;
}

li a {
  text-decoration: none;
}

.socials-separator {
  height: 1px;
  background: transparent;
  width: 25px;
}

/** SUBMENU */
.menu-item:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.last-menu-item .submenu {
  left: -50%;
}
.submenu {
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  transform: translateY(50px);
}

.is-megamenu.submenu {
  right: -600px;
}
</style>
