<template>
  <loading-page-anim :loading="loading && linksLoading"></loading-page-anim>

  <div>
    <main-nav
      v-if="!loading && !linksLoading"
      :siteName="menu.siteName"
      :logo="menu.logo.url"
      :links="links"
      :socials="menu.socials"
    ></main-nav>
    <router-view class="overflow-hidden" v-slot="{ Component }">
      <transition name="fade">
        <component :is="Component" :key="$route.fullPath" />
      </transition>
    </router-view>
    <Footer />
  </div>

  <a-back-top class="back-to-top " />
</template>

<script lang="ts">
import Footer from "./components/Footer/Footer.vue";
import { defineComponent } from "vue";
import MainNav from "./components/MainNav/MainNav.vue";
import fetchMenu from "./misc/composition/fetchMenu";
import fetchMenuLinks from "./misc/composition/fetchMenuLinks";
import LoadingPageAnimVue from "./components/LoadingPageAnim.vue";

export default defineComponent({
  name: "app",
  components: {
    Footer,
    MainNav,
    LoadingPageAnimVue,
  },
  setup() {
    const { menu, loading } = fetchMenu();
    const { menu: links, loading: linksLoading } = fetchMenuLinks();
    return { menu, links, loading, linksLoading };
  },
});
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.back-to-top {
  background: #389d29;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 20%),
    0px 0px 15px 0px rgb(0 0 0 / 1%);
    overflow: hidden;
}
.back-to-top svg {
  color: #fff;
  z-index: 2;
  position: relative;
}
.back-to-top:not(.no-anim):hover::after {
  transform: scaleY(1);
}
.back-to-top::after {
    content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fab702;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 0px;
  background: #151515 !important;
}
.back-to-top .ant-back-top-content {
  background-color: transparent;
}
</style>
