<template>
  <div>
    <div class="label_text_percentage centerV justify-content-between">
      <span>{{ title }}</span>
      <span>{{ percentage }}%</span>
    </div>
    <a-progress :percent="percentage" :show-info="false"></a-progress>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: true
    },
    percentage: {
      type: Number,
      required: true,
      validator: (val:number) => val <= 100
    }
  }
});
</script>

<style scoped>
:deep(.ant-progress-bg) {
  background-color: #389d29;
  border-radius: 0 !important;
  height: 5px !important;
}
span {
  font-size: 15px;
  font-weight: 500;
}
.label_text_percentage {
  margin-bottom: -6px;
}
</style>
