<template>
  <div
    class="d-flex overflow-hidden position-relative"
    :class="{ 'flex-row-reverse': rtl }"
  >
    <div class="position-absolute align-items-center position-absolute-stretch">
      <div
        class="container h-100 d-flex align-items-center"
        :class="{ 'justify-content-end': rtl }"
      >
        <div class="wrapper">
          <slot></slot>
        </div>
      </div>
    </div>

    <div class="side hide-on-mobile side-one"></div>
    <div class="side hide-on-mobile side-two">
      <img :src="$getFileSource(thumbnail.url)" />
    </div>
  </div>
</template>

<script lang="ts">
import { Thumbnail } from "../../types";
import { PropType } from "@vue/runtime-core";
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    thumbnail: Object as PropType<Thumbnail>,
    rtl: {
      type: Boolean,
      default: false,
    },
  },
});
</script>

<style scoped>
/** IMAGE */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/** CONTAINER */
.position-relative {
  background: #f9f9f9;
  height: 600px;
}
.side {
  width: 50%;
}
@media (max-width: 768px) {
  .side {
    width: 100% !important;
  }
  .wrapper {
    padding-top: 50px;
    width: 100% !important;
  }
  .container {
    display: block !important;
  }
}
/** CONTENT */
.wrapper {
  width: 40%;
}
</style>
