<template>
  <div
    class="search-casinos center"
    :style="{
      'background-image':
        'url(' +
        require('../../assets/images/demosimages/Main-Banner.jpeg') +
        ')',
    }"
  >
    <div>
      <div class="center">
        <SectionHeading
          :title="title"
          :subtitle="subtitle"
          :description="description"
        />
      </div>
      <div class="center">
        <slot>
          <a-input-search
            class="search-casino"
            v-model:value="value"
            placeholder="Search for casinos"
            enter-button="Search"
            size="large"
          />
        </slot>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import SectionHeading from "../SectionHeading/SectionHeading.vue";
export default defineComponent({
  components: { SectionHeading },
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      value: "",
    };
  },
});
</script>
<style scoped>
.section-heading {
  color: #151515;
}
.search-casinos {
  padding: 140px 0;

  background-size: cover;
}
:deep(.ant-input-group-wrapper) {
  max-width: 550px;
}
:deep(.section-title) {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 5px;
}
:deep(.description) {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
:deep(.heading::after) {
  background-color: #fff !important;
}

:deep(.ant-input) {
  border-radius: 45px !important;
  padding: 17px;
  width: 100%;
}
:deep(.ant-input-group-addon) {
  border-radius: 45px !important;
  background: transparent;
}
:deep(.ant-input-search-button) {
  background-color: #151515;
  border: 0;
  border-radius: 45px !important;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding:8px 18px;
}
:deep(.ant-input-search-button:hover) {
  background-color: #151515 !important;
}
:deep(.description) {
  width: 100%;
}
.search-casino {
  position: relative;
  width: 70%;
  margin-top: 30px;
}
</style>
