<template>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-block">
      <span class="title">{{ title }}</span>
      <br />
      <span class="subtitle">{{ subtitle }}</span>
    </div>
    <div>
      <a-button class="button" size="large" :href="$router.resolve(href).href" >All Casinos</a-button>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    href: {
      type: [String, Object],
      default: "/"
    }
  },
});
</script>
<style scoped>
.title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 5px;
  color: #fff;
}
.subtitle {
  color: #636363;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.button {
  border: 1px solid grey;
  margin-right: 0;
  border-radius: 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: white;
  padding: 0 25px !important;
  height: fit-content;
}
</style>
