<template>
  <div class="wrapper hide-on-mobile">
    <div class="d-flex align-items-center justify-content-lg-between container">
      <h2 class="separate">How It Works</h2>

      <div class="d-flex align-items-center bg">
        <div>
          <h2>Deposit</h2>
          <p>No registration</p>
        </div>

        <div>
          <h2>Play</h2>
          <p>Go For It</p>
        </div>

        <div>
          <h2>Cash Out</h2>
          <p>Your Winnings</p>
        </div>
      </div>

      <div class="separate">
        <p>Payouts in:</p>
        <h2>{{ payoutTimeout }} Minutes</h2>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    payoutTimeout: {
      type: Number,
      required: true,
    },
  },
});
</script>

<style scoped>
h2 {
  font-size: 17px;
  color: #000000;
  line-height: 20px;
  text-align: center;
  margin-bottom: 2px;
  font-weight: 600;
}
p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9ea0a2;
  margin-bottom: 0;
}
.bg {
  background: url("../../assets/images/misc/how-it-works-arrow-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0 80px;
}
.bg > div:not(:first-child) {
  margin-left: 70px;
}
.container {
  height: 83px;
}
.wrapper {
  background: #f7f7f7;
}
</style>
