<template>
  <div class="position-relative">
    <div class="badge-card" v-if="badgeText">
      <span>{{ badgeText }}</span>
    </div>
    <div>
      <img
        class="card-game-thumbnail"
        v-if="thumbnail"
        :src="$getFileSource(thumbnail.url)"
      />
    </div>
    <div class="content d-flex flex-column text-center">
      <router-link class="card-link" :to="href">
        <h3 class="title">{{ title }}</h3>
      </router-link>
      <p class="description">{{ description }}</p>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Thumbnail } from "../../types";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    href: {
      type: String,
      required: true,
      default: "/"
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
    badgeText: {
      type: String,
      required: false,
    },
  },
});
</script>
<style scoped>
.badge-card {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  background: #5689de;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 5px;
}
.content {
  background: #292b33;
  border-radius: 0px 0px 10px 10px;
  padding: 30px 20px;
  overflow: hidden;
}
.title {
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 10px;
}
a {
  text-decoration-color: #5689de !important;
}
.title:hover {
  color: #5689de;
}
.description {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 25px;
  font-family: Raleway;
  font-weight: 400;
  color: #686868;
}
.card-game-thumbnail {
  width: 100%;
}
.card-link > a {
  background: #5689de;
}
</style>
