<template>
  <article class="card anim-shadow-hover anim-translateY-hover">
    <div class="thumbnail" v-if="thumbnail">
      <img class="image-thumbnail" :src="$getFileSource(thumbnail.url)" />
    </div>
    <div class="blog_custom" :class="{'pt-0' : thumbnail}">
      <div class="date">
        {{ $formatDate(date) }}
      </div>
      <div class="post-details col-md-12">
        <div class="title-n-excerpt">
          <h3 class="post-name row">
            <router-link :to="href">{{ title }}</router-link>
          </h3>
          <div class="post-excerpt row">
            <p>{{ description }}</p>
          </div>
        </div>
        <div class="author">
          by:
          <router-link :to="author.href">{{ author.name }}</router-link>
        </div>
      </div>
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

import { Author, Thumbnail } from "../../types";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    date: {
      type: Date,
      default: function () {
        return new Date();
      },
      required: false,
    },
    description: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>
    },
    href: {
      type: [String, Object],
      default: "/",
      required: true,
    },
    author: {
      type: Object as PropType<Author>,
      required: true,
    },
  },
});
</script>

<style scoped>
.thumbnail {
  overflow: hidden;
  height: 250px;
}
/** CARD */
.card {
  background: white;
  transition: all 250ms ease;
  box-shadow: 0 0 20px rgb(0 0 0 / 7%);
}
img {
  width: 100%;
  object-fit: cover;
}
/** DESCRIPTION */
p {
  margin: 20px 0;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/** LIMIT TITLE ROWS */
.post-name a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/** TITLE */
h3 {
  font-size: 20px;
  line-height: 1.4 !important;
  font-weight: 600;
  text-transform: none;
}

.date {
  color: #616161;
  line-height: 1;
  font-size: 15px;
  display: block;
  padding-bottom: 5px;
  font-weight: 600;
  margin-bottom: 15px;
}

.author {
  border-top: 2px solid #ececec;
  padding-top: 20px;
  font-size: 15px;
  color: #616161;
  font-weight: 600;
  vertical-align: bottom;
}

.author a {
  color: #389d29 !important;
}
.post-excerpt p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog_custom {
    padding: 30px 20px;
}
</style>
