<template>
  <div class="heading" :class="{ removeBorderBottom }">
    <div class="subtitle" v-if="subtitle">{{ subtitle }}</div>
    <h2 class="section-title dark_title">{{ title }}</h2>
    <div class="description hide-on-mobile" v-if="description">{{ description }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
    },
    description: {
      type: String,
    },
    removeBorderBottom: {
      type: Boolean,
      default: false,
    },
  },
});
</script>

<style scoped>
.heading:not(.removeBorderBottom)::after {
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  background: #fab702;
}

.subtitle {
  color: #636363;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 5px;
  color: #151515;
}

.description {
  width: 65%;
  color: #636363;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
</style>
