<template>
  <div class="reply-box">
    <div>
      <div class="form-text">
        <span class="reply-to" v-if="isReply">
          Reply to {{ replyAuthorName }}
        </span>
        <span class="reply-to new-comment" v-else> Leave a comment </span>
        <a-button
          class="reply-cancel"
          v-if="isReply"
          type="link"
          @click="$emit('onCloseReply')"
        >
          Cancel reply
        </a-button>
      </div>
    </div>
    <a-form
      v-if="formState"
      ref="formRef"
      :model="formState"
      :rules="rules"
      class="form-comment"
      layout="horizontal"
      :validateFirst="true"
      @submit="onSubmit"
    >
      <a-form-item ref="content" name="content">
        <a-textarea
          class="form-textarea"
          v-model:value="formState.content"
          placeholder="Your comment"
          :auto-size="{ minRows: 5, maxRows: 10 }"
        />
      </a-form-item>

      <div class="forms-inputs">
        <a-row :gutter="[45, 45]">
          <a-col :xs="{ span: 24 }" :lg="{ span: 8 }">
            <a-form-item ref="authorName" name="authorName">
              <a-input
                v-model:value="formState.authorName"
                class="form-input"
                placeholder="Your name"
              >
                <template #suffix>
                  <font-awesome-icon
                    class="dropdown-icon"
                    :icon="['far', 'user']"
                  />
                </template>
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="{ span: 24 }" :lg="{ span: 8 }">
            <a-form-item ref="authorEmail" name="authorEmail">
              <a-input
                v-model:value="formState.authorEmail"
                class="form-input"
                placeholder="Your email"
              >
                <template #suffix>
                  <font-awesome-icon :icon="['far', 'envelope']" />
                </template>
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="{ span: 24 }" :lg="{ span: 8 }">
            <a-form-item ref="authorWebsite" name="authorWebsite">
              <a-input
                v-model:value="formState.authorWebsite"
                class="form-input"
                placeholder="Your website"
              >
                <template #suffix>
                  <font-awesome-icon
                    class="dropdown-icon"
                    :icon="['fas', 'globe']"
                  />
                </template>
              </a-input>
            </a-form-item>
          </a-col>
        </a-row>
        <div class="d-flex justify-content-end">
          <a-button class="general-btn" @click="onSubmit"
            >Post {{ !isReply ? "Comment" : "Reply" }}</a-button
          >
        </div>
      </div>
    </a-form>
  </div>
</template>

<script lang="ts">
import { ValidateErrorEntity } from "ant-design-vue/es/form/interface";
import {
  defineComponent,
  reactive,
  ref,
  UnwrapRef,
  PropType,
  watch,
} from "vue";
import submitComment from "../../misc/composition/postComment";
import { API_Comment, CommentCTX } from "../../types";

export default defineComponent({
  setup(props, { emit }) {
    const formRef = ref();
    const formState: UnwrapRef<API_Comment> = reactive({
      authorId: 0,
      authorName: "",
      authorEmail: "",
      authorWebsite: "",
      content: "",
      threadOf: props.ctx?.id, // id of comment we would like to start / continue the thread (Optional)
      related: [
        {
          refId: 0,
          ref: props.ctx?.contentType ?? "blog",
          field: "comments",
        },
      ],
    });
    const rules = {
      authorName: [
        {
          required: true,
          message: "Please complete your name",
          trigger: "blur",
        },
        {
          min: 2,
          message: "Length should be greatear than 2",
          trigger: "blur",
        },
      ],
      authorWebsite: [
        {
          required: false,
          message: "Please complete your website",
          trigger: "blur",
        },
      ],
      authorEmail: [
        {
          required: true,
          message: "Please complete your email",
          trigger: "blur",
          type: "email",
        },
        { type: "email", message: "Invalid email format", trigger: "blur" },
      ],
      content: [
        {
          required: true,
          message: "Please complete your comment",
          trigger: "blur",
        },
      ],
    };
    const onSubmit = () => {
      formRef.value
        .validate()
        .then(() => {
          const { postComment, loading: isCommentLoading } = submitComment(
            formRef.value.getFieldsValue(),
            props.ctx
          );
          postComment();
          watch(isCommentLoading, () => {
            if (!isCommentLoading.value) {
              emit("onRefreshComments");
            }
          });
        })
        .catch((error: ValidateErrorEntity<API_Comment>) => {
          console.log("error", error);
        });
    };
    const resetForm = () => {
      formRef.value.resetFields();
    };
    return {
      formRef,
      labelCol: { span: 4 },
      wrapperCol: { span: 14 },
      other: "",
      formState,
      rules,
      onSubmit,
      resetForm,
    };
  },
  props: {
    isReply: {
      type: Boolean,
      default: false,
    },
    ctx: {
      type: Object as PropType<CommentCTX>,
      required: true,
    },
    replyAuthorName: {
      type: String,
    },
  },
});
</script>
<style scoped>
.reply-box {
  flex-wrap: wrap;
}
.form-input,
.form-textarea {
  border-radius: 5px;
}
.form-textarea {
  padding: 12px;
}
.form-textarea,
.form-input {
  border: 1px solid #e0e0e0 !important;
  padding: 12px;
  width: 100%;
  color: #686868;
  outline: 0;
  font-size: 17px;
}
:deep(input),
:deep(textarea) {
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #686868;
}
:deep(input):focus,
:deep(textarea):focus {
  outline: none;
  border: 1px solid #e0e0e0 !important;
  box-shadow: none;
}
.form-input {
  padding: 12px;
}
.reply-to {
  font-size: 20px;
  font-weight: 600;
}
.reply-to.new-comment {
  font-size: 26px;
  font-weight: 700;
}
.reply-cancel {
  font-weight: 300;
  color: #252525;
}
.svg-inline--fa {
  color: rgba(128, 128, 128, 0.5);
}
.form-comment {
  margin-top: 10px !important;
}
.form-textarea,
.form-comment {
  margin-top: 4px;
  margin-bottom: 17px;
}
</style>
