<template>
  <div class="action-section center">
    <div class="content center flex-column">
      <div class="center">
        <img
          class="action-section-logo"
          v-if="thumbnail"
          :src="$getFileSource(thumbnail.url)"
        />
      </div>
      <div class="text-center">
        <h2 class="title mb-0">{{ title }}</h2>
        <p class="description">{{ description }}</p>
      </div>
      <a-button class="general-btn action-btn no-anim"
        >join coinflip now</a-button
      >
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Thumbnail } from "@/types";
export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: Object as PropType<Thumbnail>,
      required: true,
    },
  },
});
</script>
<style scoped>
.action-section {
  background-image: url("../../assets/images/demosimages/background-section.png");
  /* height:350px; */
  background-size: 110%;
  background-position: center;
}
.content {
  padding: 50px 15px;
  max-width: 60%;
  background-color: #2b2e39;
}
.action-section-logo {
  max-width: 105px;
}
.title {
  color: #ffffff;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.description {
  color: #7f7f80;
  font-size: 16px;
  text-align: center;
  padding:0 20px;
  margin:0;
}
.action-btn {
  background-color: #5184d8 !important;
  border-color: #5184d8;
  color: #fff;
  padding: 12px 45px !important;
  border: none;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  margin-top: 30px;
  margin-top: 30px;
}
</style>
