<template>
  <p v-html="description"></p>

  <ul>
    <li v-for="item in items" :key="item">
      <font-awesome-icon :icon="['fas', 'check-circle']" class="icon" />
      {{ item }}
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
  props: {
    description: {
      type: String,
    },
    items: {
      type: Object as PropType<String[]>,
    },
  },
});
</script>

<style scoped>
p {
  padding-bottom: 15px;
}
ul {
  list-style-type: none;
  padding: 0;
}
.icon {
  color: #389d29 !important;
  margin-right: 10px;
}
li {
  line-height: 35px;
  color: #686868;
  font-size: 15px;
  font-weight: 300;
  line-height: 35px;
  opacity: 1;
  visibility: visible;
}
</style>
